Repository dotnet/dotnet-docker, pull requests merged in 2020-11, with the labels that each got.

#2398 Fix broken links in the SDK readme
  README.sdk.md
  eng/readme-templates/Use.sdk.md
Labels: area-documentation

#2399 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#2401 Update PowerShell to 7.2.0-preview.1
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2009/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-dockerfiles

#2404 Ensure ImageBuilder is pulled before running tests
  build-and-test.ps1
  eng/common/Get-ImageBuilder.ps1
  eng/common/Invoke-ImageBuilder.ps1
  tests/run-tests.ps1
Labels: area-infrastructure

#2405 Change branding of Windows Server, version 2009 to 20H2
  README.aspnet.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  documentation/scenarios/installing-dotnet.md
  documentation/scenarios/using-system-drawing-common.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/samples-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.samples.json
  samples/aspnetapp/Dockerfile.nanoserver-x64
  samples/aspnetapp/Dockerfile.nanoserver-x64-slim
  samples/dotnetapp/Dockerfile.nanoserver-x64
  samples/dotnetapp/Dockerfile.nanoserver-x64-slim
  samples/dotnetapp/README.md
  samples/selecting-tags.md
  src/aspnet/2.1/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/3.1/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-20H2/amd64/Dockerfile
  src/runtime/2.1/nanoserver-20H2/amd64/Dockerfile
  src/runtime/3.1/nanoserver-20H2/amd64/Dockerfile
  src/runtime/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/2.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.windows.json
Labels: area-dockerfiles

#2410 Update ImageBuilder tag
  eng/common/templates/variables/docker-images.yml
Labels: area-infrastructure

#2411 Update job name for Windows 20H2 to match build matrix output
  eng/common/templates/stages/build-test-publish-repo.yml
Labels: area-infrastructure

#2413 Update ImageBuilder tag
  eng/common/templates/variables/docker-images.yml
Labels: area-infrastructure

#2414 Remove unintended syndication of 20H2 tags
  manifest.json
Labels: area-dockerfiles

#2418 Update ImageBuilder tag
  eng/common/templates/variables/docker-images.yml
Labels: area-infrastructure

#2419 Update ImageBuilder tag
  eng/common/templates/variables/docker-images.yml
Labels: area-infrastructure

#2420 Update image size baselines for Bionic
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#2423 Upgrade update-dependencies tool to 5.0
  eng/update-dependencies/Dockerfile
  eng/update-dependencies/update-dependencies.csproj
Labels: area-infrastructure
