Repository dotnet/dotnet-docker, pull requests merged in 2020-12, with the labels that each got.

#2428 Sample Dockerfiles for Windows Server Core
  samples/aspnetapp/Dockerfile.windowsservercore-x64
  samples/aspnetapp/Dockerfile.windowsservercore-x64-slim
  samples/dotnetapp/Dockerfile.windowsservercore-x64
  samples/dotnetapp/Dockerfile.windowsservercore-x64-slim
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-samples

#2429 Added microsoft/Windows-Containers link to the issues template
  .github/ISSUE_TEMPLATE/config.yml
Labels: area-infrastructure

#2432 Merge master to nightly
  .github/ISSUE_TEMPLATE/config.yml
  README.aspnet.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/README.md
  eng/readme-templates/Use.sdk.md
Labels: area-infrastructure

#2436 Update dotnet-monitor version detection and pull package from Azure Artifacts feed.
  eng/dockerfile-templates/monitor/5.0/Dockerfile.alpine
  eng/get-drop-versions-monitor.sh
  eng/pipelines/update-dependencies.yml
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Labels: area-infrastructure

#2437 Merge master to nightly
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.versions.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/focal/arm32v7/Dockerfile
  src/runtime/5.0/focal/arm64v8/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/nanoserver-20H2/amd64/Dockerfile
  src/runtime/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-dockerfiles, area-infrastructure

#2442 Remove Nano Server 1903 Dockerfiles due to EOL
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/2.1/nanoserver-1903/amd64/Dockerfile
  src/aspnet/3.1/nanoserver-1903/amd64/Dockerfile
  src/runtime/2.1/nanoserver-1903/amd64/Dockerfile
  src/runtime/3.1/nanoserver-1903/amd64/Dockerfile
  src/sdk/2.1/nanoserver-1903/amd64/Dockerfile
  src/sdk/3.1/nanoserver-1903/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.windows.json
Labels: area-dockerfiles

#2444 Remove Nano Server 1903 Dockerfiles due to EOL (#2442)
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/2.1/nanoserver-1903/amd64/Dockerfile
  src/aspnet/3.1/nanoserver-1903/amd64/Dockerfile
  src/runtime/2.1/nanoserver-1903/amd64/Dockerfile
  src/runtime/3.1/nanoserver-1903/amd64/Dockerfile
  src/sdk/2.1/nanoserver-1903/amd64/Dockerfile
  src/sdk/3.1/nanoserver-1903/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.windows.json
Labels: area-dockerfiles

#2454 Add PowerShell 7.2.0-preview.2
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-dockerfiles
