Repository dotnet/dotnet-docker, pull requests merged in 2021-06, with the labels that each got.

#2850 Updates to image size baselines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#2859 Split 5.0 runtime-deps Buster tags to have separate product version
  manifest.json
Labels: area-infrastructure

#2871 Remove apply .NET Fx patch since it exists in base image
  eng/dockerfile-templates/runtime/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/runtime/6.0/Dockerfile.windowsservercore
  src/runtime/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2873 5.0 on Alpine 3.12 Arm32 not supported
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  manifest.json
  src/aspnet/5.0/alpine3.12/arm32v7/Dockerfile
  src/runtime-deps/5.0/alpine3.12/arm32v7/Dockerfile
  src/runtime/5.0/alpine3.12/arm32v7/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#2874 Merge main to nightly
  eng/dockerfile-templates/runtime/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/runtime/6.0/Dockerfile.windowsservercore
  src/runtime/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2841 Add Dockerfiles for CBL-Mariner
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
  CONTRIBUTING.md
  eng/Set-DotnetVersions.ps1
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/3.1/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime/3.1/Dockerfile.mariner
  eng/dockerfile-templates/runtime/5.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime/6.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/3.1/Dockerfile.mariner
  eng/dockerfile-templates/sdk/5.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/6.0/Dockerfile.mariner
  eng/pipelines/update-dependencies.yml
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/Options.cs
  eng/update-dependencies/VersionUpdater.cs
  manifest.json
  manifest.versions.json
  src/aspnet/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#2877 Delete Alpine 3.12 Dockerfiles, no longer supported
  CONTRIBUTING.md
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/2.1/alpine3.12/amd64/Dockerfile
  src/aspnet/3.1/alpine3.12/amd64/Dockerfile
  src/aspnet/3.1/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime-deps/2.1/alpine3.12/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.12/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.12/arm64v8/Dockerfile
  src/runtime/2.1/alpine3.12/amd64/Dockerfile
  src/runtime/3.1/alpine3.12/amd64/Dockerfile
  src/runtime/3.1/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/sdk/2.1/alpine3.12/amd64/Dockerfile
  src/sdk/3.1/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#2879 Delete Alpine 3.12 Dockerfiles, no longer supported (#2877)
  CONTRIBUTING.md
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/2.1/alpine3.12/amd64/Dockerfile
  src/aspnet/3.1/alpine3.12/amd64/Dockerfile
  src/aspnet/3.1/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime-deps/2.1/alpine3.12/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.12/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.12/arm64v8/Dockerfile
  src/runtime/2.1/alpine3.12/amd64/Dockerfile
  src/runtime/3.1/alpine3.12/amd64/Dockerfile
  src/runtime/3.1/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/sdk/2.1/alpine3.12/amd64/Dockerfile
  src/sdk/3.1/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#2882 Rolling back the SDK for 6.0 Preview 5 to the official build version
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2881 Add Dockerfiles for CBL-Mariner (#2841)
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/3.1/Dockerfile.mariner
  eng/dockerfile-templates/runtime/3.1/Dockerfile.mariner
  eng/dockerfile-templates/runtime/5.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/3.1/Dockerfile.mariner
  eng/dockerfile-templates/sdk/5.0/Dockerfile.mariner
  manifest.json
  src/aspnet/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/5.0/cbl-mariner1.0/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#2888 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure

#2901 Fix windows checksums
  manifest.versions.json
  src/aspnet/6.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/6.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/6.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/6.0/nanoserver-20H2/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-external

#2896 Update dotnet-monitor environment variable test.
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
Labels: area-infrastructure

#2899 Syndicate sample tags to old dotnet/core/samples repository
  manifest.samples.json
Labels: area-samples

#2898 Reenables test for 5.0 on Alpine arm
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
Labels: area-infrastructure

#2902 Merge main to nightly
  manifest.versions.json
  src/aspnet/6.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/6.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/6.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/6.0/nanoserver-20H2/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-external

#2903 Updated 6.0 images to use latest PowerShell Preview build 7.2.0-preview.7
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2906 Fix update-dependencies to handle PowerShell shas
  eng/update-dependencies/DockerfileShaUpdater.cs
Labels: area-infrastructure

#2907 Fix update-dependencies checksum resolution logic
  eng/update-dependencies/DockerfileShaUpdater.cs
Labels: area-infrastructure

#2909 Update image size baseline
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#2916 Fix typo in build-server shutdown
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
Labels: area-infrastructure

#2925 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#2930 Remove test workaround for PowerShell crash in 6.0
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure
