Repository dotnet/dotnet-docker, pull requests merged in 2021-07, with the labels that each got.

#2908 Add IIS Support to Windows Server Core images for .NET 6
  samples/aspnetapp/Dockerfile.windowsservercore-iis-x64
  samples/aspnetapp/README.md
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-samples

#2948 Test readme publishing by introducing a diff
  README.sdk.md
Labels: area-documentation

#2949 Revert "Test readme publishing by introducing a diff (#2948)"
  README.sdk.md
Labels: area-infrastructure

#2939 Add Dockerfiles for Alpine 3.14
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/2.1/alpine3.14/amd64/Dockerfile
  src/aspnet/3.1/alpine3.14/amd64/Dockerfile
  src/aspnet/3.1/alpine3.14/arm64v8/Dockerfile
  src/aspnet/5.0/alpine3.14/amd64/Dockerfile
  src/aspnet/5.0/alpine3.14/arm32v7/Dockerfile
  src/aspnet/5.0/alpine3.14/arm64v8/Dockerfile
  src/aspnet/6.0/alpine3.14/amd64/Dockerfile
  src/aspnet/6.0/alpine3.14/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.14/arm64v8/Dockerfile
  src/runtime-deps/2.1/alpine3.14/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.14/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.14/arm64v8/Dockerfile
  src/runtime-deps/5.0/alpine3.14/arm32v7/Dockerfile
  src/runtime/2.1/alpine3.14/amd64/Dockerfile
  src/runtime/3.1/alpine3.14/amd64/Dockerfile
  src/runtime/3.1/alpine3.14/arm64v8/Dockerfile
  src/runtime/5.0/alpine3.14/amd64/Dockerfile
  src/runtime/5.0/alpine3.14/arm32v7/Dockerfile
  src/runtime/5.0/alpine3.14/arm64v8/Dockerfile
  src/runtime/6.0/alpine3.14/amd64/Dockerfile
  src/runtime/6.0/alpine3.14/arm32v7/Dockerfile
  src/runtime/6.0/alpine3.14/arm64v8/Dockerfile
  src/sdk/2.1/alpine3.14/amd64/Dockerfile
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/5.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.14/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#2952 Update image size baseline
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#2968 Updates for .NET 6 Preview 6
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/dockerfile-templates/runtime/6.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/6.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  manifest.versions.json
  src/aspnet/6.0/alpine3.13/amd64/Dockerfile
  src/aspnet/6.0/alpine3.13/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.13/arm64v8/Dockerfile
  src/aspnet/6.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/6.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/6.0/bullseye-slim/arm64v8/Dockerfile
  src/aspnet/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/6.0/focal/amd64/Dockerfile
  src/aspnet/6.0/focal/arm32v7/Dockerfile
  src/aspnet/6.0/focal/arm64v8/Dockerfile
  src/aspnet/6.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/6.0/alpine3.13/amd64/Dockerfile
  src/runtime/6.0/alpine3.13/arm32v7/Dockerfile
  src/runtime/6.0/alpine3.13/arm64v8/Dockerfile
  src/runtime/6.0/bullseye-slim/amd64/Dockerfile
  src/runtime/6.0/bullseye-slim/arm32v7/Dockerfile
  src/runtime/6.0/bullseye-slim/arm64v8/Dockerfile
  src/runtime/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/6.0/focal/amd64/Dockerfile
  src/runtime/6.0/focal/arm32v7/Dockerfile
  src/runtime/6.0/focal/arm64v8/Dockerfile
  src/runtime/6.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/6.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/6.0/nanoserver-20H2/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2972 Fix RPM checksums for 6.0 Preview 6
  manifest.versions.json
  src/aspnet/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
Labels: area-infrastructure

#2973 Merge main to nightly
  manifest.versions.json
  src/aspnet/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/6.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/6.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/6.0/nanoserver-20H2/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2976 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#2979 Use default process environment variable with lower precedence.
  eng/dockerfile-templates/monitor/5.0/Dockerfile.alpine
  src/monitor/5.0/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
Labels: area-infrastructure

#2986 Updates for .NET Monitor 5.0 Preview 6 release
  README.monitor.md
  eng/dockerfile-templates/monitor/5.0/Dockerfile.alpine
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
Labels: area-infrastructure

#2990 Update PowerShell to v7.2.0-preview.8
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2992 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure
