Repository dotnet/dotnet-docker, pull requests merged in 2021-02, with the labels that each got.

#2564 Initial sizes for Alpine 3.13 arm images
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#2566 Define Alpine 3.13 runtime-deps in 5.0 folder
  README.runtime-deps.md
  manifest.json
  src/runtime-deps/5.0/alpine3.13/amd64/Dockerfile
  src/runtime-deps/5.0/alpine3.13/arm64v8/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#2579 Update 6.0 to latest official preview 1 build
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/buster-slim/amd64/Dockerfile
  src/sdk/6.0/buster-slim/arm32v7/Dockerfile
  src/sdk/6.0/buster-slim/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2580 Fix script to pull Image Builder
  eng/common/Get-ImageBuilder.ps1
Labels: area-infrastructure

#2556 Add dotnet-monitor variable and metrics endpoint tests.
  build-and-test.ps1
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/DotNetTheoryAttribute.cs
  tests/Microsoft.DotNet.Docker.Tests/DotNetTheoryDiscoverer.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/LinuxImageTheoryAttribute.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SkippableTheoryAttribute.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/run-tests.ps1
Labels: area-infrastructure

#2594 Enhancing tagging policy documentation
  documentation/guiding-principles.md
  documentation/platform-matrix-suport.md
  documentation/supported-platforms.md
  documentation/supported-tags.md
  documentation/tagging-guidelines.md
Labels: area-documentation

#2595 Fixup feed
  eng/update-dependencies/NuGet.config
Labels: area-infrastructure

#2601 Fix doc typo
  documentation/supported-tags.md
Labels: area-infrastructure

#2605 Update dotnet-monitor version source and manually update to latest version
  README.monitor.md
  eng/pipelines/update-dependencies.yml
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Labels: area-infrastructure

#2613 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure

#2608 Additional dotnet-monitor tests
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/DockerRunArgsBuilder.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-infrastructure

#2623 Add main branch to list of pipeline trigger branches
  eng/pipelines/dotnet-core-pr.yml
  eng/pipelines/dotnet-core-samples-pr.yml
Labels: area-infrastructure
