Repository dotnet/dotnet-docker, pull requests merged in 2021-08, with the labels that each got.

#3006 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#3008 Prevent generation of ASP.NET Core developer certificate
  eng/dockerfile-templates/sdk/2.1/Dockerfile.alpine
  eng/dockerfile-templates/sdk/2.1/Dockerfile.linux
  eng/dockerfile-templates/sdk/2.1/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/3.1/Dockerfile.alpine
  eng/dockerfile-templates/sdk/3.1/Dockerfile.linux
  eng/dockerfile-templates/sdk/3.1/Dockerfile.mariner
  eng/dockerfile-templates/sdk/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/5.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  src/sdk/2.1/alpine3.13/amd64/Dockerfile
  src/sdk/2.1/alpine3.14/amd64/Dockerfile
  src/sdk/2.1/bionic/amd64/Dockerfile
  src/sdk/2.1/bionic/arm32v7/Dockerfile
  src/sdk/2.1/focal/amd64/Dockerfile
  src/sdk/2.1/focal/arm32v7/Dockerfile
  src/sdk/2.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/2.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/2.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/2.1/stretch/amd64/Dockerfile
  src/sdk/2.1/stretch/arm32v7/Dockerfile
  src/sdk/3.1/alpine3.13/amd64/Dockerfile
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/3.1/bionic/amd64/Dockerfile
  src/sdk/3.1/bionic/arm32v7/Dockerfile
  src/sdk/3.1/bionic/arm64v8/Dockerfile
  src/sdk/3.1/buster/amd64/Dockerfile
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/buster/arm64v8/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/focal/amd64/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm64v8/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/alpine3.13/amd64/Dockerfile
  src/sdk/5.0/alpine3.14/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-documentation

#3029 Update 5.0 SDK to 5.0.400
  README.sdk.md
  manifest.versions.json
  src/sdk/5.0/alpine3.13/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#3030 Merge main to nightly
  README.sdk.md
  manifest.versions.json
  src/sdk/5.0/alpine3.13/amd64/Dockerfile
  src/sdk/5.0/alpine3.14/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#3038 Update PowerShell for .NET 3.1 and .NET 5.0 images
  manifest.versions.json
  src/sdk/3.1/alpine3.13/amd64/Dockerfile
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/3.1/bionic/amd64/Dockerfile
  src/sdk/3.1/bionic/arm32v7/Dockerfile
  src/sdk/3.1/bionic/arm64v8/Dockerfile
  src/sdk/3.1/buster/amd64/Dockerfile
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/buster/arm64v8/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/focal/amd64/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm64v8/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/alpine3.13/amd64/Dockerfile
  src/sdk/5.0/alpine3.14/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-dockerfiles

#3046 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#3035 Add Dockerfiles for Windows Server 2022
  README.aspnet.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  documentation/scenarios/installing-dotnet.md
  documentation/scenarios/using-system-drawing-common.md
  documentation/supported-tags.md
  eng/common/templates/jobs/validate-image-sizes.yml
  eng/dockerfile-templates/runtime/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/runtime/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/runtime/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/runtime/6.0/Dockerfile.windowsservercore
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/samples-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  eng/readme-templates/README.md
  manifest.json
  manifest.samples.json
  samples/aspnetapp/Dockerfile.nanoserver-x64
  samples/aspnetapp/Dockerfile.nanoserver-x64-slim
  samples/aspnetapp/Dockerfile.windowsservercore-x64-slim
  samples/dotnetapp/Dockerfile.nanoserver-x64
  samples/dotnetapp/Dockerfile.nanoserver-x64-slim
  samples/dotnetapp/Dockerfile.windowsservercore-x64-slim
  samples/selecting-tags.md
  src/aspnet/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/aspnet/5.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/aspnet/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/runtime/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/nanoserver-20H2/amd64/Dockerfile
  src/runtime/5.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/runtime/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/5.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/runtime/6.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/6.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/6.0/nanoserver-20H2/amd64/Dockerfile
  src/runtime/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.windows.json
Labels: area-dockerfiles

#3061 Fix samples for WS 2022
  samples/aspnetapp/Dockerfile.windowsservercore-iis-x64
  samples/aspnetapp/Dockerfile.windowsservercore-x64
  samples/aspnetapp/Dockerfile.windowsservercore-x64-slim
  samples/dotnetapp/Dockerfile.windowsservercore-x64
  samples/dotnetapp/Dockerfile.windowsservercore-x64-slim
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-samples

#3050 Updates for 2.1 servicing
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.versions.json
  src/aspnet/2.1/alpine3.13/amd64/Dockerfile
  src/aspnet/2.1/bionic/amd64/Dockerfile
  src/aspnet/2.1/bionic/arm32v7/Dockerfile
  src/aspnet/2.1/focal/amd64/Dockerfile
  src/aspnet/2.1/focal/arm32v7/Dockerfile
  src/aspnet/2.1/nanoserver-1809/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-2004/amd64/Dockerfile
  src/aspnet/2.1/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/2.1/stretch-slim/amd64/Dockerfile
  src/aspnet/2.1/stretch-slim/arm32v7/Dockerfile
  src/runtime/2.1/alpine3.13/amd64/Dockerfile
  src/runtime/2.1/bionic/amd64/Dockerfile
  src/runtime/2.1/bionic/arm32v7/Dockerfile
  src/runtime/2.1/focal/amd64/Dockerfile
  src/runtime/2.1/focal/arm32v7/Dockerfile
  src/runtime/2.1/nanoserver-1809/amd64/Dockerfile
  src/runtime/2.1/nanoserver-2004/amd64/Dockerfile
  src/runtime/2.1/nanoserver-20H2/amd64/Dockerfile
  src/runtime/2.1/stretch-slim/amd64/Dockerfile
  src/runtime/2.1/stretch-slim/arm32v7/Dockerfile
  src/sdk/2.1/alpine3.13/amd64/Dockerfile
  src/sdk/2.1/bionic/amd64/Dockerfile
  src/sdk/2.1/bionic/arm32v7/Dockerfile
  src/sdk/2.1/focal/amd64/Dockerfile
  src/sdk/2.1/focal/arm32v7/Dockerfile
  src/sdk/2.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/2.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/2.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/2.1/stretch/amd64/Dockerfile
  src/sdk/2.1/stretch/arm32v7/Dockerfile
Labels: area-infrastructure

#3066 Include test for published WS 2022 sample images
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-infrastructure

#3070 Update PowerShell to v7.2.0-preview.9
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure

#3071 Image size baseline updates
  eng/common/templates/jobs/validate-image-sizes.yml
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure
