Repository dotnet/dotnet-docker, pull requests merged in 2021-03, with the labels that each got.

#2628 Update dotnet-monitor latest version URL.
  eng/get-drop-versions-monitor.sh
Labels: area-infrastructure

#2626 Replace references to 'master' with 'main'
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
  .github/ISSUE_TEMPLATE/releases/new-distro-release.md
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  .github/ISSUE_TEMPLATE/releases/patch-tuesday-release.md
  CONTRIBUTING.md
  README.aspnet.md
  README.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  documentation/scenarios/installing-dotnet.md
  documentation/supported-tags.md
  eng/common/Invoke-ReadmeGeneration.ps1
  eng/pipelines/dotnet-core-pr.yml
  eng/pipelines/dotnet-core-samples-pr.yml
  eng/readme-templates/Get-GeneratedReadmes.ps1
  eng/readme-templates/README.md
  eng/readme-templates/Use.aspnet.md
  eng/readme-templates/Use.md
  eng/readme-templates/Use.runtime-deps.md
  eng/readme-templates/Use.runtime.md
  eng/readme-templates/Use.samples.md
  eng/readme-templates/Use.sdk.md
  samples/README.md
  samples/aspnetapp/README.md
  samples/build-in-sdk-container.md
  samples/complexapp/README.md
  samples/dotnetapp/README.md
  samples/run-aspnetcore-https-development.md
  samples/run-in-sdk-container.md
  samples/run-tests-in-sdk-container.md
Labels: area-infrastructure

#2627 Update aka.ms path to sdk zip file
  eng/get-drop-versions.sh
Labels: area-infrastructure

#2636 Updates for 5.0 SDK servicing release
  README.sdk.md
  eng/get-drop-versions-monitor.sh
  eng/get-drop-versions.sh
  eng/pipelines/update-dependencies.yml
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/alpine3.13/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/DotNetTheoryAttribute.cs
  tests/Microsoft.DotNet.Docker.Tests/DotNetTheoryDiscoverer.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/LinuxImageTheoryAttribute.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SkippableTheoryAttribute.cs
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure

#2640 Merge main branch to nightly
  README.sdk.md
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/alpine3.13/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2639 Update 6.0 to latest official Preview 2 build
  manifest.versions.json
  src/aspnet/6.0/alpine3.13/amd64/Dockerfile
  src/aspnet/6.0/alpine3.13/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.13/arm64v8/Dockerfile
  src/aspnet/6.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/6.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/6.0/bullseye-slim/arm64v8/Dockerfile
  src/aspnet/6.0/focal/amd64/Dockerfile
  src/aspnet/6.0/focal/arm32v7/Dockerfile
  src/aspnet/6.0/focal/arm64v8/Dockerfile
  src/aspnet/6.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/6.0/alpine3.13/amd64/Dockerfile
  src/runtime/6.0/alpine3.13/arm32v7/Dockerfile
  src/runtime/6.0/alpine3.13/arm64v8/Dockerfile
  src/runtime/6.0/bullseye-slim/amd64/Dockerfile
  src/runtime/6.0/bullseye-slim/arm32v7/Dockerfile
  src/runtime/6.0/bullseye-slim/arm64v8/Dockerfile
  src/runtime/6.0/focal/amd64/Dockerfile
  src/runtime/6.0/focal/arm32v7/Dockerfile
  src/runtime/6.0/focal/arm64v8/Dockerfile
  src/runtime/6.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/6.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/6.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/6.0/nanoserver-20H2/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2617 Consume mirrored tags in build pipeline
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/jobs/copy-base-images.yml
  eng/common/templates/jobs/publish.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/set-dry-run.yml
  eng/common/templates/variables/common.yml
  eng/common/templates/variables/docker-images.yml
Labels: area-infrastructure

#2643 Fix update-dependencies tool issues
  eng/update-dependencies/DockerfileShaUpdater.cs
Labels: area-infrastructure

#2646 Share Alpine 3.13 runtime-deps between 3.1 and 5.0
  README.runtime-deps.md
  manifest.json
  src/runtime-deps/5.0/alpine3.13/amd64/Dockerfile
  src/runtime-deps/5.0/alpine3.13/arm64v8/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#2644 Move dotnet-monitor to Alpine 3.13
  README.monitor.md
  eng/dockerfile-templates/monitor/5.0/Dockerfile.alpine
  manifest.json
  src/monitor/5.0/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-dockerfiles

#2654 Rollback to Ubuntu 18.04 for build agent
  eng/common/templates/variables/common.yml
Labels: area-infrastructure

#2655 Set default value for additionalGenerateBuildMatrixOptions var
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/variables/common.yml
Labels: area-infrastructure

#2657 Update checksums for 6.0 P1 for signed bits
  manifest.versions.json
  src/aspnet/6.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/6.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/6.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/6.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/6.0/nanoserver-20H2/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2669 Update 6.0 Dockerfiles to 6.0 Preview 2
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.versions.json
  src/aspnet/6.0/alpine3.13/amd64/Dockerfile
  src/aspnet/6.0/alpine3.13/arm64v8/Dockerfile
  src/aspnet/6.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/6.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/6.0/bullseye-slim/arm64v8/Dockerfile
  src/aspnet/6.0/focal/amd64/Dockerfile
  src/aspnet/6.0/focal/arm32v7/Dockerfile
  src/aspnet/6.0/focal/arm64v8/Dockerfile
  src/aspnet/6.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/6.0/alpine3.13/amd64/Dockerfile
  src/runtime/6.0/alpine3.13/arm64v8/Dockerfile
  src/runtime/6.0/bullseye-slim/amd64/Dockerfile
  src/runtime/6.0/bullseye-slim/arm32v7/Dockerfile
  src/runtime/6.0/bullseye-slim/arm64v8/Dockerfile
  src/runtime/6.0/focal/amd64/Dockerfile
  src/runtime/6.0/focal/arm32v7/Dockerfile
  src/runtime/6.0/focal/arm64v8/Dockerfile
  src/runtime/6.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/6.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/6.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/6.0/nanoserver-20H2/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2670 Update 6.0 Windows checksums
  manifest.versions.json
Labels: area-external

#2671 Update 6.0 Windows checksums in Dockerfiles
  src/aspnet/6.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/6.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/6.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/6.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/6.0/nanoserver-20H2/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-dockerfiles

#2673 Update PowerShell v7.1.3 and v7.0.6
  manifest.versions.json
  src/sdk/3.1/alpine3.12/amd64/Dockerfile
  src/sdk/3.1/alpine3.13/amd64/Dockerfile
  src/sdk/3.1/bionic/amd64/Dockerfile
  src/sdk/3.1/bionic/arm32v7/Dockerfile
  src/sdk/3.1/bionic/arm64v8/Dockerfile
  src/sdk/3.1/buster/amd64/Dockerfile
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/buster/arm64v8/Dockerfile
  src/sdk/3.1/focal/amd64/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm64v8/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-1909/amd64/Dockerfile
  src/sdk/3.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/alpine3.13/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-dockerfiles

#2672 Update release workflow
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
Labels: area-infrastructure

#2677 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure

#2682 Update dotnet-monitor version aka.ms link
  eng/get-drop-versions-monitor.sh
Labels: area-infrastructure

#2683 Update PowerShell version to v7.2.0-preview.4
  manifest.versions.json
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2694 Update samples
  samples/aspnetapp/Dockerfile.alpine-arm64
  samples/aspnetapp/Dockerfile.alpine-x64
  samples/aspnetapp/Dockerfile.nanoserver-x64
  samples/aspnetapp/Dockerfile.nanoserver-x64-slim
  samples/aspnetapp/Dockerfile.ubuntu-x64
  samples/aspnetapp/Dockerfile.ubuntu-x64-slim
  samples/complexapp/complexapp/complexapp.csproj
  samples/dotnetapp/Dockerfile.alpine-arm64
  samples/dotnetapp/Dockerfile.alpine-x64
  samples/dotnetapp/Dockerfile.nanoserver-x64
  samples/dotnetapp/Dockerfile.nanoserver-x64-slim
  samples/dotnetapp/Dockerfile.ubuntu-arm32
  samples/dotnetapp/Dockerfile.ubuntu-arm64
  samples/dotnetapp/Dockerfile.ubuntu-x64
  samples/dotnetapp/Dockerfile.ubuntu-x64-slim
  samples/dotnetapp/Program.cs
  samples/dotnetapp/dotnetapp.csproj
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
Labels: area-samples
