Repository dotnet/dotnet-docker, pull requests merged in 2021-04, with the labels that each got.

#2718 5.0 servicing release
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/dockerfile-templates/runtime/5.0/Dockerfile.windowsservercore
  eng/get-drop-versions-monitor.sh
  eng/pipelines/update-dependencies.yml
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/Options.cs
  manifest.versions.json
  src/aspnet/5.0/alpine3.12/amd64/Dockerfile
  src/aspnet/5.0/alpine3.12/arm64v8/Dockerfile
  src/aspnet/5.0/alpine3.13/amd64/Dockerfile
  src/aspnet/5.0/alpine3.13/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/amd64/Dockerfile
  src/runtime/5.0/alpine3.12/arm64v8/Dockerfile
  src/runtime/5.0/alpine3.13/amd64/Dockerfile
  src/runtime/5.0/alpine3.13/arm64v8/Dockerfile
  src/runtime/5.0/buster-slim/amd64/Dockerfile
  src/runtime/5.0/buster-slim/arm32v7/Dockerfile
  src/runtime/5.0/buster-slim/arm64v8/Dockerfile
  src/runtime/5.0/focal/amd64/Dockerfile
  src/runtime/5.0/focal/arm32v7/Dockerfile
  src/runtime/5.0/focal/arm64v8/Dockerfile
  src/runtime/5.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/5.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/nanoserver-20H2/amd64/Dockerfile
  src/runtime/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/alpine3.13/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-release

#2729 6.0 Preview 3 release updates
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/dockerfile-templates/runtime/6.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/6.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/6.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/6.0/Dockerfile.windowsservercore
  manifest.versions.json
  src/aspnet/6.0/alpine3.13/amd64/Dockerfile
  src/aspnet/6.0/alpine3.13/arm64v8/Dockerfile
  src/aspnet/6.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/6.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/6.0/bullseye-slim/arm64v8/Dockerfile
  src/aspnet/6.0/focal/amd64/Dockerfile
  src/aspnet/6.0/focal/arm32v7/Dockerfile
  src/aspnet/6.0/focal/arm64v8/Dockerfile
  src/aspnet/6.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-1909/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-2004/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/6.0/alpine3.13/amd64/Dockerfile
  src/runtime/6.0/alpine3.13/arm64v8/Dockerfile
  src/runtime/6.0/bullseye-slim/amd64/Dockerfile
  src/runtime/6.0/bullseye-slim/arm32v7/Dockerfile
  src/runtime/6.0/bullseye-slim/arm64v8/Dockerfile
  src/runtime/6.0/focal/amd64/Dockerfile
  src/runtime/6.0/focal/arm32v7/Dockerfile
  src/runtime/6.0/focal/arm64v8/Dockerfile
  src/runtime/6.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/6.0/nanoserver-1909/amd64/Dockerfile
  src/runtime/6.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/6.0/nanoserver-20H2/amd64/Dockerfile
  src/runtime/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2710 Update SDK image first run handling
  eng/dockerfile-templates/sdk/6.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/6.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/6.0/Dockerfile.windowsservercore
  src/sdk/6.0/alpine3.13/amd64/Dockerfile
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-dockerfiles

#2740 Fix 2.1 Linux checksums
  manifest.versions.json
  src/runtime/2.1/alpine3.12/amd64/Dockerfile
  src/runtime/2.1/alpine3.13/amd64/Dockerfile
  src/runtime/2.1/bionic/amd64/Dockerfile
  src/runtime/2.1/bionic/arm32v7/Dockerfile
  src/runtime/2.1/focal/amd64/Dockerfile
  src/runtime/2.1/focal/arm32v7/Dockerfile
  src/runtime/2.1/nanoserver-1809/amd64/Dockerfile
  src/runtime/2.1/nanoserver-1909/amd64/Dockerfile
  src/runtime/2.1/nanoserver-2004/amd64/Dockerfile
  src/runtime/2.1/nanoserver-20H2/amd64/Dockerfile
  src/runtime/2.1/stretch-slim/amd64/Dockerfile
  src/runtime/2.1/stretch-slim/arm32v7/Dockerfile
Labels: area-infrastructure

#2731 Update README.md to match the actual Dockerfile
  samples/dotnetapp/README.md
Labels: area-infrastructure

#2753 Merge .NET Monitor Dockerfile from nightly branch
  README.aspnet.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  build-and-test.ps1
  eng/dockerfile-templates/monitor/5.0/Dockerfile.alpine
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/readme-templates/Get-GeneratedReadmes.ps1
  eng/readme-templates/README.md
  eng/readme-templates/Use.monitor.md
  manifest.json
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/run-tests.ps1
Labels: area-dockerfiles

#2756 Merge main to nightly
  README.monitor.md
  README.samples.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/readme-templates/README.md
  manifest.json
  manifest.versions.json
  samples/dotnetapp/README.md
Labels: area-infrastructure

#2761 Remove readme header about repo name transition
  README.aspnet.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/README.md
Labels: area-documentation

#2762 Enable tests for fixed issues
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure

#2760 Update issue templates for .NET Monitor release
  .github/ISSUE_TEMPLATE/releases/dotnet-monitor-release.md
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
  .github/ISSUE_TEMPLATE/releases/new-distro-release.md
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  .github/ISSUE_TEMPLATE/releases/patch-tuesday-release.md
Labels: area-infrastructure

#2773 Replace references to dotnet-nightly product family in Docker Hub
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
  .github/ISSUE_TEMPLATE/releases/new-distro-release.md
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  .github/ISSUE_TEMPLATE/releases/patch-tuesday-release.md
  README.aspnet.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  documentation/guiding-principles.md
  documentation/supported-platforms.md
  documentation/supported-tags.md
  eng/readme-templates/README.md
  samples/selecting-tags.md
Labels: area-documentation

#2774 Fix readme template
  README.aspnet.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/README.md
Labels: area-documentation

#2775 Merge main into nightly
  .github/ISSUE_TEMPLATE/releases/dotnet-monitor-release.md
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
  .github/ISSUE_TEMPLATE/releases/new-distro-release.md
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  .github/ISSUE_TEMPLATE/releases/patch-tuesday-release.md
  README.aspnet.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  documentation/guiding-principles.md
  documentation/supported-platforms.md
  documentation/supported-tags.md
  eng/readme-templates/README.md
  samples/selecting-tags.md
Labels: area-infrastructure
