Repository dotnet/dotnet-docker, pull requests merged in 2021-12, with the labels that each got.

#3318 Enable sample testing of SCD on WSC
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-samples

#3325 Remove Alpine 3.13 Dockerfiles (nightly)
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/3.1/alpine3.13/amd64/Dockerfile
  src/aspnet/3.1/alpine3.13/arm64v8/Dockerfile
  src/aspnet/5.0/alpine3.13/amd64/Dockerfile
  src/aspnet/5.0/alpine3.13/arm32v7/Dockerfile
  src/aspnet/5.0/alpine3.13/arm64v8/Dockerfile
  src/runtime-deps/3.1/alpine3.13/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.13/arm64v8/Dockerfile
  src/runtime-deps/5.0/alpine3.13/arm32v7/Dockerfile
  src/runtime/3.1/alpine3.13/amd64/Dockerfile
  src/runtime/3.1/alpine3.13/arm64v8/Dockerfile
  src/runtime/5.0/alpine3.13/amd64/Dockerfile
  src/runtime/5.0/alpine3.13/arm32v7/Dockerfile
  src/runtime/5.0/alpine3.13/arm64v8/Dockerfile
  src/sdk/3.1/alpine3.13/amd64/Dockerfile
  src/sdk/5.0/alpine3.13/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#3320 Move 7.0.0 nightly Docker image to Alpine 3.15 for dotnet monitor
  README.monitor.md
  manifest.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-dockerfiles

#3330 Updated 6.0 images to use latest PowerShell 7.2.1
  manifest.versions.json
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.15/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure

#3348 Fix template ref typo in update-readmes pipeline
  eng/pipelines/update-readmes.yml
Labels: area-infrastructure

#3349 Fix pool image reference
  eng/pipelines/update-readmes.yml
Labels: area-infrastructure

#3346 Merge main to nightly
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/3.1/nanoserver-2004/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-2004/amd64/Dockerfile
  src/runtime/3.1/nanoserver-2004/amd64/Dockerfile
  src/runtime/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/3.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.windows.json
Labels: area-dockerfiles

#3319 Enable collection of component data in build
  eng/common/package-scripts/get-installed-packages.container.sh
  eng/common/package-scripts/get-installed-packages.sh
  eng/common/package-scripts/get-upgradable-packages.container.bash.sh
  eng/common/package-scripts/get-upgradable-packages.container.sh
  eng/common/package-scripts/get-upgradable-packages.sh
  eng/common/templates/jobs/build-images.yml
  eng/package-scripts/cbl-mariner-distroless/dotnet7/get-installed-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/dotnet7/get-installed-packages.sh
  eng/package-scripts/cbl-mariner-distroless/get-installed-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/get-installed-packages.sh
  eng/package-scripts/cbl-mariner-distroless/get-upgradable-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/get-upgradable-packages.sh
  manifest.json
Labels: area-infrastructure

#3361 Fix tests for shell removal in Mariner distroless
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
Labels: area-infrastructure

#3362 Merge main to nightly
  eng/pipelines/update-readmes.yml
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
Labels: area-infrastructure

#3364 Get dotnet monitor from blob storage.
  eng/dockerfile-templates/monitor/7.0/Dockerfile.alpine
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
Labels: area-infrastructure
