Repository dotnet/dotnet-docker, pull requests merged in 2021-01, with the labels that each got.

#2479 Upgrade test project to .NET 5
  tests/Microsoft.DotNet.Docker.Tests/Microsoft.DotNet.Docker.Tests.csproj
  tests/run-tests.ps1
Labels: area-infrastructure

#2484 Fix update-dependencies for .NET 6.0
  eng/get-drop-versions.sh
Labels: area-infrastructure

#2487 Add procps package to 5.0 SDK
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
Labels: area-dockerfiles

#2489 Disable PowerShell tests for 6.0 sdk until it's compatible
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-dockerfiles

#2491 Correctly indent 'apk add' packages in alpine sdk Dockerfiles
  eng/dockerfile-templates/sdk/5.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/6.0/Dockerfile.alpine
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/6.0/alpine3.12/amd64/Dockerfile
Labels: area-dockerfiles

#2497 Promote use of GH Discussions within new issue template
  .github/ISSUE_TEMPLATE/config.yml
Labels: area-infrastructure

#2498 Upgrade System.CommandLine version
  eng/update-dependencies/NuGet.config
  eng/update-dependencies/Options.cs
  eng/update-dependencies/Program.cs
  eng/update-dependencies/update-dependencies.csproj
Labels: area-infrastructure

#2501 Update dotnet-monitor to output JSON logging by default.
  eng/dockerfile-templates/monitor/5.0/Dockerfile.alpine
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Labels: area-dockerfiles

#2508 Updated 5.0 images to use latest PowerShell stable build 7.1.1
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-dockerfiles

#2506 Cleanup duplicate entry in manifest.versions.json
  manifest.versions.json
Labels: area-infrastructure

#2516 Fix the version of PowerShell in 5.0 sdk
  README.sdk.md
  manifest.versions.json
  src/sdk/5.0/alpine3.12/amd64/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1909/amd64/Dockerfile
  src/sdk/5.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
Labels: area-infrastructure

#2519 Fix update-dependencies to update 5.0 Dockerfiles for dotnet-monitor.
  eng/pipelines/update-dependencies.yml
  manifest.versions.json
  src/monitor/5.0/alpine/amd64/Dockerfile
Labels: area-infrastructure

#2520 Updating 3.1 images to use latest PowerShell LTS release 7.0.4
  manifest.versions.json
  src/sdk/3.1/alpine3.12/amd64/Dockerfile
  src/sdk/3.1/bionic/amd64/Dockerfile
  src/sdk/3.1/bionic/arm32v7/Dockerfile
  src/sdk/3.1/bionic/arm64v8/Dockerfile
  src/sdk/3.1/buster/amd64/Dockerfile
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/buster/arm64v8/Dockerfile
  src/sdk/3.1/focal/amd64/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm64v8/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-1909/amd64/Dockerfile
  src/sdk/3.1/nanoserver-2004/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
Labels: area-dockerfiles

#2523 Update Windows image size baseline
  tests/performance/ImageSize.nightly.windows.json
Labels: area-external

#2524 Update ImageBuilder to track layers in VersionInfo
  eng/common/templates/variables/docker-images.yml
Labels: area-infrastructure

#2525 Revert "Update ImageBuilder to track layers in VersionInfo"
  eng/common/templates/variables/docker-images.yml
Labels: area-infrastructure

#2443 Add Alpine ARM32 Dockerfiles for 5.0 and 6.0
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  manifest.json
  manifest.versions.json
  samples/aspnetapp/Dockerfile.alpine-arm32
  samples/aspnetapp/README.md
  samples/dotnetapp/Dockerfile.alpine-arm32
  samples/dotnetapp/README.md
  src/aspnet/5.0/alpine3.12/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.12/arm32v7/Dockerfile
  src/runtime-deps/5.0/alpine3.12/arm32v7/Dockerfile
  src/runtime/5.0/alpine3.12/arm32v7/Dockerfile
  src/runtime/6.0/alpine3.12/arm32v7/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#2534 Add architecture to samples
  samples/aspnetapp/aspnetapp/Pages/Index.cshtml
  samples/dotnetapp/Program.cs
Labels: area-samples

#2541 Remove 6.0 SDK content verification workaround
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-dockerfiles

#2540 Remove .NET 6 console test workaround
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
Labels: area-infrastructure

#2535 Remove default hosting URL for dotnet-monitor
  eng/dockerfile-templates/monitor/5.0/Dockerfile.alpine
  src/monitor/5.0/alpine/amd64/Dockerfile
Labels: area-dockerfiles

#2543 Add SDK Dockerfiles for Arm arch on Alpine
  README.sdk.md
  eng/dockerfile-templates/sdk/6.0/Dockerfile.alpine
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.versions.json
  src/sdk/6.0/alpine3.13/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.13/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#2552 Merge master to nightly
  README.sdk.md
  eng/common/templates/variables/docker-images.yml
  eng/dockerfile-templates/sdk/5.0/Dockerfile.debian
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.versions.json
  samples/aspnetapp/aspnetapp/Pages/Index.cshtml
  samples/dotnetapp/Program.cs
  src/sdk/5.0/buster-slim-ca-patch/amd64/Dockerfile
  src/sdk/5.0/buster-slim-ca-patch/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim-ca-patch/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#2557 Revert installation of ca-certificates from bullseye
  README.sdk.md
  eng/dockerfile-templates/sdk/5.0/Dockerfile.debian
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.versions.json
  src/sdk/5.0/buster-slim-ca-patch/amd64/Dockerfile
  src/sdk/5.0/buster-slim-ca-patch/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim-ca-patch/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure

#2558 Merge master into nightly
  README.sdk.md
  eng/dockerfile-templates/sdk/5.0/Dockerfile.debian
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.versions.json
  src/sdk/5.0/buster-slim-ca-patch/amd64/Dockerfile
  src/sdk/5.0/buster-slim-ca-patch/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim-ca-patch/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure
