Repository dotnet/dotnet-docker, pull requests merged in 2021-11, with the labels that each got.

#3261 Only keep net6.0 TFM in dotnet-monitor
  eng/dockerfile-templates/monitor/6.0/Dockerfile.alpine
  src/monitor/6.0/alpine/amd64/Dockerfile
Labels: area-dockerfiles

#3263 Update PowerShell in 6.0 SDK images
  manifest.versions.json
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles

#3266 Install dotnet monitor 6.0.0 from nuget.org
  eng/dockerfile-templates/monitor/6.0/Dockerfile.alpine
  manifest.versions.json
  src/monitor/6.0/alpine/amd64/Dockerfile
Labels: area-samples

#3269 Clean up test code
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure

#3271 Update distroless Mariner to reference prebuilt-ca-certificates package
  eng/dockerfile-templates/runtime-deps/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/6.0/Dockerfile.mariner-distroless
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0/amd64/Dockerfile
Labels: area-infrastructure

#3282 Add dotnet-monitor 7.0 image
  README.monitor.md
  eng/dockerfile-templates/monitor/7.0/Dockerfile.alpine
  eng/get-drop-versions-monitor.sh
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/readme-templates/README.md
  eng/update-dependencies/DockerfileShaUpdater.cs
  manifest.json
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#3268 Add component governance pipeline for container images
  eng/pipelines/cg-code.yml
  eng/pipelines/cg-images.yml
Labels: area-infrastructure

#3297 Set correct matrix type for PR builds
  eng/pipelines/stages/build-test-publish-repo.yml
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/NuGet.config.nightly
Labels: area-infrastructure

#3298 Set correct matrix type for PR builds
  eng/pipelines/stages/build-test-publish-repo.yml
Labels: area-infrastructure

#3296 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure

#3309 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure
