Repository dotnet/dotnet-docker, pull requests merged in 2021-09, with the labels that each got.

#3095 Revert "Ensure Alpine images have their packages upgraded (#3074)"
  eng/dockerfile-templates/runtime-deps/3.1/Dockerfile.alpine
  src/runtime-deps/3.1/alpine3.13/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.13/arm64v8/Dockerfile
  src/runtime-deps/5.0/alpine3.13/arm32v7/Dockerfile
Labels: area-dockerfiles

#3109 Update 6.0 to latest approved RC1 build
  manifest.versions.json
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.14/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure

#3113 Add Debian Bullseye Dockerfiles for 3.1 and 5.0
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/dockerfile-templates/sdk/3.1/Dockerfile.linux
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/3.1/bullseye-slim/amd64/Dockerfile
  src/aspnet/3.1/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/3.1/bullseye-slim/arm64v8/Dockerfile
  src/aspnet/5.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/5.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/5.0/bullseye-slim/arm64v8/Dockerfile
  src/runtime-deps/3.1/bullseye-slim/amd64/Dockerfile
  src/runtime-deps/3.1/bullseye-slim/arm32v7/Dockerfile
  src/runtime-deps/3.1/bullseye-slim/arm64v8/Dockerfile
  src/runtime/3.1/bullseye-slim/amd64/Dockerfile
  src/runtime/3.1/bullseye-slim/arm32v7/Dockerfile
  src/runtime/3.1/bullseye-slim/arm64v8/Dockerfile
  src/runtime/5.0/bullseye-slim/amd64/Dockerfile
  src/runtime/5.0/bullseye-slim/arm32v7/Dockerfile
  src/runtime/5.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/3.1/bullseye/amd64/Dockerfile
  src/sdk/3.1/bullseye/arm32v7/Dockerfile
  src/sdk/3.1/bullseye/arm64v8/Dockerfile
  src/sdk/5.0/bullseye-slim/amd64/Dockerfile
  src/sdk/5.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/5.0/bullseye-slim/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#3114 Update 6.0 to latest approved RC1 build
  manifest.versions.json
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.14/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles

#3121 Update 6.0 to latest approved RC1 build
  manifest.versions.json
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.14/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure

#3149 Update environment data in samples
  samples/aspnetapp/aspnetapp/Pages/Index.cshtml
  samples/dotnetapp/Program.cs
Labels: area-samples

#3152 Handle empty simpleTags field in tests
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
Labels: area-infrastructure

#3160 Add GC hard limit % to sample
  samples/dotnetapp/Program.cs
Labels: area-samples

#3176 Update Windows image size baselines
  tests/performance/ImageSize.nightly.windows.json
Labels: area-documentation

#3180 Update PowerShell preview to 7.2.0-preview.10
  manifest.versions.json
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-2004/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles

#3179 Move dotnet-monitor to .NET 6 and version 6.0.0
  README.monitor.md
  eng/dockerfile-templates/monitor/6.0/Dockerfile.alpine
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/readme-templates/README.md
  manifest.json
  manifest.versions.json
  src/monitor/6.0/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#3183 Allow arch to be included in monitor tag test data.
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageData.cs
Labels: area-infrastructure
