Repository dotnet/dotnet-docker, pull requests merged in 2022-09, with the labels that each got.

#4059 Remove .NET Monitor 6.1
  README.monitor.md
  eng/dockerfile-templates/monitor/Dockerfile
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/monitor/6.1/cbl-mariner/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#4051 Use correct publishRepoPrefix for internal builds
  eng/pipelines/dotnet-core-internal-nightly.yml
  eng/pipelines/stages/build-test-publish-repo.yml
  eng/pipelines/steps/set-custom-test-variables.yml
Labels: area-infrastructure

#4063 Remove Alpine 3.15 Dockerfiles
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile.linux
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/3.1/alpine3.15/amd64/Dockerfile
  src/aspnet/3.1/alpine3.15/arm64v8/Dockerfile
  src/aspnet/6.0/alpine3.15/amd64/Dockerfile
  src/aspnet/6.0/alpine3.15/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.15/arm64v8/Dockerfile
  src/runtime-deps/3.1/alpine3.15/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.15/arm64v8/Dockerfile
  src/runtime-deps/6.0/alpine3.15/arm32v7/Dockerfile
  src/runtime/3.1/alpine3.15/amd64/Dockerfile
  src/runtime/3.1/alpine3.15/arm64v8/Dockerfile
  src/runtime/6.0/alpine3.15/amd64/Dockerfile
  src/runtime/6.0/alpine3.15/arm32v7/Dockerfile
  src/runtime/6.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/3.1/alpine3.15/amd64/Dockerfile
  src/sdk/6.0/alpine3.15/amd64/Dockerfile
  src/sdk/6.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.15/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#4065 Ensure tar installed in SDK for Mariner 2.0
  eng/dockerfile-templates/sdk/Dockerfile.linux
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure

#4075 Merge main to nightly
  manifest.versions.json
  src/aspnet/7.0/alpine3.16/amd64/Dockerfile
  src/aspnet/7.0/alpine3.16/arm32v7/Dockerfile
  src/aspnet/7.0/alpine3.16/arm64v8/Dockerfile
  src/aspnet/7.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/7.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/7.0/bullseye-slim/arm64v8/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/aspnet/7.0/jammy-chiseled/amd64/Dockerfile
  src/aspnet/7.0/jammy-chiseled/arm64v8/Dockerfile
  src/aspnet/7.0/jammy/amd64/Dockerfile
  src/aspnet/7.0/jammy/arm32v7/Dockerfile
  src/aspnet/7.0/jammy/arm64v8/Dockerfile
  src/aspnet/7.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/aspnet/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/aspnet/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime/7.0/alpine3.16/amd64/Dockerfile
  src/runtime/7.0/alpine3.16/arm32v7/Dockerfile
  src/runtime/7.0/alpine3.16/arm64v8/Dockerfile
  src/runtime/7.0/bullseye-slim/amd64/Dockerfile
  src/runtime/7.0/bullseye-slim/arm32v7/Dockerfile
  src/runtime/7.0/bullseye-slim/arm64v8/Dockerfile
  src/runtime/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime/7.0/jammy-chiseled/amd64/Dockerfile
  src/runtime/7.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime/7.0/jammy/amd64/Dockerfile
  src/runtime/7.0/jammy/arm32v7/Dockerfile
  src/runtime/7.0/jammy/arm64v8/Dockerfile
  src/runtime/7.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/runtime/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/alpine3.16/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.16/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure

#4078 Rename Ubuntu chiseled folder and tags for .NET Monitor
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  src/monitor/6.2/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/6.2/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#4081 Enable image caching support for internal pipelines
  eng/pipelines/dotnet-core-internal-nightly.yml
  eng/pipelines/dotnet-core-internal-pr.yml
  eng/pipelines/variables/internal-core.yml
Labels: area-infrastructure

#4085 Update for PowerShell v7.3.0-preview.8
  manifest.versions.json
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure

#4082 .NET Monitor: Remove symbol files and non-matching arch assemblies
  eng/dockerfile-templates/monitor/Dockerfile
  manifest.versions.json
  src/monitor/6.2/alpine/amd64/Dockerfile
  src/monitor/6.2/alpine/arm64v8/Dockerfile
  src/monitor/6.2/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.2/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.2/cbl-mariner/amd64/Dockerfile
  src/monitor/6.2/cbl-mariner/arm64v8/Dockerfile
  src/monitor/6.2/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/6.2/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/arm64v8/Dockerfile
Labels: area-infrastructure

#4086 Fix update-deps when targeting a single SDK version
  eng/pipelines/steps/update-dependencies.yml
Labels: area-infrastructure

#4088 Allow writable files for global mutexes
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-dockerfiles

#4089 Add .NET Monitor 6.3 images; move Ubuntu Chiseled to 6.3
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#4095 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure

#4092 Include home directory for non-root user
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.distroless-user
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
Labels: area-infrastructure, needs-announcement

#4097 Fix world-writable file path exclusion
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
Labels: area-infrastructure

#4100 Fix distroless-related testing
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure

#4101 update-deps: Maintain same container for each version
  eng/pipelines/steps/update-dependencies.yml
  eng/update-dependencies/Dockerfile
Labels: area-infrastructure

#4106 Update internal pool for builds from main branch
  eng/pipelines/dotnet-core.yml
  eng/pipelines/stages/build-test-publish-repo.yml
Labels: area-infrastructure

#4112 Update .NET Monitor 7.0 to RC 1 candidate
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/arm64v8/Dockerfile
Labels: area-infrastructure
