Repository dotnet/dotnet-docker, pull requests merged in 2022-01, with the labels that each got.

#3363 Update curl option for .NET 7 Dockerfiles
  eng/dockerfile-templates/aspnet/7.0/Dockerfile.linux
  eng/dockerfile-templates/aspnet/7.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime-deps/7.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime/7.0/Dockerfile.linux
  eng/dockerfile-templates/runtime/7.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/7.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/7.0/Dockerfile.mariner
  src/aspnet/7.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/7.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/7.0/bullseye-slim/arm64v8/Dockerfile
  src/aspnet/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/7.0/focal/amd64/Dockerfile
  src/aspnet/7.0/focal/arm32v7/Dockerfile
  src/aspnet/7.0/focal/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/7.0/bullseye-slim/amd64/Dockerfile
  src/runtime/7.0/bullseye-slim/arm32v7/Dockerfile
  src/runtime/7.0/bullseye-slim/arm64v8/Dockerfile
  src/runtime/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime/7.0/focal/amd64/Dockerfile
  src/runtime/7.0/focal/arm32v7/Dockerfile
  src/runtime/7.0/focal/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/7.0/focal/amd64/Dockerfile
  src/sdk/7.0/focal/arm32v7/Dockerfile
  src/sdk/7.0/focal/arm64v8/Dockerfile
Labels: area-infrastructure

#3372 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#3370 Mariner reference to prebuilt-ca-certificates pkg
  eng/dockerfile-templates/runtime-deps/7.0/Dockerfile.mariner
  src/runtime-deps/7.0/cbl-mariner1.0/amd64/Dockerfile
Labels: area-infrastructure

#3375 Fix up Dockerfiles for consistency
  eng/dockerfile-templates/sdk/3.1/Dockerfile.alpine
  eng/dockerfile-templates/sdk/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/6.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/3.1/alpine3.15/amd64/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/alpine3.14/amd64/Dockerfile
  src/sdk/5.0/alpine3.15/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.15/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure

#3382 Define PowerShell install Dockerfile sub-template
  eng/dockerfile-templates/Dockerfile.linux.download-file
  eng/dockerfile-templates/sdk/3.1/Dockerfile.alpine
  eng/dockerfile-templates/sdk/3.1/Dockerfile.linux
  eng/dockerfile-templates/sdk/3.1/Dockerfile.mariner
  eng/dockerfile-templates/sdk/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/5.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/6.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/6.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/6.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/6.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-powershell
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-powershell
Labels: area-infrastructure

#3359 Add PowerShell 7.3.0-preview.1 to .NET 7 SDK Dockerfiles
  eng/dockerfile-templates/sdk/7.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/7.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/7.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/7.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/7.0/Dockerfile.windowsservercore
  manifest.versions.json
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/7.0/focal/amd64/Dockerfile
  src/sdk/7.0/focal/arm32v7/Dockerfile
  src/sdk/7.0/focal/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Docker.Tests/HttpClientExtensions.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/run-tests.ps1
Labels: area-infrastructure

#3404 Break aspnet Dockerfile templates into finer-grained sub-templates
  eng/dockerfile-templates/Dockerfile.linux.download-file
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.linux
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.linux
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/aspnet/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.linux
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.mariner-distroless
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/aspnet/6.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/aspnet/7.0/Dockerfile.alpine
  eng/dockerfile-templates/aspnet/7.0/Dockerfile.linux
  eng/dockerfile-templates/aspnet/7.0/Dockerfile.mariner
  eng/dockerfile-templates/aspnet/7.0/Dockerfile.mariner-distroless
  eng/dockerfile-templates/aspnet/7.0/Dockerfile.nanoserver
  eng/dockerfile-templates/aspnet/7.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/aspnet/Dockerfile.env-vars
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
  eng/dockerfile-templates/aspnet/Dockerfile.windows
  eng/dockerfile-templates/aspnet/Dockerfile.windows.install-aspnet
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-powershell
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-powershell
  manifest.json
  manifest.versions.json
Labels: area-infrastructure

#3411 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-dockerfiles

#3412 Fix inconsistencies in runtime-deps Dockerfiles
  eng/dockerfile-templates/runtime-deps/6.0/Dockerfile.mariner-distroless
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
Labels: area-infrastructure

#3303 Remove workaround to disable .NET 7 test scenarios
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
Labels: area-infrastructure

#3421 Use test dependencies for test matrix
  eng/pipelines/stages/build-test-publish-repo.yml
Labels: area-infrastructure

#3423 Merge main to nightly
  eng/pipelines/stages/build-test-publish-repo.yml
Labels: area-infrastructure

#3424 Add .NET Monitor 6.1 Preview
  README.monitor.md
  eng/dockerfile-templates/monitor/6.1/Dockerfile.alpine
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/readme-templates/README.md
  manifest.json
  manifest.versions.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#3426 Add major-only version tags for .NET Monitor
  README.monitor.md
  manifest.json
Labels: area-dockerfiles

#3440 Update README.md
  samples/dotnetapp/README.md
Labels: area-documentation

#3437 Remove single quotes from var assignment
  eng/dockerfile-templates/runtime/6.0/Dockerfile.mariner-distroless
  eng/dockerfile-templates/runtime/7.0/Dockerfile.mariner-distroless
  src/runtime/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime/7.0/cbl-mariner1.0-distroless/amd64/Dockerfile
Labels: area-infrastructure

#3441 Fix test matrix generation of samples
  manifest.samples.json
Labels: area-infrastructure

#3432 Refactor update-dependencies pipeline for multiple .NET Monitor versions
  eng/pipelines/update-dependencies.yml
Labels: area-infrastructure

#3446 Use build versions in .NET Monitor URLs and stable branding.
  README.monitor.md
  eng/dockerfile-templates/monitor/6.0/Dockerfile.alpine
  eng/dockerfile-templates/monitor/6.1/Dockerfile.alpine
  eng/dockerfile-templates/monitor/7.0/Dockerfile.alpine
  manifest.versions.json
  src/monitor/6.0/alpine/amd64/Dockerfile
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/amd64/Dockerfile
Labels: area-infrastructure
