Repository dotnet/dotnet-docker, pull requests merged in 2022-10, with the labels that each got.

#4108 Enable distroless Mariner images to be scanned correctly
  eng/dockerfile-templates/Dockerfile.linux.install-pkgs
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
Labels: area-dockerfiles

#4127 Update Alpine samples for localization scenario
  samples/aspnetapp/Dockerfile.alpine-arm32
  samples/aspnetapp/Dockerfile.alpine-arm64
  samples/aspnetapp/Dockerfile.alpine-x64
  samples/aspnetapp/Dockerfile.alpine-x64-slim
  samples/dotnetapp/Dockerfile.alpine-arm32
  samples/dotnetapp/Dockerfile.alpine-arm64
  samples/dotnetapp/Dockerfile.alpine-x64
  samples/dotnetapp/Dockerfile.alpine-x64-slim
Labels: area-samples

#4115 Set correct ownership of non-root user's home dir
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.distroless-user
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
Labels: area-infrastructure

#4122 Preserve root user in distroless-style containers
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.distroless-user
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
Labels: area-dockerfiles

#4128 Update readmes for how tags are listed and featured
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  eng/readme-templates/FeaturedTags.md
Labels: area-documentation

#4138 Fix OS parameter usage in build script
  build-and-test.ps1
Labels: area-infrastructure

#4143 Update run-aspnetcore-https-development.md with <CREDENTIAL_PLACEHOLDER>
  samples/run-aspnetcore-https-development.md
Labels: area-infrastructure

#4140 update-deps: use release checksums when appropriate
  eng/update-dependencies/DockerfileShaUpdater.cs
Labels: area-infrastructure

#4144 dotnet-monitor: Set default GC mode
  eng/dockerfile-templates/monitor/Dockerfile
  src/monitor/6.2/alpine/amd64/Dockerfile
  src/monitor/6.2/alpine/arm64v8/Dockerfile
  src/monitor/6.2/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.2/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.2/cbl-mariner/amd64/Dockerfile
  src/monitor/6.2/cbl-mariner/arm64v8/Dockerfile
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
Labels: area-infrastructure

#4148 Use dotnetstage storage account for internal builds
  eng/Get-DropVersions.ps1
  eng/pipelines/stages/build-test-publish-repo.yml
  eng/pipelines/steps/set-custom-test-variables.yml
  eng/pipelines/steps/update-dotnet-dependencies.yml
  eng/pipelines/update-dependencies-internal.yml
  eng/pipelines/variables/core.yml
  eng/pipelines/variables/internal-core.yml
  manifest.versions.json
Labels: area-infrastructure

#4155 Doc updates for .NET 7 release
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/FeaturedTags.md
  samples/aspnetapp/Dockerfile.nanoserver-x64
  samples/complexapp/README.md
  samples/dotnetapp/README.md
  samples/run-tests-in-sdk-container.md
Labels: area-infrastructure

#4156 Reference Ubuntu ACR in Dockerfiles
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/pipelines/stages/build-test-publish-repo.yml
  eng/pipelines/steps/set-base-image-override-options.yml
  src/runtime-deps/3.1/bionic/amd64/Dockerfile
  src/runtime-deps/3.1/bionic/arm32v7/Dockerfile
  src/runtime-deps/3.1/bionic/arm64v8/Dockerfile
  src/runtime-deps/3.1/focal/amd64/Dockerfile
  src/runtime-deps/3.1/focal/arm32v7/Dockerfile
  src/runtime-deps/3.1/focal/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy/amd64/Dockerfile
  src/runtime-deps/6.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy/arm64v8/Dockerfile
Labels: area-infrastructure

#4159 Update images for PowerShell v7.0.13 and v7.2.7
  manifest.versions.json
  src/sdk/3.1/alpine3.16/amd64/Dockerfile
  src/sdk/3.1/bionic/amd64/Dockerfile
  src/sdk/3.1/bionic/arm32v7/Dockerfile
  src/sdk/3.1/bionic/arm64v8/Dockerfile
  src/sdk/3.1/bullseye/amd64/Dockerfile
  src/sdk/3.1/bullseye/arm32v7/Dockerfile
  src/sdk/3.1/bullseye/arm64v8/Dockerfile
  src/sdk/3.1/buster/amd64/Dockerfile
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/buster/arm64v8/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/focal/amd64/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm64v8/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/alpine3.16/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure

#4146 Update image size baselines
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure

#4165 Update pool for builds targeting internal .NET builds
  eng/pipelines/dotnet-core-internal-nightly.yml
Labels: area-infrastructure

#4167 Format remote branch name generated by update-deps
  eng/update-dependencies/UpdateDependencies.cs
Labels: area-infrastructure

#4172 Update to PowerShell v7.3.0-rc.1
  manifest.versions.json
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure

#4176 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure
