Repository dotnet/dotnet-docker, pull requests merged in 2022-11, with the labels that each got.

#4190 Revert "Update images for PowerShell v7.0.13 and v7.2.7 (#4159)"
  manifest.versions.json
  src/sdk/3.1/alpine3.16/amd64/Dockerfile
  src/sdk/3.1/bionic/amd64/Dockerfile
  src/sdk/3.1/bionic/arm32v7/Dockerfile
  src/sdk/3.1/bionic/arm64v8/Dockerfile
  src/sdk/3.1/bullseye/amd64/Dockerfile
  src/sdk/3.1/bullseye/arm32v7/Dockerfile
  src/sdk/3.1/bullseye/arm64v8/Dockerfile
  src/sdk/3.1/buster/amd64/Dockerfile
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/buster/arm64v8/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/focal/amd64/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm64v8/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/alpine3.16/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles

#4194 .NET install script workaround
  eng/common/Install-DotNetSdk.ps1
Labels: area-infrastructure

#4196 Merge main to nightly
  eng/common/Install-DotNetSdk.ps1
Labels: area-infrastructure

#4207 Use Dockerfile paths to determine which test data is in scope
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/parse-test-arg-arrays.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Docker.Tests/DotNetImageType.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/Microsoft.DotNet.Docker.Tests/VersionedImageData.cs
  tests/run-tests.ps1
Labels: area-infrastructure

#4217 Update Related Repos header name
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.samples.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/RelatedRepos.md
Labels: area-documentation

#4222 Use Dockerfile paths to determine which test data is in scope (#4207)
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/steps/parse-test-arg-arrays.yml
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Docker.Tests/DotNetImageType.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/Microsoft.DotNet.Docker.Tests/VersionedImageData.cs
  tests/run-tests.ps1
Labels: area-infrastructure

#4224 Include OS release info in Chiseled Ubuntu images
  build-and-test.ps1
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
Labels: area-infrastructure

#4226 Upgrade to libssl3 for Alpine 3.17
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  manifest.versions.json
  src/runtime-deps/6.0/alpine3.17/amd64/Dockerfile
  src/runtime-deps/6.0/alpine3.17/arm32v7/Dockerfile
  src/runtime-deps/6.0/alpine3.17/arm64v8/Dockerfile
Labels: area-dockerfiles

#4220 Update samples for user and cgroup info
  samples/aspnetapp/aspnetapp/EnvironmentInfo.cs
  samples/aspnetapp/aspnetapp/Views/Home/Index.cshtml
  samples/dotnetapp/Program.cs
Labels: area-samples

#4214 Split update-deps pipeline into a separate one for Monitor
  eng/pipelines/update-dependencies-internal.yml
  eng/pipelines/update-dependencies-monitor.yml
  eng/pipelines/update-dependencies.yml
Labels: area-infrastructure
