Repository dotnet/dotnet-docker, pull requests merged in 2022-03, with the labels that each got.

#3541 Add Environment API
  samples/aspnetapp/aspnetapp/EnvironmentInfo.cs
  samples/aspnetapp/aspnetapp/Program.cs
Labels: area-dockerfiles

#3537 Re-enable distroless Mariner test
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
Labels: area-infrastructure

#3524 Breakup dotnet-monitor's entrypoint
  eng/dockerfile-templates/monitor/Dockerfile
  eng/dockerfile-templates/monitor/Dockerfile.entrypoint.monitorV6
  eng/dockerfile-templates/monitor/Dockerfile.entrypoint.monitorV7
  src/monitor/7.0/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
Labels: area-documentation

#3535 Policy for updating floating tags
  documentation/supported-tags.md
Labels: area-documentation

#3549 Disable PowerShell-related tests on Alpine for Arm arch
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure

#3556 Update image size baseline
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#3559 Update 7.0 P2 SDK to final build
  eng/Set-DotnetVersions.ps1
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/Options.cs
  eng/update-dependencies/UpdateDependencies.cs
  manifest.versions.json
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/focal/amd64/Dockerfile
  src/sdk/7.0/focal/arm32v7/Dockerfile
  src/sdk/7.0/focal/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles, area-infrastructure

#3563 Fix installed-packages script for 7.0 Mariner distroless
  eng/package-scripts/cbl-mariner-distroless/dotnet7/get-installed-packages.sh
Labels: area-dockerfiles

#3568 Update for PowerShell v7.1.6, v7.0.9, and v7.2.2
  manifest.versions.json
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/3.1/alpine3.15/amd64/Dockerfile
  src/sdk/3.1/bionic/amd64/Dockerfile
  src/sdk/3.1/bionic/arm32v7/Dockerfile
  src/sdk/3.1/bionic/arm64v8/Dockerfile
  src/sdk/3.1/bullseye/amd64/Dockerfile
  src/sdk/3.1/bullseye/arm32v7/Dockerfile
  src/sdk/3.1/bullseye/arm64v8/Dockerfile
  src/sdk/3.1/buster/amd64/Dockerfile
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/buster/arm64v8/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/focal/amd64/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm64v8/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/alpine3.14/amd64/Dockerfile
  src/sdk/5.0/alpine3.15/amd64/Dockerfile
  src/sdk/5.0/bullseye-slim/amd64/Dockerfile
  src/sdk/5.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/5.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.15/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles

#3574 Update for PowerShell v7.3.0-preview.3
  manifest.versions.json
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/focal/amd64/Dockerfile
  src/sdk/7.0/focal/arm32v7/Dockerfile
  src/sdk/7.0/focal/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure

#3573 Add .NET Monitor 6.2
  README.monitor.md
  eng/dockerfile-templates/monitor/Dockerfile
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/readme-templates/README.md
  manifest.json
  manifest.versions.json
  src/monitor/6.2/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#3586 Move the .NET Monitor 6 and 6-* tags back to the 6.1 image
  README.monitor.md
  manifest.json
Labels: area-dockerfiles

#3587 [Dotnet Monitor] Update alpine images to 3.15
  README.monitor.md
  manifest.json
  src/monitor/6.0/alpine/amd64/Dockerfile
  src/monitor/6.1/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-dockerfiles

#3599 Update image size baseline for .NET Monitor
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#3600 [Monitor] Add mariner2.0 AMD64 to 6.2
  manifest.json
  src/monitor/6.2/cbl-mariner/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#3598 Aspnet targeting pack RPM arch changes & update to .NET 7 Preview 3
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
  eng/update-dependencies/DockerfileShaUpdater.cs
  manifest.versions.json
  src/aspnet/7.0/alpine3.15/amd64/Dockerfile
  src/aspnet/7.0/alpine3.15/arm32v7/Dockerfile
  src/aspnet/7.0/alpine3.15/arm64v8/Dockerfile
  src/aspnet/7.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/7.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/7.0/bullseye-slim/arm64v8/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/aspnet/7.0/jammy/amd64/Dockerfile
  src/aspnet/7.0/jammy/arm32v7/Dockerfile
  src/aspnet/7.0/jammy/arm64v8/Dockerfile
  src/aspnet/7.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/aspnet/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/aspnet/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime/7.0/alpine3.15/amd64/Dockerfile
  src/runtime/7.0/alpine3.15/arm32v7/Dockerfile
  src/runtime/7.0/alpine3.15/arm64v8/Dockerfile
  src/runtime/7.0/bullseye-slim/amd64/Dockerfile
  src/runtime/7.0/bullseye-slim/arm32v7/Dockerfile
  src/runtime/7.0/bullseye-slim/arm64v8/Dockerfile
  src/runtime/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime/7.0/jammy/amd64/Dockerfile
  src/runtime/7.0/jammy/arm32v7/Dockerfile
  src/runtime/7.0/jammy/arm64v8/Dockerfile
  src/runtime/7.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/runtime/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles

#3607 Update .NET Monitor 7.0 baseline sizes
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure
