Repository dotnet/dotnet-docker, pull requests merged in 2022-05, with the labels that each got.

#3741 Define distinct base URL categories
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/aspnet/Dockerfile.windows
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/runtime/Dockerfile.windows
  eng/dockerfile-templates/sdk/Dockerfile.linux
  eng/dockerfile-templates/sdk/Dockerfile.windows
  manifest.versions.json
Labels: area-infrastructure

#3746 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure

#3745 Update-dependencies support for internal .NET builds
  eng/Set-DotnetVersions.ps1
  eng/get-drop-versions.sh
  eng/update-dependencies/BaseUrlUpdater.cs
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/ManifestHelper.cs
  eng/update-dependencies/NuGetConfigUpdater.cs
  eng/update-dependencies/Options.cs
  eng/update-dependencies/UpdateDependencies.cs
  eng/update-dependencies/VersionUpdater.cs
Labels: area-infrastructure

#3752 Change Mariner to use MCR instead of ACR
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime/Dockerfile.linux
  src/aspnet/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/aspnet/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/aspnet/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
Labels: area-dockerfiles

#3753 Update-deps pipeline changes to support get-drop-versions.sh script
  eng/pipelines/update-dependencies.yml
Labels: area-infrastructure

#3759 Remove unused .NET Monitor 6.0 version variables
  manifest.versions.json
Labels: area-dockerfiles

#3773 Update dependencies fixes
  eng/update-dependencies/BaseUrlUpdater.cs
  eng/update-dependencies/ManifestHelper.cs
  eng/update-dependencies/NuGetConfigUpdater.cs
Labels: area-infrastructure

#3780 Fix update-deps for null version source name
  eng/update-dependencies/ManifestHelper.cs
Labels: area-infrastructure

#3779 Updates for PowerShell 7.0.11, 7.2.4
  manifest.versions.json
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/3.1/alpine3.15/amd64/Dockerfile
  src/sdk/3.1/bionic/amd64/Dockerfile
  src/sdk/3.1/bionic/arm32v7/Dockerfile
  src/sdk/3.1/bionic/arm64v8/Dockerfile
  src/sdk/3.1/bullseye/amd64/Dockerfile
  src/sdk/3.1/bullseye/arm32v7/Dockerfile
  src/sdk/3.1/bullseye/arm64v8/Dockerfile
  src/sdk/3.1/buster/amd64/Dockerfile
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/buster/arm64v8/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/focal/amd64/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm64v8/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.15/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure

#3775 [Monitor] Update 6.1 cbl-mariner images from 1.0 to 2.0
  manifest.json
  src/monitor/6.1/cbl-mariner/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#3785 Update generated readmes to include end of tags marker
  README.aspnet.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/common/templates/variables/docker-images.yml
Labels: area-infrastructure

#3754 Test support for internal .NET builds
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/EnvironmentVariableInfo.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.linux
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.windows
  tests/run-tests.ps1
Labels: area-infrastructure

#3791 3.1 targeting pack support in update-dependencies tool
  eng/update-dependencies/DockerfileShaUpdater.cs
Labels: area-infrastructure

#3790 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure

#3794 Add Dockerfiles for Alpine 3.16
  README.aspnet.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/3.1/alpine3.16/amd64/Dockerfile
  src/aspnet/3.1/alpine3.16/arm64v8/Dockerfile
  src/aspnet/6.0/alpine3.16/amd64/Dockerfile
  src/aspnet/6.0/alpine3.16/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.16/arm64v8/Dockerfile
  src/aspnet/7.0/alpine3.16/amd64/Dockerfile
  src/aspnet/7.0/alpine3.16/arm32v7/Dockerfile
  src/aspnet/7.0/alpine3.16/arm64v8/Dockerfile
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/monitor/6.2/alpine/amd64/Dockerfile
  src/monitor/6.2/alpine/arm64v8/Dockerfile
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/runtime-deps/3.1/alpine3.16/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.16/arm64v8/Dockerfile
  src/runtime-deps/6.0/alpine3.16/arm32v7/Dockerfile
  src/runtime/3.1/alpine3.16/amd64/Dockerfile
  src/runtime/3.1/alpine3.16/arm64v8/Dockerfile
  src/runtime/6.0/alpine3.16/amd64/Dockerfile
  src/runtime/6.0/alpine3.16/arm32v7/Dockerfile
  src/runtime/6.0/alpine3.16/arm64v8/Dockerfile
  src/runtime/7.0/alpine3.16/amd64/Dockerfile
  src/runtime/7.0/alpine3.16/arm32v7/Dockerfile
  src/runtime/7.0/alpine3.16/arm64v8/Dockerfile
  src/sdk/3.1/alpine3.16/amd64/Dockerfile
  src/sdk/6.0/alpine3.16/amd64/Dockerfile
  src/sdk/6.0/alpine3.16/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.16/arm64v8/Dockerfile
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/alpine3.16/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.16/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#3801 Reference MAR URLs in readmes for MAR portal
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.samples.portal.md
  .mar/portal/README.sdk.portal.md
  eng/readme-templates/About.md
  eng/readme-templates/Announcement.md
  eng/readme-templates/Get-GeneratedReadmes.ps1
  eng/readme-templates/README.mcr.md
  eng/readme-templates/README.md
  eng/readme-templates/RelatedRepos.md
  eng/readme-templates/Url.md
  eng/readme-templates/Use.aspnet.md
  eng/readme-templates/Use.md
  eng/readme-templates/Use.monitor.md
  eng/readme-templates/Use.product-family.md
  eng/readme-templates/Use.runtime-deps.md
  eng/readme-templates/Use.runtime.md
  eng/readme-templates/Use.samples.md
  eng/readme-templates/Use.sdk.md
  manifest.json
  manifest.samples.json
Labels: area-documentation

#3802 Merge main to nightly
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.samples.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/About.md
  eng/readme-templates/Announcement.md
  eng/readme-templates/Get-GeneratedReadmes.ps1
  eng/readme-templates/README.mcr.md
  eng/readme-templates/README.md
  eng/readme-templates/RelatedRepos.md
  eng/readme-templates/Url.md
  eng/readme-templates/Use.aspnet.md
  eng/readme-templates/Use.md
  eng/readme-templates/Use.monitor.md
  eng/readme-templates/Use.product-family.md
  eng/readme-templates/Use.runtime-deps.md
  eng/readme-templates/Use.runtime.md
  eng/readme-templates/Use.samples.md
  eng/readme-templates/Use.sdk.md
  manifest.json
  manifest.samples.json
Labels: area-infrastructure

#3800 Remove configuration to query installed packages
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/variables/docker-images.yml
  eng/package-scripts/cbl-mariner-distroless/dotnet7/get-installed-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/dotnet7/get-installed-packages.2.0.sh
  eng/package-scripts/cbl-mariner-distroless/dotnet7/get-installed-packages.sh
  eng/package-scripts/cbl-mariner-distroless/get-installed-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/get-installed-packages.2.0.sh
  eng/package-scripts/cbl-mariner-distroless/get-installed-packages.sh
  eng/package-scripts/cbl-mariner-distroless/get-upgradable-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/get-upgradable-packages.2.0.sh
  eng/package-scripts/cbl-mariner-distroless/get-upgradable-packages.sh
  eng/package-scripts/cbl-mariner/get-installed-packages.sh
  manifest.json
Labels: area-infrastructure
