Repository dotnet/dotnet-docker, pull requests merged in 2022-04, with the labels that each got.

#3610 [Dotnet Monitor] Add Alpine Arm64 to 7.0
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#3614 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#3628 Update 7.0 SDK to official build for Preview 3
  manifest.versions.json
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure

#3634 Update ASP.NET Core targeting pack file name for .NET 6
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
  eng/update-dependencies/DockerfileShaUpdater.cs
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
Labels: area-dockerfiles

#3624 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure

#3641 Update .NET Monitor 7 to preview 3
  README.monitor.md
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
Labels: area-infrastructure

#3639 Add dotnet-monitor 6.2 image for cbl-mariner arm64v8
  manifest.json
  src/monitor/6.2/cbl-mariner/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#3638 Add dotnet-monitor 7.0 image for cbl-mariner arm64v8
  manifest.json
  src/monitor/7.0/cbl-mariner/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#3708 Update Baseline for dotnet-monitor 6.2 cbl-mariner arm64v8
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#3709 Update Baseline for dotnet-monitor 7.0 cbl-mariner arm64v8
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#3703 Remove Json as default console logging formatter in aspnet images for 6.0
  eng/dockerfile-templates/aspnet/Dockerfile.envs
  eng/dockerfile-templates/sdk/Dockerfile.envs
  src/aspnet/6.0/alpine3.14/amd64/Dockerfile
  src/aspnet/6.0/alpine3.14/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.14/arm64v8/Dockerfile
  src/aspnet/6.0/alpine3.15/amd64/Dockerfile
  src/aspnet/6.0/alpine3.15/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.15/arm64v8/Dockerfile
  src/aspnet/6.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/6.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/6.0/bullseye-slim/arm64v8/Dockerfile
  src/aspnet/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/aspnet/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/aspnet/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/aspnet/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/aspnet/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/aspnet/6.0/focal/amd64/Dockerfile
  src/aspnet/6.0/focal/arm32v7/Dockerfile
  src/aspnet/6.0/focal/arm64v8/Dockerfile
  src/aspnet/6.0/jammy/amd64/Dockerfile
  src/aspnet/6.0/jammy/arm32v7/Dockerfile
  src/aspnet/6.0/jammy/arm64v8/Dockerfile
  src/aspnet/6.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/aspnet/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/aspnet/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.14/arm64v8/Dockerfile
  src/sdk/6.0/alpine3.15/amd64/Dockerfile
  src/sdk/6.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure, needs-announcement

#3717 Update UID of non-root user for Mariner 2.0
  eng/dockerfile-templates/runtime-deps/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
Labels: area-infrastructure

#3719 Add Dockerfiles for Ubuntu 22.04 (Jammy)
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.versions.json
  src/aspnet/6.0/jammy/amd64/Dockerfile
  src/aspnet/6.0/jammy/arm64v8/Dockerfile
  src/aspnet/7.0/jammy/amd64/Dockerfile
  src/aspnet/7.0/jammy/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy/amd64/Dockerfile
  src/runtime-deps/6.0/jammy/arm64v8/Dockerfile
  src/runtime/6.0/jammy/amd64/Dockerfile
  src/runtime/6.0/jammy/arm64v8/Dockerfile
  src/runtime/7.0/jammy/amd64/Dockerfile
  src/runtime/7.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-infrastructure

#3731 Remove ICU package from distroless version of Mariner 2.0
  eng/dockerfile-templates/Dockerfile.common-dotnet-envs
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  src/runtime-deps/3.1/alpine3.14/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.14/arm64v8/Dockerfile
  src/runtime-deps/3.1/alpine3.15/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.15/arm64v8/Dockerfile
  src/runtime-deps/5.0/alpine3.14/arm32v7/Dockerfile
  src/runtime-deps/5.0/alpine3.15/arm32v7/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
Labels: area-dockerfiles

#3732 Update link to announcements
  README.aspnet.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/README.md
Labels: area-documentation

#3736 Updating images for PowerShell v7.0.10, v7.1.7, v7.2.3
  manifest.versions.json
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/3.1/alpine3.15/amd64/Dockerfile
  src/sdk/3.1/bionic/amd64/Dockerfile
  src/sdk/3.1/bionic/arm32v7/Dockerfile
  src/sdk/3.1/bionic/arm64v8/Dockerfile
  src/sdk/3.1/bullseye/amd64/Dockerfile
  src/sdk/3.1/bullseye/arm32v7/Dockerfile
  src/sdk/3.1/bullseye/arm64v8/Dockerfile
  src/sdk/3.1/buster/amd64/Dockerfile
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/buster/arm64v8/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/focal/amd64/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm64v8/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/alpine3.14/amd64/Dockerfile
  src/sdk/5.0/alpine3.15/amd64/Dockerfile
  src/sdk/5.0/bullseye-slim/amd64/Dockerfile
  src/sdk/5.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/5.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.15/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles

#3733 Update support policy docs
  README.aspnet.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  documentation/supported-tags.md
  eng/readme-templates/README.md
Labels: area-documentation

#3742 Remove dotnet-monitor 6.0 image
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor/6.0/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles
