Repository dotnet/dotnet-docker, pull requests merged in 2022-06, with the labels that each got.

#3807 Merge main to nightly
  eng/common/templates/jobs/build-images.yml
  eng/common/templates/variables/docker-images.yml
  eng/package-scripts/cbl-mariner-distroless/dotnet7/get-installed-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/dotnet7/get-installed-packages.2.0.sh
  eng/package-scripts/cbl-mariner-distroless/dotnet7/get-installed-packages.sh
  eng/package-scripts/cbl-mariner-distroless/get-installed-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/get-installed-packages.2.0.sh
  eng/package-scripts/cbl-mariner-distroless/get-installed-packages.sh
  eng/package-scripts/cbl-mariner-distroless/get-upgradable-packages.1.0.sh
  eng/package-scripts/cbl-mariner-distroless/get-upgradable-packages.2.0.sh
  eng/package-scripts/cbl-mariner-distroless/get-upgradable-packages.sh
  eng/package-scripts/cbl-mariner/get-installed-packages.sh
  manifest.json
Labels: area-infrastructure

#3812 Misc fixes to support internal .NET builds
  eng/get-drop-versions.sh
  eng/update-dependencies/NuGetConfigUpdater.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
Labels: area-infrastructure

#3811 Dockerfile template fixes for internal .NET builds
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.download-runtime-deps-pkg
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/dockerfile-templates/sdk/Dockerfile.linux
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
Labels: area-dockerfiles

#3813 Pipeline support for internal .NET builds
  eng/pipelines/dotnet-core-nightly.yml
  eng/pipelines/stages/build-test-publish-repo.yml
  eng/pipelines/steps/set-imagebuilder-build-args-var.yml
  eng/pipelines/variables/core.yml
Labels: area-infrastructure

#3763 Fix broken links in docs
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  .mar/portal/README.runtime-deps.portal.md
  README.runtime-deps.md
  documentation/scenarios/installing-dotnet.md
  documentation/supported-tags.md
  eng/readme-templates/Use.runtime-deps.md
  samples/run-tests-in-sdk-container.md
Labels: area-documentation

#3833 Reduce Mariner distroless image size
  eng/dockerfile-templates/runtime-deps/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#3825 Mariner RPM updates
  eng/Set-DotnetVersions.ps1
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.download-runtime-deps-pkg
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
  eng/update-dependencies/DockerfileShaUpdater.cs
  manifest.versions.json
  src/aspnet/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
Labels: area-infrastructure

#3829 Set version source name in Set-DotnetVersions.ps1 script
  eng/Set-DotnetVersions.ps1
Labels: area-infrastructure

#3835 Set default port for distroless Mariner to a non-privileged port
  eng/dockerfile-templates/Dockerfile.common-dotnet-envs
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.linux
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.windows
Labels: area-external

#3847 Support localization in sdk for Alpine 3.16
  README.sdk.md
  eng/dockerfile-templates/monitor/Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.linux
  manifest.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/monitor/6.2/alpine/amd64/Dockerfile
  src/monitor/6.2/alpine/arm64v8/Dockerfile
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/3.1/alpine3.15/amd64/Dockerfile
  src/sdk/3.1/alpine3.16/amd64/Dockerfile
  src/sdk/6.0/alpine3.16/amd64/Dockerfile
  src/sdk/6.0/alpine3.16/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.16/arm64v8/Dockerfile
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/alpine3.16/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.16/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/Microsoft.DotNet.Docker.Tests.csproj
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.linux
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.windows
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/UnitTests.cs
Labels: area-infrastructure

#3850 Fix cache clean-up in Mariner 1.0 distroless
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime/Dockerfile.linux
  manifest.json
  src/aspnet/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
Labels: area-infrastructure

#3852 Merge main into nightly
  README.sdk.md
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/monitor/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/sdk/Dockerfile.linux
  manifest.json
  src/aspnet/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/monitor/6.2/alpine/amd64/Dockerfile
  src/monitor/6.2/alpine/arm64v8/Dockerfile
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/3.1/alpine3.15/amd64/Dockerfile
  src/sdk/3.1/alpine3.16/amd64/Dockerfile
  src/sdk/6.0/alpine3.16/amd64/Dockerfile
  src/sdk/6.0/alpine3.16/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.16/arm64v8/Dockerfile
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/alpine3.16/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.16/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/Microsoft.DotNet.Docker.Tests.csproj
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.linux
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.windows
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/UnitTests.cs
Labels: area-infrastructure

#3857 Remove tag change for Alpine 3.16 localization hotfix
  README.sdk.md
  eng/dockerfile-templates/monitor/Dockerfile
  manifest.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/monitor/6.2/alpine/amd64/Dockerfile
  src/monitor/6.2/alpine/arm64v8/Dockerfile
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
Labels: area-infrastructure

#3860 Update Ubuntu samples to version 22.04
  samples/aspnetapp/Dockerfile.ubuntu-x64
  samples/aspnetapp/Dockerfile.ubuntu-x64-slim
  samples/dotnetapp/Dockerfile.ubuntu-arm32
  samples/dotnetapp/Dockerfile.ubuntu-arm64
  samples/dotnetapp/Dockerfile.ubuntu-x64
  samples/dotnetapp/Dockerfile.ubuntu-x64-slim
Labels: area-samples

#3867 Update PowerShell to 7.2.5 and 7.3.0-preview.5
  manifest.versions.json
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.15/amd64/Dockerfile
  src/sdk/6.0/alpine3.16/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure

#3863 Generalize distroless testing pattern
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/EnvironmentVariableInfo.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.cbl-mariner-distroless
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.distroless
Labels: area-infrastructure

#3878 Updates to image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure

#3879 Remove redundant version-source-name arg for update-deps
  eng/pipelines/update-dependencies.yml
Labels: area-infrastructure

#3873 Filter tests in build stage by runtime version
  eng/pipelines/stages/build-test-publish-repo.yml
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/Microsoft.DotNet.Docker.Tests/VersionedImageData.cs
  tests/run-tests.ps1
Labels: area-infrastructure

#3885 Prevent tdnf cache from being populated
  eng/dockerfile-templates/Dockerfile.linux.install-rpms
  src/aspnet/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/aspnet/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/aspnet/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
Labels: area-infrastructure
