Repository dotnet/dotnet-docker, pull requests merged in 2022-02, with the labels that each got.

#3433 Convert dotnet-monitor 7.0 image to using 7.0 TFM
  eng/dockerfile-templates/monitor/7.0/Dockerfile.alpine
  src/monitor/7.0/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#3451 Remove Json as default console logging formatter in aspnet images for 7.0
  eng/dockerfile-templates/aspnet/Dockerfile.env-vars
  eng/dockerfile-templates/sdk/7.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/7.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/7.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/7.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/7.0/Dockerfile.windowsservercore
  src/aspnet/5.0/alpine3.14/amd64/Dockerfile
  src/aspnet/5.0/alpine3.14/arm32v7/Dockerfile
  src/aspnet/5.0/alpine3.14/arm64v8/Dockerfile
  src/aspnet/5.0/alpine3.15/amd64/Dockerfile
  src/aspnet/5.0/alpine3.15/arm32v7/Dockerfile
  src/aspnet/5.0/alpine3.15/arm64v8/Dockerfile
  src/aspnet/5.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/5.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/5.0/bullseye-slim/arm64v8/Dockerfile
  src/aspnet/5.0/buster-slim/amd64/Dockerfile
  src/aspnet/5.0/buster-slim/arm32v7/Dockerfile
  src/aspnet/5.0/buster-slim/arm64v8/Dockerfile
  src/aspnet/5.0/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/5.0/focal/amd64/Dockerfile
  src/aspnet/5.0/focal/arm32v7/Dockerfile
  src/aspnet/5.0/focal/arm64v8/Dockerfile
  src/aspnet/5.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-20H2/amd64/Dockerfile
  src/aspnet/5.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/aspnet/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/aspnet/5.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/aspnet/7.0/alpine3.15/amd64/Dockerfile
  src/aspnet/7.0/alpine3.15/arm32v7/Dockerfile
  src/aspnet/7.0/alpine3.15/arm64v8/Dockerfile
  src/aspnet/7.0/bullseye-slim/amd64/Dockerfile
  src/aspnet/7.0/bullseye-slim/arm32v7/Dockerfile
  src/aspnet/7.0/bullseye-slim/arm64v8/Dockerfile
  src/aspnet/7.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/aspnet/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/aspnet/7.0/focal/amd64/Dockerfile
  src/aspnet/7.0/focal/arm32v7/Dockerfile
  src/aspnet/7.0/focal/arm64v8/Dockerfile
  src/aspnet/7.0/nanoserver-1809/amd64/Dockerfile
  src/aspnet/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/aspnet/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/aspnet/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/amd64/Dockerfile
  src/sdk/7.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/7.0/focal/amd64/Dockerfile
  src/sdk/7.0/focal/arm32v7/Dockerfile
  src/sdk/7.0/focal/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure

#3445 Refactor runtime Dockerfile templates
  eng/dockerfile-templates/Dockerfile.alpine.invariant-mode
  eng/dockerfile-templates/Dockerfile.common-dotnet-envs
  eng/dockerfile-templates/Dockerfile.linux.download-file
  eng/dockerfile-templates/Dockerfile.linux.extract-tarball
  eng/dockerfile-templates/Dockerfile.linux.install-rpms
  eng/dockerfile-templates/Dockerfile.windows.download-file
  eng/dockerfile-templates/Dockerfile.windows.extract-zip
  eng/dockerfile-templates/aspnet/Dockerfile.envs
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
  eng/dockerfile-templates/aspnet/Dockerfile.windows
  eng/dockerfile-templates/aspnet/Dockerfile.windows.install-aspnet
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime/3.1/Dockerfile.alpine
  eng/dockerfile-templates/runtime/3.1/Dockerfile.linux
  eng/dockerfile-templates/runtime/3.1/Dockerfile.mariner
  eng/dockerfile-templates/runtime/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/runtime/5.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime/5.0/Dockerfile.linux
  eng/dockerfile-templates/runtime/5.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/runtime/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/runtime/6.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime/6.0/Dockerfile.linux
  eng/dockerfile-templates/runtime/6.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime/6.0/Dockerfile.mariner-distroless
  eng/dockerfile-templates/runtime/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/runtime/6.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/runtime/7.0/Dockerfile.alpine
  eng/dockerfile-templates/runtime/7.0/Dockerfile.linux
  eng/dockerfile-templates/runtime/7.0/Dockerfile.mariner
  eng/dockerfile-templates/runtime/7.0/Dockerfile.mariner-distroless
  eng/dockerfile-templates/runtime/7.0/Dockerfile.nanoserver
  eng/dockerfile-templates/runtime/7.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/runtime/Dockerfile.envs
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/dockerfile-templates/runtime/Dockerfile.linux.symlink
  eng/dockerfile-templates/runtime/Dockerfile.windows
  eng/dockerfile-templates/runtime/Dockerfile.windows.install-runtime
  eng/dockerfile-templates/runtime/Dockerfile.windows.set-path
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-powershell
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-powershell
  manifest.json
  src/runtime/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime/7.0/cbl-mariner1.0-distroless/amd64/Dockerfile
Labels: area-infrastructure

#3456 Remove extra space in sdk Dockerfiles
  eng/dockerfile-templates/sdk/3.1/Dockerfile.alpine
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/3.1/alpine3.15/amd64/Dockerfile
  src/sdk/5.0/bullseye-slim/amd64/Dockerfile
  src/sdk/5.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/5.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/5.0/buster-slim/amd64/Dockerfile
  src/sdk/5.0/buster-slim/arm32v7/Dockerfile
  src/sdk/5.0/buster-slim/arm64v8/Dockerfile
  src/sdk/5.0/focal/amd64/Dockerfile
  src/sdk/5.0/focal/arm32v7/Dockerfile
  src/sdk/5.0/focal/arm64v8/Dockerfile
Labels: area-dockerfiles

#3457 Use consistent variable names between .NET versions
  eng/dockerfile-templates/sdk/3.1/Dockerfile.alpine
  eng/dockerfile-templates/sdk/3.1/Dockerfile.linux
  eng/dockerfile-templates/sdk/3.1/Dockerfile.mariner
  eng/dockerfile-templates/sdk/3.1/Dockerfile.nanoserver
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/3.1/alpine3.15/amd64/Dockerfile
  src/sdk/3.1/bionic/amd64/Dockerfile
  src/sdk/3.1/bionic/arm32v7/Dockerfile
  src/sdk/3.1/bionic/arm64v8/Dockerfile
  src/sdk/3.1/bullseye/amd64/Dockerfile
  src/sdk/3.1/bullseye/arm32v7/Dockerfile
  src/sdk/3.1/bullseye/arm64v8/Dockerfile
  src/sdk/3.1/buster/amd64/Dockerfile
  src/sdk/3.1/buster/arm32v7/Dockerfile
  src/sdk/3.1/buster/arm64v8/Dockerfile
  src/sdk/3.1/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/3.1/focal/amd64/Dockerfile
  src/sdk/3.1/focal/arm32v7/Dockerfile
  src/sdk/3.1/focal/arm64v8/Dockerfile
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles

#3458 Use inline powershell command instead of SHELL
  eng/dockerfile-templates/sdk/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/6.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/7.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/7.0/Dockerfile.windowsservercore
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles

#3461 Use consistent formatting for PowerShell commands in sdk Dockerfiles
  eng/dockerfile-templates/sdk/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/7.0/Dockerfile.nanoserver
  src/sdk/3.1/nanoserver-1809/amd64/Dockerfile
  src/sdk/3.1/nanoserver-20H2/amd64/Dockerfile
  src/sdk/3.1/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/5.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/5.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/5.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles

#3462 Use consistent ordering of extraction paths
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/6.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/7.0/Dockerfile.windowsservercore
  src/sdk/5.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/5.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-documentation

#3467 Dotnet-Monitor reduce image size
  eng/dockerfile-templates/monitor/6.0/Dockerfile.alpine
  eng/dockerfile-templates/monitor/6.1/Dockerfile.alpine
  src/monitor/6.0/alpine/amd64/Dockerfile
  src/monitor/6.1/alpine/amd64/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#3464 Use consistent templates for targeting pack RPM URLs
  eng/dockerfile-templates/sdk/7.0/Dockerfile.mariner
  manifest.versions.json
  src/sdk/7.0/cbl-mariner1.0/amd64/Dockerfile
Labels: area-infrastructure

#3468 Refactor .NET Monitor templates into single template
  README.monitor.md
  eng/dockerfile-templates/monitor/6.0/Dockerfile.alpine
  eng/dockerfile-templates/monitor/6.1/Dockerfile.alpine
  eng/dockerfile-templates/monitor/7.0/Dockerfile.alpine
  eng/dockerfile-templates/monitor/Dockerfile
  manifest.json
  manifest.versions.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/amd64/Dockerfile
Labels: area-infrastructure

#3478 Update .NET Monitor featured tags
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/readme-templates/README.md
Labels: area-infrastructure

#3474 Refactor sdk Dockerfile templates
  eng/dockerfile-templates/Dockerfile.common-dotnet-envs
  eng/dockerfile-templates/Dockerfile.env.container
  eng/dockerfile-templates/Dockerfile.linux.download-and-install
  eng/dockerfile-templates/Dockerfile.linux.download-file
  eng/dockerfile-templates/Dockerfile.linux.extract-tarball
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  eng/dockerfile-templates/Dockerfile.linux.install-rpms
  eng/dockerfile-templates/Dockerfile.windows.download-file
  eng/dockerfile-templates/Dockerfile.windows.extract-zip
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
  eng/dockerfile-templates/aspnet/Dockerfile.windows.install-aspnet
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/dockerfile-templates/runtime/Dockerfile.windows.install-runtime
  eng/dockerfile-templates/sdk/3.1/Dockerfile.alpine
  eng/dockerfile-templates/sdk/3.1/Dockerfile.linux
  eng/dockerfile-templates/sdk/3.1/Dockerfile.mariner
  eng/dockerfile-templates/sdk/3.1/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/5.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/5.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/5.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/5.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/6.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/6.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/6.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/6.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/6.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/7.0/Dockerfile.alpine
  eng/dockerfile-templates/sdk/7.0/Dockerfile.linux
  eng/dockerfile-templates/sdk/7.0/Dockerfile.mariner
  eng/dockerfile-templates/sdk/7.0/Dockerfile.nanoserver
  eng/dockerfile-templates/sdk/7.0/Dockerfile.windowsservercore
  eng/dockerfile-templates/sdk/Dockerfile.envs
  eng/dockerfile-templates/sdk/Dockerfile.linux
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-powershell
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
  eng/dockerfile-templates/sdk/Dockerfile.windows
  eng/dockerfile-templates/sdk/Dockerfile.windows.first-run
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-components
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-powershell
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-sdk
  eng/dockerfile-templates/sdk/Dockerfile.windows.set-powershell-path
  manifest.json
  manifest.versions.json
Labels: area-infrastructure

#3491 Split image scanning into arch-specific jobs
  eng/pipelines/cg-images.yml
Labels: area-infrastructure

#3492 .NET Monitor: Get package from dotnetcli if stable product version
  eng/dockerfile-templates/monitor/Dockerfile
Labels: area-dockerfiles

#3495 Rollback .NET Monitor 6.1.0 to use Alpine 3.14
  README.monitor.md
  manifest.json
  src/monitor/6.1/alpine/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-dockerfiles

#3503 Merge main to nightly
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/README.md
  manifest.versions.json
  src/monitor/6.0/alpine/amd64/Dockerfile
  src/monitor/6.1/alpine/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.14/arm64v8/Dockerfile
  src/sdk/6.0/alpine3.15/amd64/Dockerfile
  src/sdk/6.0/alpine3.15/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.15/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-20H2/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure

#3511 Disable sample test for Windows
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
Labels: area-samples

#3512 Merge main to nightly
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
Labels: area-infrastructure

#3527 Use correct ca-certs pkg for full Mariner
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  src/runtime-deps/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner1.0/amd64/Dockerfile
Labels: area-infrastructure
