Repository dotnet/dotnet-docker, pull requests merged in 2022-12, with the labels that each got.

#4232 Update release checklists
  .github/ISSUE_TEMPLATE/releases/dotnet-monitor-release.md
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
  .github/ISSUE_TEMPLATE/releases/new-distro-release.md
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  .github/ISSUE_TEMPLATE/releases/patch-tuesday-release.md
Labels: area-infrastructure

#4239 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#4240 Update .NET Monitor Alpine Linux images to 3.17
  README.monitor.md
  manifest.json
  src/monitor/6.2/alpine/amd64/Dockerfile
  src/monitor/6.2/alpine/arm64v8/Dockerfile
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-dockerfiles

#4244 Use runtime-deps image for verifying insecure files
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-infrastructure

#4242 Add .NET Monitor 8 Dockerfiles
  README.monitor.md
  eng/dockerfile-templates/monitor/Dockerfile.entrypoint.monitorV8
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#4249 Merge main to nightly
  .github/ISSUE_TEMPLATE/releases/dotnet-monitor-release.md
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
  .github/ISSUE_TEMPLATE/releases/new-distro-release.md
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  .github/ISSUE_TEMPLATE/releases/patch-tuesday-release.md
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.samples.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/RelatedRepos.md
  samples/aspnetapp/aspnetapp/EnvironmentInfo.cs
  samples/aspnetapp/aspnetapp/Views/Home/Index.cshtml
  samples/dotnetapp/Program.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
Labels: area-infrastructure

#4243 Add .NET Monitor 8 to version update pipeline
  eng/pipelines/update-dependencies-monitor.yml
Labels: area-infrastructure

#4250 Remove channel name concept from update-dependencies
  CONTRIBUTING.md
  eng/pipelines/update-dependencies-monitor.yml
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/Options.cs
Labels: area-dockerfiles

#4258 Update PowerShell for v7.2.8 and v7.3.1
  manifest.versions.json
  src/sdk/6.0/alpine3.16/amd64/Dockerfile
  src/sdk/6.0/alpine3.17/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/alpine3.17/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure

#4262 Update image size baseline
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#4181 Doc to help determine action when CVE is reported
  .github/ISSUE_TEMPLATE/bug-report.md
  documentation/scripts/check-latest-base.ps1
  documentation/scripts/check-package-install.ps1
  documentation/scripts/check-tag-support.ps1
  documentation/scripts/resolve-image-digest.ps1
  documentation/vulnerability-reporting.md
Labels: area-documentation

#4265 Vulnerability doc improvements
  documentation/vulnerability-reporting.md
Labels: area-infrastructure

#4153 Update About.product-family.md
  README.md
  eng/readme-templates/About.product-family.md
  eng/readme-templates/Use.product-family.md
Labels: area-dockerfiles
