Repository dotnet/dotnet-docker, pull requests merged in 2022-07, with the labels that each got.

#3895 Re-enable complex app sample test for Windows
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
Labels: area-samples

#3366 Update host-aspnetcore-https.md
  samples/host-aspnetcore-https.md
Labels: enhancement, area-samples

#3900 Upgrade package dependencies
  eng/update-dependencies/update-dependencies.csproj
  tests/Microsoft.DotNet.Docker.Tests/Microsoft.DotNet.Docker.Tests.csproj
Labels: area-infrastructure

#3902 Remove Alpine 3.14 Dockerfiles
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile.linux
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/3.1/alpine3.14/amd64/Dockerfile
  src/aspnet/3.1/alpine3.14/arm64v8/Dockerfile
  src/aspnet/6.0/alpine3.14/amd64/Dockerfile
  src/aspnet/6.0/alpine3.14/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.14/arm64v8/Dockerfile
  src/runtime-deps/3.1/alpine3.14/amd64/Dockerfile
  src/runtime-deps/3.1/alpine3.14/arm64v8/Dockerfile
  src/runtime-deps/6.0/alpine3.14/arm32v7/Dockerfile
  src/runtime/3.1/alpine3.14/amd64/Dockerfile
  src/runtime/3.1/alpine3.14/arm64v8/Dockerfile
  src/runtime/6.0/alpine3.14/amd64/Dockerfile
  src/runtime/6.0/alpine3.14/arm32v7/Dockerfile
  src/runtime/6.0/alpine3.14/arm64v8/Dockerfile
  src/sdk/3.1/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/amd64/Dockerfile
  src/sdk/6.0/alpine3.14/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.14/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#3877 Update run-tests-in-sdk-container.md
  samples/run-tests-in-sdk-container.md
Labels: area-infrastructure

#3886 Set default entrypoint for distroless Mariner
  eng/dockerfile-templates/runtime/Dockerfile.linux
  src/runtime/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
Labels: area-dockerfiles

#3911 Enable PowerShell tests for Alpine 3.16
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure

#3924 PowerShell v7.3.0 preview.6
  manifest.versions.json
  src/sdk/7.0/alpine3.16/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles

#3936 Move NuGet.config to repo root
  NuGet.config
Labels: area-infrastructure

#3937 Fix update-deps Dockerfile for NuGet.config path change
  eng/update-dependencies/Dockerfile
Labels: area-infrastructure

#3938 Support internal NuGet feed in test stage of Dockerfiles for unit tests
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.linux
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.windows
Labels: area-infrastructure

#3940 Windows templates: only switch user to set path for Nano Server
  eng/dockerfile-templates/Dockerfile.windows.set-path
  eng/dockerfile-templates/runtime/Dockerfile.windows
  eng/dockerfile-templates/runtime/Dockerfile.windows.set-path
  eng/dockerfile-templates/sdk/Dockerfile.windows
  eng/dockerfile-templates/sdk/Dockerfile.windows.set-powershell-path
Labels: area-samples

#3939 Sample Dockerfile: explicitly restore test project
  samples/complexapp/Dockerfile
Labels: area-infrastructure

#3946 .NET Monitor: Remove stale UDS on startup
  eng/dockerfile-templates/monitor/Dockerfile
  src/monitor/6.2/alpine/amd64/Dockerfile
  src/monitor/6.2/alpine/arm64v8/Dockerfile
  src/monitor/6.2/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.2/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.2/cbl-mariner/amd64/Dockerfile
  src/monitor/6.2/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
Labels: area-dockerfiles

#3910 update-dependencies pipeline for internal builds
  eng/Set-DotnetVersions.ps1
  eng/get-drop-versions.sh
  eng/pipelines/steps/update-dependencies.yml
  eng/pipelines/steps/update-dotnet-dependencies.yml
  eng/pipelines/update-dependencies-internal.yml
  eng/pipelines/update-dependencies.yml
  eng/update-dependencies/BaseUrlUpdater.cs
  eng/update-dependencies/Dockerfile
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/ManifestHelper.cs
  eng/update-dependencies/NuGetConfigUpdater.cs
  eng/update-dependencies/Options.cs
  eng/update-dependencies/UpdateDependencies.cs
  eng/update-dependencies/update-dependencies.csproj
Labels: area-infrastructure

#3952 Fix template name from changes in #3910
  eng/pipelines/update-dependencies.yml
Labels: area-infrastructure
