Repository dotnet/dotnet-docker, pull requests merged in 2023-03, with the labels that each got.

#4505 Remove Alpine 3.16 Dockerfiles
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.versions.json
  src/aspnet/6.0/alpine3.16/amd64/Dockerfile
  src/aspnet/6.0/alpine3.16/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.16/arm64v8/Dockerfile
  src/runtime-deps/6.0/alpine3.16/amd64/Dockerfile
  src/runtime-deps/6.0/alpine3.16/arm32v7/Dockerfile
  src/runtime-deps/6.0/alpine3.16/arm64v8/Dockerfile
  src/runtime/6.0/alpine3.16/amd64/Dockerfile
  src/runtime/6.0/alpine3.16/arm32v7/Dockerfile
  src/runtime/6.0/alpine3.16/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#4508 Add ENV variable for app user ID
  eng/dockerfile-templates/Dockerfile.common-dotnet-envs
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.17/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm64v8/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/amd64/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy/amd64/Dockerfile
  src/runtime-deps/8.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
Labels: area-dockerfiles

#4515 Update Dockerfile.alpine-non-root
  samples/aspnetapp/Dockerfile.alpine-non-root
Labels: area-dockerfiles, untriaged

#4523 Change FROM statement
  samples/aspnetapp/Dockerfile.alpine-non-root
Labels: area-documentation, untriaged

#4531 Fix update-dependencies file formatting exceptions
  eng/update-dependencies/DockerfileShaUpdater.cs
Labels: area-infrastructure, untriaged
