Repository dotnet/dotnet-docker, pull requests merged in 2023-02, with the labels that each got.

#4371 Only use pipeline trigger for all .NET Monitor updates
  eng/pipelines/update-dependencies-monitor.yml
Labels: area-infrastructure

#4390 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#4405 Update supported-tags.md
  documentation/supported-tags.md
Labels: area-infrastructure

#4411 Update supported-tags.md
  documentation/supported-tags.md
Labels: area-documentation

#4412 Update README.md
  samples/aspnetapp/README.md
Labels: area-documentation

#4416 Update announcement link
  documentation/supported-tags.md
Labels: area-infrastructure

#4397 Add non-root user support
  README.runtime-deps.md
  eng/dockerfile-templates/Dockerfile.common-dotnet-envs
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  eng/dockerfile-templates/Dockerfile.linux.install-pkgs
  eng/dockerfile-templates/Dockerfile.linux.remove-pkgs
  eng/dockerfile-templates/monitor/Dockerfile.envs
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.distroless-user
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.non-root-user
  eng/dockerfile-templates/sdk/Dockerfile.envs
  eng/dockerfile-templates/sdk/Dockerfile.linux.first-run
  manifest.json
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.17/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm64v8/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/amd64/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy/amd64/Dockerfile
  src/runtime-deps/8.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy/arm64v8/Dockerfile
  src/runtime/8.0/nanoserver-1809/amd64/Dockerfile
  src/runtime/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/runtime/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/runtime/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/alpine3.17/amd64/Dockerfile
  src/sdk/8.0/alpine3.17/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.17/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#4414 Add globalization sample
  samples/README.md
  samples/globalapp/Dockerfile
  samples/globalapp/Program.cs
  samples/globalapp/README.md
  samples/globalapp/globalapp.csproj
Labels: area-samples

#4437 [main] Enable CodeQL Scanning
  .config/tsaoptions.json
  eng/pipelines/cg-code.yml
Labels: area-infrastructure

#4461 Workaround intermittent Arm Windows tests and fix version input for build-and-test.ps1
  build-and-test.ps1
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.windows
Labels: area-infrastructure
