Repository dotnet/dotnet-docker, pull requests merged in 2023-07, with the labels that each got.

#4710 Enable Composite Docker Images for Jammy Chiseled and Mariner Distroless
  README.aspnet.md
  eng/dockerfile-templates/aspnet/Dockerfile.linux-composite
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  manifest.json
  manifest.versions.json
  src/aspnet/8.0/alpine3.18-composite/amd64/Dockerfile
  src/aspnet/8.0/alpine3.18-composite/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.18-composite/arm64v8/Dockerfile
  src/aspnet/8.0/cbl-mariner2.0-distroless-composite/amd64/Dockerfile
  src/aspnet/8.0/cbl-mariner2.0-distroless-composite/arm64v8/Dockerfile
  src/aspnet/8.0/jammy-chiseled-composite/amd64/Dockerfile
  src/aspnet/8.0/jammy-chiseled-composite/arm32v7/Dockerfile
  src/aspnet/8.0/jammy-chiseled-composite/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure, untriaged

#4724 Fix errors when update-dependencies only updates Ubuntu Chisel tool
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/update-dependencies/BasicVariableUpdater.cs
  eng/update-dependencies/ChiselRefUpdater.cs
  eng/update-dependencies/ChiselToolUpdater.cs
  eng/update-dependencies/ManifestHelper.cs
  eng/update-dependencies/RocksToolboxRefUpdater.cs
  eng/update-dependencies/UpdateDependencies.cs
  eng/update-dependencies/VersionUpdater.cs
  manifest.versions.json
Labels: area-infrastructure, untriaged

#4753 Update PowerShell for .NET 7 and .NET 6 SDK images
  manifest.versions.json
  src/sdk/6.0/alpine3.17/amd64/Dockerfile
  src/sdk/6.0/alpine3.18/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/6.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/alpine3.17/amd64/Dockerfile
  src/sdk/7.0/alpine3.18/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/7.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles, untriaged

#4747 Test .NET Monitor with samples regardless of mode and distrolessness
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/DockerRunArgsBuilder.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
Labels: area-samples, untriaged

#4752 Use release tag to update rocks-toolbox
  eng/dockerfile-templates/Dockerfile.git-clone
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/update-dependencies/ChiselRefUpdater.cs
  eng/update-dependencies/ChiselToolUpdater.cs
  eng/update-dependencies/GitHubHelper.cs
  eng/update-dependencies/RocksToolboxRefUpdater.cs
  eng/update-dependencies/UpdateDependencies.cs
  manifest.versions.json
Labels: untriaged

#4765 Remove broken container best practices link
  samples/README.md
Labels: area-infrastructure, untriaged

#4777 Force upgrade of .NET runtime deps in alpine images
  eng/dockerfile-templates/Dockerfile.linux.install-pkgs
  src/runtime-deps/6.0/alpine3.17/amd64/Dockerfile
  src/runtime-deps/6.0/alpine3.17/arm32v7/Dockerfile
  src/runtime-deps/6.0/alpine3.17/arm64v8/Dockerfile
  src/runtime-deps/6.0/alpine3.18/amd64/Dockerfile
  src/runtime-deps/6.0/alpine3.18/arm32v7/Dockerfile
  src/runtime-deps/6.0/alpine3.18/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.18/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.18/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/6.0/alpine3.17/amd64/Dockerfile
  src/sdk/6.0/alpine3.17/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.17/arm64v8/Dockerfile
  src/sdk/6.0/alpine3.18/amd64/Dockerfile
  src/sdk/6.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/7.0/alpine3.17/amd64/Dockerfile
  src/sdk/7.0/alpine3.17/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.17/arm64v8/Dockerfile
  src/sdk/7.0/alpine3.18/amd64/Dockerfile
  src/sdk/7.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.18/arm64v8/Dockerfile
Labels: area-infrastructure, untriaged

#4785 Add breaking change announcement
  samples/README.md
Labels: area-documentation, untriaged
