Repository dotnet/dotnet-docker, pull requests merged in 2023-06, with the labels that each got.

#4641 .NET Monitor 7.2 Images
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor/7.2/alpine/amd64/Dockerfile
  src/monitor/7.2/alpine/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.2/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.2/ubuntu-chiseled/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#4647 Remove libintl from .NET 8.0 Alpine runtime-deps images
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  src/runtime-deps/8.0/alpine3.17/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.18/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.18/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.18/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#4648 Add missing newline in non-root 8.0 images
  eng/dockerfile-templates/runtime-deps/Dockerfile
  src/runtime-deps/8.0/alpine3.17/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.18/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.18/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.18/arm64v8/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/amd64/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy/amd64/Dockerfile
  src/runtime-deps/8.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#4660 Fixes for .NET 8 release
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-powershell
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.linux
Labels: area-infrastructure, untriaged

#4668 Remove unused .NET 8.0 Alpine 3.17 Dockerfiles
  src/runtime-deps/8.0/alpine3.17/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.17/amd64/Dockerfile
  src/sdk/8.0/alpine3.17/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.17/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#4652 Make .NET 8.0 Mariner image multi-stage to reduce image size
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.non-root-user
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.non-root-user-staged
  src/runtime-deps/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure, untriaged

#4669 Move dotnet-monitor and Alpine floating tags to 3.18
  README.aspnet.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.json
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.1/alpine/amd64/Dockerfile
  src/monitor/7.1/alpine/arm64v8/Dockerfile
  src/monitor/7.2/alpine/amd64/Dockerfile
  src/monitor/7.2/alpine/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-dockerfiles, untriaged

#4670 Add Debian 12 Bookworm support for 6.0/7.0
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/6.0/bookworm-slim/amd64/Dockerfile
  src/aspnet/6.0/bookworm-slim/arm32v7/Dockerfile
  src/aspnet/6.0/bookworm-slim/arm64v8/Dockerfile
  src/aspnet/7.0/bookworm-slim/amd64/Dockerfile
  src/aspnet/7.0/bookworm-slim/arm32v7/Dockerfile
  src/aspnet/7.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime-deps/6.0/bookworm-slim/amd64/Dockerfile
  src/runtime-deps/6.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime-deps/6.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime/6.0/bookworm-slim/amd64/Dockerfile
  src/runtime/6.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime/6.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime/7.0/bookworm-slim/amd64/Dockerfile
  src/runtime/7.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime/7.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/6.0/bookworm-slim/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/6.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/7.0/bookworm-slim/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/7.0/bookworm-slim/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: untriaged

#4681 Fix mislabeled Alpine ASP.NET composite images
  README.aspnet.md
  manifest.json
Labels: area-dockerfiles, untriaged

#4677 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure, untriaged

#4676 Remove --system flag from non-root user and group creation
  build-and-test.ps1
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.non-root-user
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.18/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.18/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.18/arm64v8/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/amd64/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy/amd64/Dockerfile
  src/runtime-deps/8.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy/arm64v8/Dockerfile
Labels: untriaged

#4633 Update Debian policy
  documentation/supported-platforms.md
Labels: untriaged

#4684 Update syft to v0.84.0
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
Labels: untriaged

#4687 Update Windows image size baselines
  tests/performance/ImageSize.nightly.windows.json
Labels: area-dockerfiles, untriaged

#4695 Fix dotnet/nightly/monitor/base size baseline declarations
  tests/performance/ImageSize.nightly.linux.json
Labels: area-documentation, untriaged

#4694 Remove .NET Monitor 7.0 images
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor/7.0/alpine/amd64/Dockerfile
  src/monitor/7.0/alpine/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.0/cbl-mariner/amd64/Dockerfile
  src/monitor/7.0/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.0/ubuntu-chiseled/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#4688 Enable image scanning for Ubuntu Chiseled
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
Labels: area-dockerfiles, untriaged

#4703 Update PowerShell for .NET 6 and .NET 7
  manifest.versions.json
  src/sdk/6.0/alpine3.17/amd64/Dockerfile
  src/sdk/6.0/alpine3.18/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/6.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/alpine3.17/amd64/Dockerfile
  src/sdk/7.0/alpine3.18/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/7.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged

#4697 Add SqlClient info to globalization doc
  samples/enable-globalization.md
Labels: area-infrastructure, untriaged

#4715 Update non-root UID to avoid warning in Debian
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.18/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.18/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.18/arm64v8/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/amd64/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy/amd64/Dockerfile
  src/runtime-deps/8.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
Labels: area-documentation, untriaged

#4711 Add chisel and rocks-toolbox support to update-dependencies tool
  eng/dockerfile-templates/Dockerfile.git-clone
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/update-dependencies/BasicVariableUpdater.cs
  eng/update-dependencies/GitHubHelper.cs
  eng/update-dependencies/MinGitHelper.cs
  eng/update-dependencies/MinGitUpdater.cs
  eng/update-dependencies/UpdateDependencies.cs
  eng/update-dependencies/VariableUpdaterBase.cs
  manifest.versions.json
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
Labels: area-infrastructure, untriaged
