Repository dotnet/dotnet-docker, pull requests merged in 2023-08, with the labels that each got.

#4792 .NET Monitor 7.3 Ubuntu Chiseled images
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  src/monitor/7.3/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.3/ubuntu-chiseled/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#4793 Remove .NET Monitor 7.1 and 7.2 Chiseled images
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  src/monitor/7.1/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.1/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/7.2/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.2/ubuntu-chiseled/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#4816 Remove Alpine 3.17 Images
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.versions.json
  src/aspnet/6.0/alpine3.17/amd64/Dockerfile
  src/aspnet/6.0/alpine3.17/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.17/arm64v8/Dockerfile
  src/aspnet/7.0/alpine3.17/amd64/Dockerfile
  src/aspnet/7.0/alpine3.17/arm32v7/Dockerfile
  src/aspnet/7.0/alpine3.17/arm64v8/Dockerfile
  src/runtime-deps/6.0/alpine3.17/amd64/Dockerfile
  src/runtime-deps/6.0/alpine3.17/arm32v7/Dockerfile
  src/runtime-deps/6.0/alpine3.17/arm64v8/Dockerfile
  src/runtime/6.0/alpine3.17/amd64/Dockerfile
  src/runtime/6.0/alpine3.17/arm32v7/Dockerfile
  src/runtime/6.0/alpine3.17/arm64v8/Dockerfile
  src/runtime/7.0/alpine3.17/amd64/Dockerfile
  src/runtime/7.0/alpine3.17/arm32v7/Dockerfile
  src/runtime/7.0/alpine3.17/arm64v8/Dockerfile
  src/sdk/6.0/alpine3.17/amd64/Dockerfile
  src/sdk/6.0/alpine3.17/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.17/arm64v8/Dockerfile
  src/sdk/7.0/alpine3.17/amd64/Dockerfile
  src/sdk/7.0/alpine3.17/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.17/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#4817 Remove preview designation from 8.0 tags
  README.aspnet.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  samples/aspnetapp/Dockerfile.alpine-non-root
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
Labels: area-documentation, untriaged

#4828 Update Azure Artifacts docker sample for Windows
  documentation/scenarios/nuget-credentials.md
Labels: area-samples, untriaged

#4831 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure, untriaged

#4836 Update PowerShell for the v7.4.0-preview.5 release
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-powershell
  manifest.versions.json
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged

#4839 Update .NET 7.0 SDK image sizes
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-dockerfiles, untriaged

#4848 Update Alpine 8.0 SDK image size baseline
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged
