Repository dotnet/dotnet-docker, pull requests merged in 2023-05, with the labels that each got.

#4591 Update README.md
  samples/README.md
Labels: area-documentation, untriaged

#4606 Update README.md to remove typo in link
  samples/aspnetapp/README.md
Labels: area-documentation, untriaged

#4617 Update image size baeslines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure, untriaged

#4621 Merge main to nightly
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
  README.sdk.md
  manifest.versions.json
  samples/README.md
  samples/aspnetapp/Dockerfile.alpine-non-root
  samples/aspnetapp/README.md
  samples/aspnetapp/aspnetapp/EnvironmentInfo.cs
  samples/complexapp/complexapp/Program.cs
  samples/complexapp/libbar/Bar.cs
  samples/complexapp/libfoo/Foo.cs
  samples/complexapp/tests/StringLibraryTests.cs
  samples/complexapp/tests/StringUtilsTests.cs
  samples/complexapp/tests/UnitTest1.cs
  samples/dotnetapp/Program.cs
  samples/kubernetes/README.md
  samples/kubernetes/dotnet-monitor/README.md
  samples/kubernetes/dotnet-monitor/dotnet-monitor.yaml
  samples/kubernetes/dotnet-monitor/load-test.yaml
  samples/kubernetes/dotnet-monitor/prometheus-app.yaml
  samples/kubernetes/graceful-shutdown/README.md
  samples/kubernetes/graceful-shutdown/graceful-shutdown.md
  samples/kubernetes/hello-dotnet/README.md
  samples/kubernetes/hello-dotnet/container-azm-ms-agentconfig.yaml
  samples/kubernetes/hello-dotnet/hello-dotnet-loadbalancer.yaml
  samples/kubernetes/hello-dotnet/hello-dotnet.yaml
  samples/kubernetes/manual-deployment/README.md
  samples/kubernetes/non-root/README.md
  samples/kubernetes/non-root/non-root.yaml
  samples/kubernetes/replicas-and-health/README.md
  samples/kubernetes/replicas-and-health/replica-health.yml
  samples/kubernetes/resource-limits/README.md
  samples/kubernetes/resource-limits/resource-limits.yaml
  src/sdk/7.0/alpine3.17/amd64/Dockerfile
  src/sdk/7.0/alpine3.17/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.17/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
Labels: untriaged

#4593 Disable log init during non-root user creation
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.non-root-user
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/amd64/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy/amd64/Dockerfile
  src/runtime-deps/8.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy/arm64v8/Dockerfile
Labels: area-documentation, untriaged

#4615 Fix exec: "./aspnetapp.dll": permission denied
  samples/aspnetapp/Dockerfile.chiseled
  samples/aspnetapp/Dockerfile.debian
  samples/dotnetapp/Dockerfile.chiseled
Labels: area-samples, untriaged

#4594 [Fixed] - Add Dockerfiles for Linux .NET Composite Images
  .mar/portal/README.aspnet.portal.md
  README.aspnet.md
  eng/Set-DotnetVersions.ps1
  eng/dockerfile-templates/aspnet/Dockerfile.linux-composite
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/readme-templates/About.aspnet.md
  eng/readme-templates/About.composite-aspnet.md
  eng/readme-templates/About.md
  eng/update-dependencies/DockerfileShaUpdater.cs
  manifest.json
  manifest.versions.json
  src/aspnet/8.0/alpine3.17-composite/amd64/Dockerfile
  src/aspnet/8.0/alpine3.17-composite/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.17-composite/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspnetCompositeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/CommonAspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/DotNetImageType.cs
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
  tests/run-tests.ps1
Labels: area-dockerfiles, untriaged

#4635 Separate regular and composite images in manifest
  README.aspnet.md
  manifest.json
Labels: area-dockerfiles, untriaged

#4616 Optimize layers in runtime-deps images
  eng/dockerfile-templates/aspnet/Dockerfile.envs
  eng/dockerfile-templates/aspnet/Dockerfile.linux-composite
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.distroless-user
  eng/dockerfile-templates/runtime-deps/Dockerfile.linux.non-root-user
  src/aspnet/8.0/alpine3.17-composite/amd64/Dockerfile
  src/aspnet/8.0/alpine3.17-composite/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.17-composite/arm64v8/Dockerfile
  src/runtime-deps/6.0/alpine3.17/amd64/Dockerfile
  src/runtime-deps/6.0/alpine3.17/arm32v7/Dockerfile
  src/runtime-deps/6.0/alpine3.17/arm64v8/Dockerfile
  src/runtime-deps/6.0/bullseye-slim/amd64/Dockerfile
  src/runtime-deps/6.0/bullseye-slim/arm32v7/Dockerfile
  src/runtime-deps/6.0/bullseye-slim/arm64v8/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/6.0/focal/amd64/Dockerfile
  src/runtime-deps/6.0/focal/arm32v7/Dockerfile
  src/runtime-deps/6.0/focal/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy/amd64/Dockerfile
  src/runtime-deps/6.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.17/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.17/arm64v8/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/amd64/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy/amd64/Dockerfile
  src/runtime-deps/8.0/jammy/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged
