Repository dotnet/dotnet-docker, pull requests merged in 2023-09, with the labels that each got.

#4822 Add native AOT runtime-deps and sdk variants
  README.runtime-deps.md
  README.sdk.md
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.aot
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu.aot
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner.aot
  eng/dockerfile-templates/sdk/Dockerfile.linux.aot
  eng/dockerfile-templates/sdk/Dockerfile.ubuntu.aot
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/runtime-deps/8.0/alpine3.18-aot/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.18-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.18-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless-aot/amd64/Dockerfile
  src/runtime-deps/8.0/cbl-mariner2.0-distroless-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.18-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.18-aot/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0-aot/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0-aot/arm64v8/Dockerfile
  src/sdk/8.0/jammy-aot/amd64/Dockerfile
  src/sdk/8.0/jammy-aot/arm64v8/Dockerfile
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#4806 Simplify Chisel tool installation
  eng/dockerfile-templates/Dockerfile.git-clone
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/update-dependencies/ChiselToolUpdater.cs
  eng/update-dependencies/GitHubHelper.cs
  eng/update-dependencies/UpdateDependencies.cs
  manifest.versions.json
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#4857 Remove unnecessary custom build leg groups that were causing errors
  manifest.json
Labels: area-infrastructure, untriaged

#4855 Update image sizes for runtime-deps `extra` images
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#4858 Add missing build-base package from Alpine AOT SDK
  eng/dockerfile-templates/sdk/Dockerfile.linux.aot
  src/sdk/8.0/alpine3.18-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.18-aot/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#4863 Pin .NET Monitor base image versions
  eng/dockerfile-templates/monitor-base/Dockerfile.linux
  eng/dockerfile-templates/monitor/Dockerfile.linux
  manifest.versions.json
Labels: area-dockerfiles, untriaged

#4864 Fix alpine custom build leg groups to match other extra/aot images
  manifest.json
Labels: area-infrastructure, untriaged

#4874 Update ENTRYPOINT of `releasesapp` sample
  samples/releasesapp/Dockerfile
  samples/releasesapp/Dockerfile.alpine
  samples/releasesapp/Dockerfile.chiseled
Labels: area-samples, untriaged

#4876 Add nuget.config for nightly feed
  samples/releasesapi/Dockerfile
  samples/releasesapi/Dockerfile.alpine
  samples/releasesapi/Dockerfile.alpine-icu
  samples/releasesapi/Dockerfile.cbl-mariner
  samples/releasesapi/Dockerfile.debian
  samples/releasesapi/Dockerfile.debian-cross-arm64-x64
  samples/releasesapi/Dockerfile.debian-cross-x64-arm64
  samples/releasesapi/nuget.config
Labels: untriaged

#4880 Update README.md
  samples/releasesapi/README.md
Labels: area-documentation, untriaged

#4879 Fix bad math
  samples/aspnetapp/aspnetapp/EnvironmentInfo.cs
  samples/aspnetapp/aspnetapp/Pages/Index.cshtml
  samples/dotnetapp/Program.cs
Labels: untriaged

#4885 Update to new version of .NET 8.0 RC.1 SDK
  manifest.versions.json
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-documentation, untriaged

#4878 Add RC section to readmes
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor-base.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/FeaturedTags.md
Labels: area-documentation, untriaged

#4887 Update releasesapi nuget.config
  samples/releasesapi/nuget.config
Labels: area-infrastructure, untriaged

#4888 Write indented JSON
  samples/releasesapp/Program.cs
Labels: untriaged

#4882 Remove package install
  samples/releasesapi/Dockerfile.cbl-mariner
Labels: area-dockerfiles, untriaged

#4890 Update sample test image data to reflect published images
  eng/common/templates/steps/init-docker-linux.yml
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-samples, untriaged

#4881 Move extra test dependency from arm64 to arm32 jammy chiseled
  manifest.json
Labels: area-infrastructure, untriaged

#4875 Remove preview suffix from nightly READMEs
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor-base.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.monitor-base.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/FeaturedTags.md
Labels: area-documentation, untriaged

#4889 Remove .NET Monitor 7.1 images
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor/7.1/alpine/amd64/Dockerfile
  src/monitor/7.1/alpine/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.1/cbl-mariner/amd64/Dockerfile
  src/monitor/7.1/cbl-mariner/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#4877 Update image sizes
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#4894 Update PowerShell for the v7.3.7 release
  manifest.versions.json
  src/sdk/7.0/alpine3.18/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/7.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: untriaged

#4893 Update PowerShell for the v7.2.14 release
  manifest.versions.json
  src/sdk/6.0/alpine3.18/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/6.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: untriaged

#4859 Add native AOT image tests
  tests/Microsoft.DotNet.Docker.Tests/DotNetImageVariant.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.linux
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-infrastructure, untriaged

#4905 Update image sizes
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#4906 Change aspnetapp sample to be based on alpine
  README.samples.md
  eng/mcr-tags-metadata-templates/samples-tags.yml
  manifest.samples.json
  samples/aspnetapp/Dockerfile.alpine
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-samples, untriaged

#4907 Remove --no-restore; failing on Arm32
  samples/aspnetapp/Dockerfile.alpine
Labels: area-dockerfiles, untriaged

#4912 Update image sizes
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#4917 Update for the v7.4.0-preview.6 release
  manifest.versions.json
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged
