Repository dotnet/dotnet-docker, pull requests merged in 2023-10, with the labels that each got.

#4909 Clarify support policy in dotnet/samples README
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor-base.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.samples.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/Support.md
Labels: area-documentation, untriaged

#4928 Pin .NET Monitor base image versions (October 2023)
  eng/dockerfile-templates/monitor-base/Dockerfile.linux
  eng/dockerfile-templates/monitor/Dockerfile.linux
  manifest.versions.json
Labels: area-dockerfiles, untriaged

#4931 Update aspnetapp samples port
  samples/aspnetapp/README.md
  samples/releasesapi/README.md
Labels: area-samples, untriaged

#4929 Change dotnetapp samples to alpine and re-enable tests
  README.samples.md
  eng/mcr-tags-metadata-templates/samples-tags.yml
  manifest.samples.json
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-samples, untriaged

#4930 .NET Monitor Container Images Servicing October 2023
  README.monitor-base.md
  README.monitor.md
  manifest.versions.json
  src/monitor-base/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.2/alpine/amd64/Dockerfile
  src/monitor/7.2/alpine/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.3/alpine/amd64/Dockerfile
  src/monitor/7.3/alpine/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#4937 Fix Alpine ICU sample build
  samples/dotnetapp/Dockerfile.alpine-icu
Labels: area-samples, untriaged

#4936 Update to latest PowerShell releases
  manifest.versions.json
  src/sdk/6.0/alpine3.18/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/6.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/alpine3.18/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/7.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged

#4933 docs: fix typos
  samples/run-tests-in-sdk-container.md
Labels: untriaged

#4940 Update READMEs for .NET 8
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor-base.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  eng/readme-templates/FeaturedTags.md
Labels: area-documentation, untriaged

#4946 Update image sizes
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#4947 Fix more ASP.NET Ports in readmes
  .mar/portal/README.samples.portal.md
  README.md
  README.samples.md
  eng/readme-templates/Use.md
  eng/readme-templates/Use.product-family.md
  eng/readme-templates/Use.samples.md
  samples/README.md
Labels: area-documentation, untriaged

#4956 Specify platform for tests to pull the correct images on arm32
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
Labels: area-infrastructure, untriaged

#4958 Fix cross platform build on alpine sample
  samples/aspnetapp/Dockerfile.alpine
Labels: area-samples, untriaged

#4963 Move .NET 8 tags out of Preview sub-tables in Readmes
  README.aspnet.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
Labels: area-documentation, untriaged

#4970 Update PowerShell for .NET 6 and .NET 7
  manifest.versions.json
  src/sdk/6.0/alpine3.18/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/6.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/alpine3.18/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/7.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged

#4973 Remove dotnet-monitor 7.2
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor/7.2/alpine/amd64/Dockerfile
  src/monitor/7.2/alpine/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.2/cbl-mariner/amd64/Dockerfile
  src/monitor/7.2/cbl-mariner/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#4972 Prepare dotnet-monitor RTM build
  README.monitor-base.md
  README.monitor.md
  manifest.versions.json
  src/monitor-base/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
Labels: untriaged

#4974 Update image sizes
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-dockerfiles, untriaged

#4968 Add general documentation page for Ubuntu Chiseled
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor-base.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.samples.portal.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  documentation/ubuntu-chiseled.md
  eng/readme-templates/About.aspnet.md
  eng/readme-templates/About.chiseled.md
  eng/readme-templates/About.md
Labels: area-documentation, untriaged

#4975 Document Windows lack of multi-platform tags
  documentation/supported-tags.md
Labels: area-documentation, untriaged
