Repository dotnet/dotnet-docker, pull requests merged in 2023-01, with the labels that each got.

#4274 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure

#4331 Add openssl1.1-compat to update-dependencies Dockerfile
  eng/update-dependencies/Dockerfile
Labels: area-infrastructure

#4231 Update apps to cover memory reservation scenario
  samples/aspnetapp/aspnetapp/EnvironmentInfo.cs
  samples/dotnetapp/Program.cs
Labels: area-documentation

#4315 Only update one .NET Monitor version in update dependencies pipeline
  eng/pipelines/update-dependencies-monitor.yml
Labels: area-infrastructure

#4342 [nightly] Add CODEOWNERS file
  CODEOWNERS
Labels: area-documentation

#4330 Move .NET 8 preview images to Debian 12 Bookworm
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.versions.json
  src/aspnet/8.0/bookworm-slim/amd64/Dockerfile
  src/aspnet/8.0/bookworm-slim/arm32v7/Dockerfile
  src/aspnet/8.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/amd64/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime-deps/8.0/bookworm-slim/arm64v8/Dockerfile
  src/runtime/8.0/bookworm-slim/amd64/Dockerfile
  src/runtime/8.0/bookworm-slim/arm32v7/Dockerfile
  src/runtime/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles

#4351 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-infrastructure

#4350 Clarify WSC version support in doc
  documentation/supported-platforms.md
Labels: area-documentation

#4359 Re-enable tests for .NET 8.0
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/NuGet.config.nightly
Labels: area-infrastructure

#4363 Use pipeline resources when updating .NET Monitor dependencies
  eng/Get-MonitorDropVersions.ps1
  eng/pipelines/update-dependencies-monitor.yml
Labels: area-infrastructure

#4364 Example of using NugetAuthenticate to get PAT
  documentation/scenarios/nuget-credentials.md
Labels: area-samples
