Repository dotnet/dotnet-docker, pull requests merged in 2023-04, with the labels that each got.

#4539 Pin anchore/syft to v0.75.0
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
Labels: untriaged

#4541 Pin anchore/syft to v0.75.0
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
Labels: area-documentation, untriaged

#4536 Remove multi-platform tags for Windows
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  manifest.json
Labels: area-dockerfiles

#4491 Re-enable PowerShell in SDK images and update to latest version
  eng/dockerfile-templates/sdk/Dockerfile.linux
  eng/dockerfile-templates/sdk/Dockerfile.windows
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-components
  manifest.versions.json
  src/sdk/8.0/alpine3.17/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-dockerfiles

#4556 Update Dockerfile.alpine-non-root
  samples/aspnetapp/Dockerfile.alpine-non-root
Labels: area-dockerfiles, untriaged

#4557 Update release process checklist
  .github/ISSUE_TEMPLATE/releases/dotnet-release.md
Labels: area-documentation, untriaged

#4565 Update LoadBalancer sample to use port 80
  samples/kubernetes/README.md
  samples/kubernetes/hello-dotnet/README.md
  samples/kubernetes/hello-dotnet/hello-dotnet-loadbalancer.yaml
Labels: area-samples, untriaged

#4560 Update for PowerShell v7.3.4
  manifest.versions.json
  src/sdk/7.0/alpine3.17/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged

#4561 Update for PowerShell v7.2.11
  manifest.versions.json
  src/sdk/6.0/alpine3.17/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner1.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: untriaged

#4571 Fix broken link
  samples/kubernetes/README.md
Labels: area-documentation, untriaged

#4572 Use Set-DotnetVersions for updating .NET Monitor
  eng/Set-DotnetVersions.ps1
  eng/pipelines/update-dependencies-monitor.yml
Labels: area-infrastructure, untriaged

#4564 Use FileScoped namespaces and refactor tests.
  samples/complexapp/complexapp/Program.cs
  samples/complexapp/libbar/Bar.cs
  samples/complexapp/libfoo/Foo.cs
  samples/complexapp/tests/StringLibraryTests.cs
  samples/complexapp/tests/StringUtilsTests.cs
  samples/complexapp/tests/UnitTest1.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
Labels: area-infrastructure, untriaged

#4550 Introduce HostName to EnvironmentInfo.
  samples/aspnetapp/aspnetapp/EnvironmentInfo.cs
  samples/dotnetapp/Program.cs
Labels: area-dockerfiles, untriaged

#4577 Update PowerShell for the v7.4.0-preview.3 release
  manifest.versions.json
  src/sdk/8.0/alpine3.17/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged
