Repository dotnet/dotnet-docker, pull requests merged in 2024-02, with the labels that each got.

#5147 [nightly] Update dotnet-monitor 6.3 and 7.3. Fix storage location.
  README.monitor.md
  manifest.versions.json
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/6.3/cbl-mariner/amd64/Dockerfile
  src/monitor/6.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/6.3/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/7.3/alpine/amd64/Dockerfile
  src/monitor/7.3/alpine/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/7.3/cbl-mariner/amd64/Dockerfile
  src/monitor/7.3/cbl-mariner/arm64v8/Dockerfile
  src/monitor/7.3/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/7.3/ubuntu-chiseled/arm64v8/Dockerfile
Labels: untriaged

#5152 Add CVE Update Policy to readme template
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor-base.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.samples.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/Support.md
Labels: area-documentation, untriaged

#5158 Add checklist item for adding new .NET version to featured tags
  .github/ISSUE_TEMPLATE/releases/dotnet-release-lifecycle.md
Labels: area-infrastructure, untriaged

#5150 Update dotnet-monitor 8.0
  README.monitor-base.md
  README.monitor.md
  manifest.versions.json
  src/monitor-base/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/8.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/8.0/ubuntu-chiseled/arm64v8/Dockerfile
Labels: untriaged

#5157 Add 9.0 to Featured Tags
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/FeaturedTags.md
Labels: area-documentation, untriaged

#5149 Add dotnet monitor 9-preview1
  README.monitor-base.md
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  manifest.versions.json
  src/monitor-base/9.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor-base/9.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor-base/9.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/9.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/9.0/cbl-mariner-distroless/amd64/Dockerfile
  src/monitor/9.0/cbl-mariner-distroless/arm64v8/Dockerfile
  src/monitor/9.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/9.0/ubuntu-chiseled/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: untriaged

#5165 Use 0.0.0.0 URIs for Aspire Dashboard environment variables
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.envs
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#5166 Add latest tag to Aspire Dashboard images
  README.aspire-dashboard.md
  manifest.json
Labels: area-dockerfiles, untriaged

#5172 Remove distro from aspire-dashboard tags
  README.aspire-dashboard.md
  eng/mcr-tags-metadata-templates/aspire-dashboard-tags.yml
  manifest.json
Labels: area-infrastructure, untriaged

#5182 Update README.md
  samples/releasesapi/README.md
Labels: area-documentation, untriaged

#5179 Add Aspire Dashboard support to update-dependencies tooling
  eng/DependencyManagement.psm1
  eng/Get-AspireDropVersions.ps1
  eng/Get-Branch.ps1
  eng/Get-DropVersions.ps1
  eng/Get-IsStableBranding.ps1
  eng/Get-MonitorDropVersions.ps1
  eng/Set-DotnetVersions.ps1
  eng/dockerfile-templates/Get-GeneratedDockerfiles.ps1
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.linux.install-aspire-dashboard
  eng/pipelines/steps/update-dotnet-dependencies.yml
  eng/readme-templates/Get-GeneratedReadmes.ps1
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/ManifestHelper.cs
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  tests/run-tests.ps1
Labels: area-infrastructure, untriaged

#5186 Update to Aspire Dashboard Preview 4
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#5187 Fix PowerShell Module usage in Update Deps pipeline
  eng/pipelines/steps/update-dotnet-dependencies.yml
Labels: area-infrastructure, untriaged

#5195 Add dotnet-public to test NuGet.Config
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/NuGet.config
Labels: area-infrastructure, untriaged

#5203 Updating Aspire Dashboard version
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Labels: untriaged

#5205 Update .NET SDK to 8.0.201
  README.sdk.md
  manifest.versions.json
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.19/amd64/Dockerfile
  src/sdk/8.0/alpine3.19/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.19/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles, untriaged

#5202 Fix update-dependencies Docker build based on new Alpine version
  eng/update-dependencies/Dockerfile
  eng/update-dependencies/update-dependencies.csproj
Labels: area-infrastructure, untriaged
