Repository dotnet/dotnet-docker, pull requests merged in 2024-09, with the labels that each got.

#5832 Dynamically generate Dockerfiles for test scenarios
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.linux
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.windows
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/AspireDashboardBasicScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/BlazorWasmScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/ConsoleAppScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/ITestScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/ProjectTemplateTestScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/TestDockerfile.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebApiAotScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenarioComposite.cs
  tests/Microsoft.DotNet.Docker.Tests/TestSolution.cs
Labels: area-infrastructure, untriaged

#5852 Latest Tag Static Validation Tests
  tests/Microsoft.DotNet.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Docker.Tests/Manifest.cs
  tests/Microsoft.DotNet.Docker.Tests/ManifestHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/StaticTagTests.cs
Labels: area-infrastructure, untriaged

#5860 [nightly] Dynamically generate Dockerfiles for test scenarios
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.linux
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.windows
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/BlazorWasmScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/ConsoleAppScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/ProjectTemplateTestScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/TestDockerfile.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebApiAotScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenarioComposite.cs
  tests/Microsoft.DotNet.Docker.Tests/TestSolution.cs
Labels: area-infrastructure, untriaged

#5866 Fix incorrectly placed Ubuntu Chiseled Composite image in manifest
  README.aspnet.md
  manifest.json
Labels: area-infrastructure, untriaged

#5870 Merge main to nightly for September 2024 .NET updates
  README.sdk.md
  manifest.versions.json
  src/sdk/8.0/alpine3.19-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.19-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.20-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.20-aot/arm64v8/Dockerfile
  src/sdk/8.0/azurelinux3.0-aot/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0-aot/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0-aot/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0-aot/arm64v8/Dockerfile
  src/sdk/8.0/jammy-aot/amd64/Dockerfile
  src/sdk/8.0/jammy-aot/arm64v8/Dockerfile
  src/sdk/8.0/noble-aot/amd64/Dockerfile
  src/sdk/8.0/noble-aot/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.blazorwasm.linux
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/NuGet.config
  tests/Microsoft.DotNet.Docker.Tests/TestSolution.cs
Labels: area-infrastructure, untriaged

#5848 Update Aspire to 8.2.0 version
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  README.aspire-dashboard.md
  eng/readme-templates/FeaturedTags.md
  eng/update-dependencies/UpdateDependencies.cs
  manifest.json
  manifest.versions.json
  src/aspire-dashboard/8.2/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.2/cbl-mariner-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#5875 Switch arg order to fix EOL publishing
  eng/common/templates/jobs/publish.yml
Labels: area-infrastructure, untriaged

#5868 Update Image Update Policy to include monthly rebuild clause
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.monitor-base.portal.md
  .portal-docs/mar/README.monitor.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.aspire-dashboard.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  documentation/supported-tags.md
  eng/readme-templates/Support.md
Labels: area-infrastructure, untriaged

#5879 Re-enable Dockerfile and Readme updaters in update-dependencies tool
  eng/update-dependencies/UpdateDependencies.cs
Labels: area-documentation, untriaged

#5892 Adjustments to markdown link checker's configuration
  .github/linters/.check-markdown-links.json
Labels: area-infrastructure, untriaged

#5900 Add exponential retry to web scenario tests and capture test container logs
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/Microsoft.DotNet.Docker.Tests.csproj
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/ConsoleAppScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenario.cs
Labels: area-infrastructure, untriaged

#5899 Add `gcc-12-base` to Jammy expected packages list
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
Labels: area-dockerfiles, untriaged

#5902 Add preview tags info to supported tags policy
  documentation/supported-tags.md
Labels: area-infrastructure, untriaged

#5904 Updates for .NET SDK 8.0.402
  README.sdk.md
  eng/Get-DropVersions.ps1
  manifest.versions.json
  src/sdk/8.0/alpine3.19/amd64/Dockerfile
  src/sdk/8.0/alpine3.19/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.19/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.20/amd64/Dockerfile
  src/sdk/8.0/alpine3.20/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.20/arm64v8/Dockerfile
  src/sdk/8.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/noble/amd64/Dockerfile
  src/sdk/8.0/noble/arm64v8/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged

#5910 Remove Alpine 3.19 images
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.versions.json
  src/aspnet/6.0/alpine3.19/amd64/Dockerfile
  src/aspnet/6.0/alpine3.19/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.19/arm64v8/Dockerfile
  src/aspnet/8.0/alpine3.19-composite/amd64/Dockerfile
  src/aspnet/8.0/alpine3.19-composite/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.19-composite/arm64v8/Dockerfile
  src/aspnet/8.0/alpine3.19/amd64/Dockerfile
  src/aspnet/8.0/alpine3.19/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.19/arm64v8/Dockerfile
  src/runtime-deps/6.0/alpine3.19/amd64/Dockerfile
  src/runtime-deps/6.0/alpine3.19/arm32v7/Dockerfile
  src/runtime-deps/6.0/alpine3.19/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.19-aot/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.19-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.19-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.19-extra/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.19-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.19-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.19/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.19/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.19/arm64v8/Dockerfile
  src/runtime/6.0/alpine3.19/amd64/Dockerfile
  src/runtime/6.0/alpine3.19/arm32v7/Dockerfile
  src/runtime/6.0/alpine3.19/arm64v8/Dockerfile
  src/runtime/8.0/alpine3.19/amd64/Dockerfile
  src/runtime/8.0/alpine3.19/arm32v7/Dockerfile
  src/runtime/8.0/alpine3.19/arm64v8/Dockerfile
  src/sdk/6.0/alpine3.19/amd64/Dockerfile
  src/sdk/6.0/alpine3.19/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.19/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.19-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.19-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.19/amd64/Dockerfile
  src/sdk/8.0/alpine3.19/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.19/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#5914 Update realeasesapi NuGet config
  samples/releasesapi/nuget.config
Labels: area-samples, untriaged

#5921 Update documentation to reduce the number of hub.docker.com references
  .github/ISSUE_TEMPLATE/new-distro-release.md
  documentation/guiding-principles.md
  documentation/image-artifact-details.md
  documentation/image-variants.md
  documentation/scenarios/installing-dotnet.md
  documentation/scenarios/using-system-drawing-common.md
  documentation/supported-platforms.md
  documentation/vulnerability-reporting.md
  samples/build-in-sdk-container.md
  samples/run-tests-in-sdk-container.md
  samples/selecting-tags.md
Labels: area-documentation, untriaged

#5922 Update Aspire to 8.2.1 shipped version
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/8.2/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.2/cbl-mariner-distroless/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#5927 Move .NET projects to .NET 9
  eng/common/Install-DotNetSdk.ps1
  eng/update-dependencies/ChiselUpdater.cs
  eng/update-dependencies/Dockerfile
  eng/update-dependencies/update-dependencies.csproj
  tests/Microsoft.DotNet.Docker.Tests/Microsoft.DotNet.Docker.Tests.csproj
  tests/Microsoft.DotNet.Docker.Tests/StringExtensions.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/TestDockerfile.cs
Labels: area-infrastructure, untriaged

#5923 Update build-in-sdk-container documentation for .NET 9 and add section on Docker buildx outputs
  CONTRIBUTING.md
  samples/build-in-sdk-container.md
  samples/dotnetapp/Dockerfile.sdk-build
Labels: area-documentation, untriaged
