Repository dotnet/dotnet-docker, pull requests merged in 2024-03, with the labels that each got.

#5231 Update Syft version to `v1.0.0`
  manifest.versions.json
  tests/Microsoft.DotNet.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
Labels: untriaged

#5236 Update Microsoft.DotNet.VersionTools
  eng/update-dependencies/update-dependencies.csproj
Labels: area-infrastructure, untriaged

#5238 Update various documentation and scripts for Aspire Dashboard and .NET Monitor
  .mar/portal/README.aspire-dashboard.portal.md
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor-base.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.samples.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspire-dashboard.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  documentation/scripts/check-tag-support.ps1
  documentation/supported-tags.md
  eng/readme-templates/README.md
  eng/readme-templates/Support.md
Labels: area-documentation, untriaged

#5248 Update Aspire to version 8.0.0-preview.5.24157.3
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#5247 Revert workaround for missing AOT musl cross package
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenario.cs
Labels: area-dockerfiles, untriaged

#5263 Don't remove containers twice during sample image tests
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenario.cs
Labels: area-infrastructure, untriaged

#5269 Remove CBL Mariner floating tags for .NET 9
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.json
Labels: area-dockerfiles, untriaged

#5255 Update Json Serialization with releasesapi sample
  .gitignore
  samples/releasesapi/Program.cs
  samples/releasesapi/Properties/launchSettings.json
  samples/releasesapi/ReportGenerator.cs
Labels: area-samples, untriaged

#5262 Add CBL Mariner/Azure Linux `extra` images for .NET Runtime and ASP.NET Core
  README.aspnet.md
  README.runtime.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  manifest.json
  src/aspnet/8.0/cbl-mariner2.0-distroless-composite-extra/amd64/Dockerfile
  src/aspnet/8.0/cbl-mariner2.0-distroless-composite-extra/arm64v8/Dockerfile
  src/aspnet/8.0/cbl-mariner2.0-distroless-extra/amd64/Dockerfile
  src/aspnet/8.0/cbl-mariner2.0-distroless-extra/arm64v8/Dockerfile
  src/aspnet/9.0/cbl-mariner2.0-distroless-composite-extra/amd64/Dockerfile
  src/aspnet/9.0/cbl-mariner2.0-distroless-composite-extra/arm64v8/Dockerfile
  src/aspnet/9.0/cbl-mariner2.0-distroless-extra/amd64/Dockerfile
  src/aspnet/9.0/cbl-mariner2.0-distroless-extra/arm64v8/Dockerfile
  src/runtime/8.0/cbl-mariner2.0-distroless-extra/amd64/Dockerfile
  src/runtime/8.0/cbl-mariner2.0-distroless-extra/arm64v8/Dockerfile
  src/runtime/9.0/cbl-mariner2.0-distroless-extra/amd64/Dockerfile
  src/runtime/9.0/cbl-mariner2.0-distroless-extra/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#5275 Convert the cg-detection pipeline to use 1ES templates
  eng/common/templates/jobs/cg-build-projects.yml
  eng/common/templates/jobs/cg-detection.yml
  eng/pipelines/cg-code.yml
Labels: area-infrastructure, untriaged

#5276 Enable localization in Aspire Dashboard image
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.linux
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Labels: area-infrastructure, untriaged

#5273 Merge main to nightly for .NET SDK 8.0.203 release
  .gitignore
  README.sdk.md
  manifest.versions.json
  samples/releasesapi/Program.cs
  samples/releasesapi/Properties/launchSettings.json
  samples/releasesapi/ReportGenerator.cs
  src/sdk/8.0/alpine3.18-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.18-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.19-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.19-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.19/amd64/Dockerfile
  src/sdk/8.0/alpine3.19/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.19/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0-aot/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0-aot/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy-aot/amd64/Dockerfile
  src/sdk/8.0/jammy-aot/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: untriaged

#5277 Convert the update-readmes pipeline to use 1ES templates
  eng/pipelines/update-readmes.yml
  eng/pipelines/variables/core.yml
Labels: area-infrastructure, untriaged

#5283 Add integral test dependencies for Mariner distroless extra images
  manifest.json
Labels: area-infrastructure, untriaged

#5280 Update dotnet-docker-samples pipeline to 1ES Pipeline Template
  eng/pipelines/dotnet-core-nightly.yml
  eng/pipelines/dotnet-core-samples.yml
Labels: area-samples, untriaged

#5284 Move dotnet-docker main pipeline to 1ES PT
  eng/pipelines/dotnet-core.yml
Labels: area-infrastructure, untriaged

#5285 Move dotnet-docker-internal-nightly pipeline to 1ES pipeline templates
  eng/pipelines/dotnet-core-internal-nightly.yml
Labels: area-infrastructure, untriaged

#5286 Move cg-images pipeline to 1ES Pipeline Templates
  eng/pipelines/cg-images.yml
Labels: area-infrastructure, untriaged

#5291 Fix CG Code build (main)
  eng/pipelines/cg-code.yml
Labels: area-infrastructure, untriaged

#5290 Fix CG Code build
  eng/pipelines/cg-code.yml
Labels: area-infrastructure, untriaged

#5246 Fix Aspire Test filtering in PR
  tests/Microsoft.DotNet.Docker.Tests/AspireDashboardImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-infrastructure, untriaged

#5313 Add latest tag back to 8.0 SDK
  README.sdk.md
  manifest.json
Labels: area-dockerfiles, needs-announcement, untriaged

#5307 Update Aspire dashboard version to latest preview 5
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/AspireDashboardBasicScenario.cs
Labels: area-infrastructure, untriaged

#5310 Undocument CBL Mariner floating tags
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.json
Labels: area-dockerfiles, untriaged

#5314 Trigger dependency update for .NET Monitor 9.0 nightly builds
  eng/pipelines/update-dependencies-monitor.yml
Labels: area-infrastructure, untriaged
