Repository dotnet/dotnet-docker, pull requests merged in 2024-11, with the labels that each got.

#6022 Enable testing of internal stable-versioned servicing builds
  eng/Get-DropVersions.ps1
  eng/dockerfile-templates/aspnet/Dockerfile.envs
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/aspnet/Dockerfile.linux-composite
  eng/dockerfile-templates/aspnet/Dockerfile.windows
  eng/dockerfile-templates/runtime/Dockerfile.envs
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/runtime/Dockerfile.windows
  eng/dockerfile-templates/sdk/Dockerfile.envs
  eng/dockerfile-templates/sdk/Dockerfile.linux
  eng/dockerfile-templates/sdk/Dockerfile.windows
Labels: area-infrastructure, untriaged

#6031 Fix base image for ASP.NET Azure Linux 3.0 `extra` images
  manifest.json
  src/aspnet/9.0/azurelinux3.0-distroless-composite-extra/arm64v8/Dockerfile
  src/aspnet/9.0/azurelinux3.0-distroless-extra/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
Labels: area-dockerfiles, untriaged

#6027 Improve latest tag test output
  tests/Microsoft.DotNet.Docker.Tests/StaticTagTests.cs
Labels: area-infrastructure, untriaged

#6037 Updating Aspire to 9.0.1 preview 1
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/9.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/9.0/cbl-mariner-distroless/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#6038 Add Aspire Dashboard 9.0 image
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  README.aspire-dashboard.md
  build-and-test.ps1
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.envs
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.linux
  eng/mcr-tags-metadata-templates/aspire-dashboard-tags.yml
  eng/readme-templates/FeaturedTags.md
  manifest.json
  manifest.versions.json
  src/aspire-dashboard/9.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/9.0/cbl-mariner-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspireDashboardImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/StaticTagTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#6055 Pass paths to test script from build-and-test
  build-and-test.ps1
  tests/run-tests.ps1
Labels: area-infrastructure, untriaged

#6063 Accept more types of failures when retrying HTTP requests in tests
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenario.cs
Labels: area-infrastructure, untriaged

#6065 Fix AOT tests in nightly
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/ConsoleAppScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenario.cs
Labels: area-infrastructure, untriaged

#6054 Enable EOL annotations for publish pipeline
  eng/pipelines/variables/core.yml
Labels: area-infrastructure, needs-announcement, untriaged, do-not-merge

#6062 Add test debugging instructions, tasks, and launch profiles
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  CONTRIBUTING.md
Labels: area-samples, untriaged

#5944 Add Windows Server 2025 Dockerfiles
  README.aspnet.md
  README.runtime.md
  README.sdk.md
  eng/dockerfile-templates/aspnet/Dockerfile.windows
  eng/dockerfile-templates/runtime/Dockerfile.windows
  eng/dockerfile-templates/sdk/Dockerfile.windows
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/8.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/aspnet/8.0/windowsservercore-ltsc2025/amd64/Dockerfile
  src/aspnet/9.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/aspnet/9.0/windowsservercore-ltsc2025/amd64/Dockerfile
  src/runtime/8.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/runtime/8.0/windowsservercore-ltsc2025/amd64/Dockerfile
  src/runtime/9.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/runtime/9.0/windowsservercore-ltsc2025/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2025/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.windows.json
Labels: area-external, untriaged

#6083 Tiny format change of Dockerfile.chiseled-composite
  samples/aspnetapp/Dockerfile.chiseled-composite
Labels: area-samples, untriaged
