Repository dotnet/dotnet-docker, pull requests merged in 2024-10, with the labels that each got.

#5926 Rewrite complexapp test documentation
  samples/complexapp/Dockerfile
  samples/complexapp/README.md
  samples/run-tests-in-sdk-container.md
Labels: area-infrastructure, untriaged

#5936 Update GitHub related repo links to be github based
  README.aspire-dashboard.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/Url.md
  samples/README.md
Labels: area-documentation, untriaged

#5941 Fix typo in push-image-to-dockerhub.md
  samples/push-image-to-dockerhub.md
Labels: untriaged

#5943 Misc updates to supported-tags.md
  documentation/supported-tags.md
Labels: area-infrastructure, untriaged

#5947 Updating PowerShell DotNet SDK
  manifest.versions.json
  src/sdk/9.0/alpine3.20/amd64/Dockerfile
  src/sdk/9.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/9.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/9.0/bookworm-slim/amd64/Dockerfile
  src/sdk/9.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/9.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/9.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/noble/amd64/Dockerfile
  src/sdk/9.0/noble/arm32v7/Dockerfile
  src/sdk/9.0/noble/arm64v8/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles, untriaged

#5948 Undocument .NET Monitor 9 arch-specific tags
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
Labels: area-dockerfiles, untriaged

#5954 Undocument .NET Monitor 6.3 and 8.0 arch-specific tags
  README.monitor.md
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
Labels: area-documentation, untriaged

#5968 Set publicSourceBranch var for matrix generation
  eng/common/templates/jobs/generate-matrix.yml
  eng/common/templates/stages/build-test-publish-repo.yml
  eng/common/templates/stages/dotnet/build-test-publish-repo.yml
  eng/pipelines/stages/build-test-publish-repo.yml
Labels: area-infrastructure, untriaged

#5984 Add main repo to nightly repos related readmes
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.monitor-base.portal.md
  .portal-docs/mar/README.monitor.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.aspire-dashboard.md
  README.aspnet.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/RelatedRepos.md
Labels: area-documentation, untriaged

#5986 Add more Azure Linux commands to vulnerability reporting documentation
  documentation/vulnerability-reporting.md
Labels: area-documentation, untriaged

#5994 Define standard operating procedure for moving new distros to main branch
  .github/ISSUE_TEMPLATE/releases/dotnet-release-lifecycle.md
  .github/ISSUE_TEMPLATE/releases/new-distro-release.md
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
Labels: area-infrastructure, untriaged

#5980 Add Aspire Dashboard 9.0 RC1 images
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  README.aspire-dashboard.md
  build-and-test.ps1
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.envs
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.linux
  eng/mcr-tags-metadata-templates/aspire-dashboard-tags.yml
  eng/readme-templates/FeaturedTags.md
  manifest.json
  manifest.versions.json
  src/aspire-dashboard/9.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/9.0/cbl-mariner-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspireDashboardImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/StaticTagTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: untriaged

#5999 Update scenarios documentation for .NET 9
  documentation/scenarios/README.md
  documentation/scenarios/installing-dotnet.md
  documentation/scenarios/nuget-credentials.md
Labels: area-documentation, untriaged

#5998 Add image detail instructions for .NET Monitor
  documentation/image-artifact-details.md
Labels: area-dockerfiles, untriaged

#6009 Condition out internal authentication for VerifyDotnetFolderContents test
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure, untriaged

#6010 Update Aspire to latest version from release/9.0 branch
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/9.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/9.0/cbl-mariner-distroless/arm64v8/Dockerfile
Labels: area-infrastructure, untriaged

#6012 Add globalization scenario test
  tests/Microsoft.DotNet.Docker.Tests/FileHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/Microsoft.DotNet.Docker.Tests.csproj
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/GlobalizationTest.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/GlobalizationScenario.cs
Labels: area-infrastructure, untriaged

#6002 Update PowerShell for .NET 6 and .NET 8
  manifest.versions.json
  src/sdk/6.0/alpine3.20/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/6.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/alpine3.20/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/noble/amd64/Dockerfile
  src/sdk/8.0/noble/arm64v8/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged

#6018 Use issue form for bug report template
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: area-samples, untriaged

#6020 Remove unused pipeline yaml
  eng/common/templates/jobs/wait-for-ingestion.yml
Labels: area-infrastructure, untriaged
