Repository dotnet/dotnet-docker, pull requests merged in 2024-01, with the labels that each got.

#5042 Add Ubuntu Chiseled "extra" images for .NET 6.0 and 7.0
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  manifest.json
  src/aspnet/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/aspnet/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/aspnet/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/aspnet/7.0/jammy-chiseled-extra/amd64/Dockerfile
  src/aspnet/7.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/aspnet/7.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime/7.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime/7.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime/7.0/jammy-chiseled-extra/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-infrastructure, untriaged

#5067 Update enable-globalization.md
  samples/enable-globalization.md
Labels: untriaged

#5072 Amend ASP.NET Core HTTPS documentation to avoid tripping CredScan
  samples/host-aspnetcore-https.md
Labels: area-documentation, untriaged

#5073 Update README.md
  samples/README.md
Labels: area-documentation, untriaged

#5075 Update ASP.NET Core https docs to have matching credential placeholders
  samples/host-aspnetcore-https.md
Labels: area-infrastructure, untriaged

#5071 Update dotnet-hosting-win.exe URL for IIS sample
  .github/ISSUE_TEMPLATE/releases/dotnet-release-lifecycle.md
  samples/aspnetapp/Dockerfile.windowsservercore-iis
Labels: area-samples, untriaged

#5066 Add libatomic to 8.0+ SDK images
  eng/dockerfile-templates/sdk/Dockerfile.linux
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/9.0/bookworm-slim/amd64/Dockerfile
  src/sdk/9.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/9.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/9.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/9.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/9.0/jammy/amd64/Dockerfile
  src/sdk/9.0/jammy/arm32v7/Dockerfile
  src/sdk/9.0/jammy/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#5080 Fix internal test matrix generation (Force Chiseled extra images to be grouped with non-extra images for testing)
  manifest.json
Labels: area-infrastructure, untriaged

#5090 Port #5080 to main
  manifest.json
Labels: untriaged

#5087 Replace Docker@0 with Docker@2 task in documenation.
  documentation/scenarios/nuget-credentials.md
Labels: area-documentation, untriaged

#5096 Fix incorrectly tagged Alpine SDK image (Remove PowerShell Alpine Arm tagging workaround)
  README.sdk.md
  manifest.json
  manifest.versions.json
Labels: area-dockerfiles, needs-announcement, untriaged

#5099 Update Dockerfile.alpine
  samples/aspnetapp/Dockerfile.alpine
Labels: area-dockerfiles, untriaged

#5106 Move Alpine floating tags to 3.19 for .NET 7, 8, and Monitor 7
  README.aspnet.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.json
  src/monitor/7.3/alpine/amd64/Dockerfile
  src/monitor/7.3/alpine/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#5103 Remove PowerShell Alpine ARM tagging workaround
  manifest.json
  manifest.versions.json
Labels: area-dockerfiles, untriaged

#5102 Remove checklists moved to dotnet/release repo
  .github/ISSUE_TEMPLATE/releases/dotnet-servicing.md
  .github/ISSUE_TEMPLATE/releases/new-distro-release.md
  .github/ISSUE_TEMPLATE/releases/new-windows-release.md
  .github/ISSUE_TEMPLATE/releases/patch-tuesday-release.md
Labels: area-infrastructure, untriaged

#5112 Revert "Enable diagnostic output"
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.linux
Labels: area-infrastructure, untriaged

#5108 Update Image Sizes
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-dockerfiles, untriaged

#5114 Update PowerShell for the v7.4.1 release
  manifest.versions.json
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/alpine3.19/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged

#5111 Update PowerShell for the v7.2.18 release
  manifest.versions.json
  src/sdk/6.0/alpine3.18/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/6.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: untriaged

#5110 Update PowerShell for the v7.3.11 release
  manifest.versions.json
  src/sdk/7.0/alpine3.18/amd64/Dockerfile
  src/sdk/7.0/alpine3.19/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/7.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-release, untriaged

#5083 Add tests for Blazor WASM
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageScenarioVerifier.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.linux
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/BlazorWasmScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/ConsoleAppScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/TestScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebApiAotScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenarioComposite.cs
  tests/Microsoft.DotNet.Docker.Tests/TestSolution.cs
Labels: area-infrastructure, untriaged

#5115 Fix chisel update deps tool
  eng/update-dependencies/ChiselToolUpdater.cs
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/ManifestHelper.cs
  eng/update-dependencies/MinGitUpdater.cs
  eng/update-dependencies/UpdateDependencies.cs
  eng/update-dependencies/update-dependencies.sln
Labels: area-dockerfiles, untriaged

#5120 Update Kubernetes samples
  samples/kubernetes/dotnet-monitor/README.md
  samples/kubernetes/dotnet-monitor/dotnet-monitor.yaml
  samples/kubernetes/dotnet-monitor/load-test.yaml
  samples/kubernetes/hello-dotnet/hello-dotnet-loadbalancer.yaml
  samples/kubernetes/hello-dotnet/hello-dotnet.yaml
  samples/kubernetes/manual-deployment/README.md
  samples/kubernetes/non-root/README.md
  samples/kubernetes/non-root/non-root.yaml
  samples/kubernetes/replicas-and-health/replica-health.yaml
  samples/kubernetes/resource-limits/resource-limits.yaml
Labels: area-samples, untriaged

#5122 Update image size baselines
  tests/performance/ImageSize.nightly.linux.json
  tests/performance/ImageSize.nightly.windows.json
Labels: area-dockerfiles, untriaged

#5123 Add `libatomic` to .NET 9 Alpine SDK images
  eng/dockerfile-templates/sdk/Dockerfile.linux
  src/sdk/9.0/alpine3.19/amd64/Dockerfile
  src/sdk/9.0/alpine3.19/arm32v7/Dockerfile
  src/sdk/9.0/alpine3.19/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-dockerfiles, untriaged

#5130 Use graceful shutdown with retry for web scenario tests
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenario.cs
Labels: area-infrastructure, untriaged

#5143 Always stop containers before deleting them in tests
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenario.cs
Labels: area-infrastructure, untriaged

#5129 Add policy for rebuilding container images in response to CVEs
  .github/ISSUE_TEMPLATE/bug-report.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  documentation/guiding-principles.md
  documentation/supported-platforms.md
  documentation/vulnerability-reporting.md
Labels: area-dockerfiles, untriaged
