Repository dotnet/dotnet-docker, pull requests merged in 2024-05, with the labels that each got.

#5414 Add aspire-dashboard related repo links
  .mar/portal/README.aspire-dashboard.portal.md
  .mar/portal/README.aspnet.portal.md
  .mar/portal/README.monitor-base.portal.md
  .mar/portal/README.monitor.portal.md
  .mar/portal/README.runtime-deps.portal.md
  .mar/portal/README.runtime.portal.md
  .mar/portal/README.samples.portal.md
  .mar/portal/README.sdk.portal.md
  README.aspire-dashboard.md
  README.md
  eng/readme-templates/RelatedRepos.md
Labels: area-infrastructure, untriaged

#5426 Remove Alpine 3.18 images for .NET 7 and 8
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/7.0/alpine3.18/amd64/Dockerfile
  src/aspnet/7.0/alpine3.18/arm32v7/Dockerfile
  src/aspnet/7.0/alpine3.18/arm64v8/Dockerfile
  src/aspnet/8.0/alpine3.18-composite/amd64/Dockerfile
  src/aspnet/8.0/alpine3.18-composite/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.18-composite/arm64v8/Dockerfile
  src/aspnet/8.0/alpine3.18/amd64/Dockerfile
  src/aspnet/8.0/alpine3.18/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.18/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.18-aot/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.18-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.18-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.18-extra/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.18-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.18-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.18/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.18/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.18/arm64v8/Dockerfile
  src/runtime/7.0/alpine3.18/amd64/Dockerfile
  src/runtime/7.0/alpine3.18/arm32v7/Dockerfile
  src/runtime/7.0/alpine3.18/arm64v8/Dockerfile
  src/runtime/8.0/alpine3.18/amd64/Dockerfile
  src/runtime/8.0/alpine3.18/arm32v7/Dockerfile
  src/runtime/8.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/7.0/alpine3.18/amd64/Dockerfile
  src/sdk/7.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/7.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.18-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.18-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.18/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#5429 Remove codeql.yml
  eng/common/templates/variables/codeql.yml
Labels: area-dockerfiles, untriaged

#5428 Add PowerShell to .NET 6 Alpine 3.19 image and move floating tag
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile.linux
  manifest.json
  src/sdk/6.0/alpine3.19/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-dockerfiles, untriaged

#5427 Add .NET 9 Alpine 3.19 arm32 Images
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/9.0/alpine3.19-composite/arm32v7/Dockerfile
  src/aspnet/9.0/alpine3.19/arm32v7/Dockerfile
  src/runtime/9.0/alpine3.19/arm32v7/Dockerfile
  src/sdk/9.0/alpine3.19/arm32v7/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#5442 Update Aspire to Preview 7 version
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#5441 Update aspire to Preview 7 build
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Labels: area-infrastructure, untriaged

#5464 Use SBOM Manifest Generator Task from 1ES PT
  eng/common/templates/jobs/build-images.yml
Labels: area-infrastructure, untriaged

#5476 Remove unused AOT Dockerfiles from main
  src/runtime-deps/8.0/alpine3.18-aot/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.18-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.18-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.19-aot/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.19-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.19-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-aot/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.18-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.18-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.19-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.19-aot/arm64v8/Dockerfile
  src/sdk/8.0/noble-aot/amd64/Dockerfile
  src/sdk/8.0/noble-aot/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#5482 Update Aspire Dashboard to 8.0
  .mar/portal/README.aspire-dashboard.portal.md
  README.aspire-dashboard.md
  eng/mcr-tags-metadata-templates/aspire-dashboard-tags.yml
  eng/readme-templates/FeaturedTags.md
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-samples, untriaged

#5485 Workaround symcrypt openssl issue in Azure Linux 3.0 base image
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  eng/dockerfile-templates/Dockerfile.linux.install-pkgs
  src/runtime-deps/8.0/azurelinux3.0-distroless-aot/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-extra/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#5483 Update Aspire Dashboard to 8.0 (nightly)
  .mar/portal/README.aspire-dashboard.portal.md
  README.aspire-dashboard.md
  eng/mcr-tags-metadata-templates/aspire-dashboard-tags.yml
  eng/readme-templates/FeaturedTags.md
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: untriaged

#5488 Update scripts to compensate for installer->sdk migration
  eng/Get-DropVersions.ps1
  eng/Set-DotnetVersions.ps1
  eng/pipelines/update-dependencies-internal.yml
  eng/pipelines/update-dependencies.yml
Labels: area-infrastructure, untriaged

#5501 Remove Alpine 3.18 Images
  README.aspnet.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  documentation/supported-tags.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.versions.json
  src/aspnet/6.0/alpine3.18/amd64/Dockerfile
  src/aspnet/6.0/alpine3.18/arm32v7/Dockerfile
  src/aspnet/6.0/alpine3.18/arm64v8/Dockerfile
  src/aspnet/8.0/alpine3.18-composite/amd64/Dockerfile
  src/aspnet/8.0/alpine3.18-composite/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.18-composite/arm64v8/Dockerfile
  src/aspnet/8.0/alpine3.18/amd64/Dockerfile
  src/aspnet/8.0/alpine3.18/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.18/arm64v8/Dockerfile
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  src/runtime-deps/6.0/alpine3.18/amd64/Dockerfile
  src/runtime-deps/6.0/alpine3.18/arm32v7/Dockerfile
  src/runtime-deps/6.0/alpine3.18/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.18-aot/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.18-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.18-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.18-extra/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.18-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.18-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.18/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.18/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.18/arm64v8/Dockerfile
  src/runtime/6.0/alpine3.18/amd64/Dockerfile
  src/runtime/6.0/alpine3.18/arm32v7/Dockerfile
  src/runtime/6.0/alpine3.18/arm64v8/Dockerfile
  src/runtime/8.0/alpine3.18/amd64/Dockerfile
  src/runtime/8.0/alpine3.18/arm32v7/Dockerfile
  src/runtime/8.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/6.0/alpine3.18/amd64/Dockerfile
  src/sdk/6.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/6.0/alpine3.18/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.18-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.18-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/alpine3.18/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.18/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#5506 Update PowerShell for the v7.5.0-preview.3 release
  manifest.versions.json
  src/sdk/9.0/alpine3.19/amd64/Dockerfile
  src/sdk/9.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/9.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/9.0/bookworm-slim/amd64/Dockerfile
  src/sdk/9.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/9.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/9.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/noble/amd64/Dockerfile
  src/sdk/9.0/noble/arm64v8/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged

#5518 Add missing .NET Fx template link to lifecycle checklist
  .github/ISSUE_TEMPLATE/releases/dotnet-release-lifecycle.md
Labels: area-infrastructure, untriaged
