Repository dotnet/dotnet-docker, pull requests merged in 2024-07, with the labels that each got.

#5623 Compare VerifyDotnetFolderContents using Git Diff
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/FileHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-release, untriaged

#5638 Move Alpine Linux floating tags to 3.20
  README.aspnet.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  manifest.json
  src/monitor/6.3/alpine/amd64/Dockerfile
  src/monitor/6.3/alpine/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: area-dockerfiles, untriaged

#5636 Move new os issue templates from dotnet/release repo
  .github/ISSUE_TEMPLATE/new-distro-release.md
  .github/ISSUE_TEMPLATE/new-windows-release.md
Labels: area-infrastructure, untriaged

#5644 Add link to security policy and vulnerability workflow from READMEs
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.monitor-base.portal.md
  .portal-docs/mar/README.monitor.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.aspire-dashboard.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/Support.md
Labels: area-documentation, untriaged

#5613 Update dotnet-release-lifecycle.md
  .github/ISSUE_TEMPLATE/releases/dotnet-release-lifecycle.md
Labels: area-infrastructure, untriaged

#5586 Define new version manifest variables
  README.aspnet.md
  README.runtime-deps.md
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile.linux.aot
  manifest.json
  manifest.versions.json
Labels: area-infrastructure, untriaged

#5651 Update Aspire Dashboard to 8.0.2
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Labels: area-samples, untriaged

#5496 Add BuildId option to Get-DropVersions script
  eng/Get-DropVersions.ps1
Labels: area-documentation, untriaged

#5663 Update golang to 1.21
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  src/runtime-deps/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm32v7/Dockerfile
Labels: untriaged

#5664 Downgrade chisel to v0.9.1
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  manifest.versions.json
  src/runtime-deps/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm32v7/Dockerfile
Labels: area-dockerfiles, untriaged

#5669 Synchronize Dockerfile templates with nightly branch
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.aot
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu.aot
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner.aot
  eng/dockerfile-templates/sdk/Dockerfile.ubuntu.aot
Labels: area-infrastructure, untriaged

#5670 Remove unused Dockerfile template
  eng/dockerfile-templates/sdk/Dockerfile.ubuntu.aot
Labels: untriaged

#5668 Add manifest versions variable for golang version
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  manifest.versions.json
Labels: untriaged

#5672 Update Aspire Dashboard to 8.0.2
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Labels: untriaged

#5671 Synchronize samples with main branch
  samples/aspnetapp/README.md
  samples/kubernetes/replicas-and-health/replica-health.yml
  samples/releasesapi/README.md
Labels: area-samples, untriaged

#5679 Re-enable PowerShell Arm32 tests for 9.0
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure, untriaged

#5678 Synchronize samples with nightly branch
  samples/releasesapi/Dockerfile.ubuntu-chiseled
Labels: area-samples, untriaged

#5677 Use UID environment variable for non-root user in Azure Linux 3.0 images
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  src/runtime-deps/8.0/azurelinux3.0-distroless-aot/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-extra/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
Labels: area-dockerfiles, untriaged

#5680 [nightly] Re-enable aspnet app scenario test due to fixed runtime issue
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
Labels: area-infrastructure, untriaged

#5681 [main] Re-enable aspnet app scenario test due to fixed runtime issue
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
Labels: area-infrastructure, untriaged

#5686 Fix typo in selecting-tags.md
  samples/selecting-tags.md
Labels: untriaged

#5685 Re-write related repos readme template
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.monitor-base.portal.md
  .portal-docs/mar/README.monitor.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.aspire-dashboard.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/readme-templates/DefaultLayout.md
  eng/readme-templates/FeaturedRepos.md
  eng/readme-templates/README.mcr.md
  eng/readme-templates/RelatedRepos.md
  eng/readme-templates/RepoList.md
  eng/readme-templates/ReposProvider.md
Labels: area-documentation, untriaged

#5694 Update health check link
  samples/aspnetapp/README.md
Labels: untriaged

#5696 Re-enable .NET 9 Windows ASP.NET scenario tests
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
Labels: area-infrastructure, untriaged

#5695 Re-write related repos readme template
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.monitor-base.portal.md
  .portal-docs/mar/README.monitor.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.monitor-base.md
  eng/readme-templates/DefaultLayout.md
  eng/readme-templates/FeaturedRepos.md
  eng/readme-templates/README.mcr.md
  eng/readme-templates/RelatedRepos.md
  eng/readme-templates/RepoList.md
  eng/readme-templates/ReposProvider.md
Labels: area-documentation, untriaged

#5650 Add documentation for Azure Linux
  documentation/azurelinux.md
  documentation/distroless.md
  documentation/image-artifact-details.md
  documentation/ubuntu-chiseled.md
Labels: area-documentation, untriaged

#5701 Re-enable tests which were disabled due to fixed issues
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/run-tests.ps1
Labels: area-infrastructure, untriaged

#5707 Add references to Azure Linux in various docs
  documentation/image-variants.md
  documentation/supported-platforms.md
  documentation/supported-tags.md
  documentation/vulnerability-reporting.md
Labels: area-samples, untriaged

#5706 Add openssl to Noble Chiseled expected packages list
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  src/runtime-deps/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-aot/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-aot/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm32v7/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.linux
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.windows
Labels: area-infrastructure, untriaged

#5713 Use Chisel binary instead of building from source
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  eng/update-dependencies/ChecksumHelper.cs
  eng/update-dependencies/ChiselRefUpdater.cs
  eng/update-dependencies/ChiselReleaseShaUpdater.cs
  eng/update-dependencies/ChiselToolUpdater.cs
  eng/update-dependencies/ChiselUpdater.cs
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/GitHubHelper.cs
  eng/update-dependencies/GitHubReleaseUpdaterBase.cs
  eng/update-dependencies/GitHubReleaseUrlUpdater.cs
  eng/update-dependencies/GitHubReleaseVersionUpdater.cs
  eng/update-dependencies/MinGitShaUpdater.cs
  eng/update-dependencies/MinGitUpdater.cs
  eng/update-dependencies/MinGitUrlUpdater.cs
  eng/update-dependencies/RocksToolboxRefUpdater.cs
  eng/update-dependencies/UpdateDependencies.cs
  eng/update-dependencies/update-dependencies.csproj
  manifest.versions.json
  src/runtime-deps/6.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/6.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-aot/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-aot/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm32v7/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
Labels: untriaged

#5719 Fix errors in update-dependencies tool, always try to update both latest and specific Chisel versions
  eng/update-dependencies/ChiselReleaseShaUpdater.cs
  eng/update-dependencies/ChiselUpdater.cs
  eng/update-dependencies/GitHubReleaseUpdaterBase.cs
  eng/update-dependencies/ManifestHelper.cs
  manifest.versions.json
Labels: area-infrastructure, untriaged

#5727 Update PowerShell to latest releases
  manifest.versions.json
  src/sdk/6.0/alpine3.19/amd64/Dockerfile
  src/sdk/6.0/alpine3.20/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/6.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/alpine3.19/amd64/Dockerfile
  src/sdk/8.0/alpine3.20/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/noble/amd64/Dockerfile
  src/sdk/8.0/noble/arm64v8/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged

#5726 Remove workaround for Mariner ARM container images not setting architecture variant metadata
  eng/pipelines/stages/build-test-publish-repo.yml
  eng/pipelines/steps/set-imagebuilder-build-args-var.yml
Labels: area-dockerfiles, untriaged

#5725 Use cache registry for Syft image in tests
  eng/common/templates/steps/test-images-linux-client.yml
  tests/Microsoft.DotNet.Docker.Tests/Config.cs
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/run-tests.ps1
Labels: area-infrastructure, untriaged

#5720 Update Aspire to 8.1
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  README.aspire-dashboard.md
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.envs
  eng/mcr-tags-metadata-templates/aspire-dashboard-tags.yml
  eng/readme-templates/FeaturedTags.md
  eng/readme-templates/Use.aspire-dashboard.md
  manifest.json
  manifest.versions.json
  src/aspire-dashboard/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspireDashboardImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#5732 Update Aspire to 8.1
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  README.aspire-dashboard.md
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.envs
  eng/mcr-tags-metadata-templates/aspire-dashboard-tags.yml
  eng/readme-templates/FeaturedTags.md
  eng/readme-templates/Use.aspire-dashboard.md
  manifest.json
  manifest.versions.json
  src/aspire-dashboard/8.1/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.1/cbl-mariner-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspireDashboardImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: untriaged

#5743 Delete unnecessary readme file
  .portal-docs/docker-hub/README.md
  eng/readme-templates/Get-GeneratedReadmes.ps1
Labels: area-documentation, untriaged

#5738 Factor test cache ACR argument out of common pipeline infrastructure
  eng/common/templates/steps/test-images-linux-client.yml
  eng/common/templates/steps/test-images-windows-client.yml
  eng/pipelines/steps/set-custom-test-variables.yml
  eng/pipelines/variables/samples.yml
Labels: area-infrastructure, untriaged
