Repository dotnet/dotnet-docker, pull requests merged in 2024-12, with the labels that each got.

#6084 Enable EOL annotation publishing for samples pipeline
  eng/pipelines/variables/samples.yml
Labels: area-infrastructure, untriaged

#6086 Update to .NET SDK 9.0.101
  README.sdk.md
  manifest.versions.json
  src/sdk/9.0/alpine3.20/amd64/Dockerfile
  src/sdk/9.0/alpine3.20/arm32v7/Dockerfile
  src/sdk/9.0/alpine3.20/arm64v8/Dockerfile
  src/sdk/9.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/9.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/9.0/bookworm-slim/amd64/Dockerfile
  src/sdk/9.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/9.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/9.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/noble/amd64/Dockerfile
  src/sdk/9.0/noble/arm32v7/Dockerfile
  src/sdk/9.0/noble/arm64v8/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles, untriaged

#6089 Update graceful-shutdown.md - Avoid memory leak on combined CancellationTokenSource
  samples/kubernetes/graceful-shutdown/graceful-shutdown.md
Labels: untriaged

#6092 Clean up .NET 6 references from tests
  tests/Microsoft.DotNet.Docker.Tests/AspnetImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/CommonRuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/MonitorImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageData.cs
  tests/Microsoft.DotNet.Docker.Tests/ProductImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeDepsImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/RuntimeImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SampleImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/StaticTagTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/NuGet.config.nightly
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/ProjectTemplateTestScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/WebScenario.cs
  tests/Microsoft.DotNet.Docker.Tests/TestSolution.cs
Labels: area-infrastructure, untriaged

#6094 Merge main to nightly for .NET SDK 9.0.101 release
  README.sdk.md
  eng/pipelines/variables/samples.yml
  manifest.samples.json
  manifest.versions.json
  samples/aspnetapp/Dockerfile.chiseled-composite
  samples/kubernetes/graceful-shutdown/graceful-shutdown.md
  src/sdk/9.0/alpine3.20-aot/amd64/Dockerfile
  src/sdk/9.0/alpine3.20-aot/arm64v8/Dockerfile
  src/sdk/9.0/alpine3.20/amd64/Dockerfile
  src/sdk/9.0/alpine3.20/arm32v7/Dockerfile
  src/sdk/9.0/alpine3.20/arm64v8/Dockerfile
  src/sdk/9.0/azurelinux3.0-aot/amd64/Dockerfile
  src/sdk/9.0/azurelinux3.0-aot/arm64v8/Dockerfile
  src/sdk/9.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/9.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/9.0/bookworm-slim/amd64/Dockerfile
  src/sdk/9.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/9.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/9.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/nanoserver-ltsc2025/amd64/Dockerfile
  src/sdk/9.0/noble-aot/amd64/Dockerfile
  src/sdk/9.0/noble-aot/arm64v8/Dockerfile
  src/sdk/9.0/noble/amd64/Dockerfile
  src/sdk/9.0/noble/arm32v7/Dockerfile
  src/sdk/9.0/noble/arm64v8/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/9.0/windowsservercore-ltsc2025/amd64/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/AspireDashboardImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
Labels: untriaged

#6093 Clean up update-dependencies project
  eng/update-dependencies/BaseUrlUpdater.cs
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/GitHubHelper.cs
  eng/update-dependencies/GitHubReleaseUpdaterBase.cs
  eng/update-dependencies/JsonHelper.cs
  eng/update-dependencies/NuGetConfigUpdater.cs
  eng/update-dependencies/Options.cs
  eng/update-dependencies/UpdateDependencies.cs
  eng/update-dependencies/VersionUpdater.cs
Labels: area-infrastructure, untriaged

#6097 Add Alpine 3.21 images
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  manifest.versions.json
  src/aspnet/8.0/alpine3.21-composite/amd64/Dockerfile
  src/aspnet/8.0/alpine3.21-composite/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.21-composite/arm64v8/Dockerfile
  src/aspnet/8.0/alpine3.21/amd64/Dockerfile
  src/aspnet/8.0/alpine3.21/arm32v7/Dockerfile
  src/aspnet/8.0/alpine3.21/arm64v8/Dockerfile
  src/aspnet/9.0/alpine3.21-composite/amd64/Dockerfile
  src/aspnet/9.0/alpine3.21-composite/arm32v7/Dockerfile
  src/aspnet/9.0/alpine3.21-composite/arm64v8/Dockerfile
  src/aspnet/9.0/alpine3.21/amd64/Dockerfile
  src/aspnet/9.0/alpine3.21/arm32v7/Dockerfile
  src/aspnet/9.0/alpine3.21/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.21-aot/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.21-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.21-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.21-extra/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.21-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.21-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.21/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.21/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.21/arm64v8/Dockerfile
  src/runtime-deps/9.0/alpine3.21-aot/amd64/Dockerfile
  src/runtime-deps/9.0/alpine3.21-aot/arm32v7/Dockerfile
  src/runtime-deps/9.0/alpine3.21-aot/arm64v8/Dockerfile
  src/runtime-deps/9.0/alpine3.21-extra/amd64/Dockerfile
  src/runtime-deps/9.0/alpine3.21-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/alpine3.21-extra/arm64v8/Dockerfile
  src/runtime-deps/9.0/alpine3.21/amd64/Dockerfile
  src/runtime-deps/9.0/alpine3.21/arm32v7/Dockerfile
  src/runtime-deps/9.0/alpine3.21/arm64v8/Dockerfile
  src/runtime/8.0/alpine3.21/amd64/Dockerfile
  src/runtime/8.0/alpine3.21/arm32v7/Dockerfile
  src/runtime/8.0/alpine3.21/arm64v8/Dockerfile
  src/runtime/9.0/alpine3.21/amd64/Dockerfile
  src/runtime/9.0/alpine3.21/arm32v7/Dockerfile
  src/runtime/9.0/alpine3.21/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.21-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.21-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.21/amd64/Dockerfile
  src/sdk/8.0/alpine3.21/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.21/arm64v8/Dockerfile
  src/sdk/9.0/alpine3.21-aot/amd64/Dockerfile
  src/sdk/9.0/alpine3.21-aot/arm64v8/Dockerfile
  src/sdk/9.0/alpine3.21/amd64/Dockerfile
  src/sdk/9.0/alpine3.21/arm32v7/Dockerfile
  src/sdk/9.0/alpine3.21/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/OS.cs
  tests/Microsoft.DotNet.Docker.Tests/StaticTagTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#6101 Remove .NET 6 references from documentation
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.monitor.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.aspnet.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  documentation/image-artifact-details.md
  documentation/scenarios/installing-dotnet.md
  documentation/scripts/Dockerfile.distroless-wrapper
  documentation/supported-tags.md
  documentation/vulnerability-reporting.md
  eng/readme-templates/FeaturedTags.md
  samples/aspnetapp/README.md
  samples/dotnetapp/README.md
  samples/selecting-tags.md
Labels: area-documentation, untriaged

#6096 Add repo onboarding instructions
  .github/ISSUE_TEMPLATE/releases/new-image-release.md
  .github/ISSUE_TEMPLATE/releases/new-repo-onboarding.md
  .github/linters/.linkspector.yml
  CONTRIBUTING.md
  documentation/vulnerability-reporting.md
Labels: area-samples, untriaged

#6107 Merge documentation changes from main to nightly
  .github/ISSUE_TEMPLATE/releases/new-image-release.md
  .github/ISSUE_TEMPLATE/releases/new-repo-onboarding.md
  .github/linters/.linkspector.yml
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  CONTRIBUTING.md
  README.aspnet.md
  README.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  documentation/image-artifact-details.md
  documentation/scenarios/installing-dotnet.md
  documentation/scripts/Dockerfile.distroless-wrapper
  documentation/supported-tags.md
  documentation/ubuntu-chiseled.md
  documentation/vulnerability-reporting.md
  eng/readme-templates/About.distroless.md
  samples/aspnetapp/README.md
  samples/dotnetapp/README.md
  samples/selecting-tags.md
Labels: area-documentation, untriaged

#6103 Enable product EOL support for annotations
  eng/pipelines/variables/core.yml
Labels: area-infrastructure, untriaged

#6108 Merge main to nightly
  eng/pipelines/dotnet-core-nightly-pr-no-cache.yml
  eng/pipelines/dotnet-core-nightly-pr.yml
  eng/pipelines/dotnet-core-nightly.yml
  eng/pipelines/variables/core.yml
Labels: area-infrastructure, untriaged

#6109 Update selecting tags documentation
  documentation/supported-tags.md
  documentation/vulnerability-reporting.md
  samples/selecting-tags.md
Labels: area-documentation, untriaged

#6115 Update Chisel to 1.0.0
  eng/dockerfile-templates/Dockerfile.linux.download-file
  eng/dockerfile-templates/runtime-deps/Dockerfile.chiseled-ubuntu
  manifest.versions.json
  src/runtime-deps/8.0/jammy-chiseled-aot/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm32v7/Dockerfile
  src/runtime-deps/8.0/jammy-chiseled/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-aot/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/8.0/noble-chiseled/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-aot/amd64/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-aot/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-aot/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/amd64/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm64v8/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/amd64/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm64v8/Dockerfile
Labels: area-infrastructure, untriaged

#6114 Allow updating tools/image components separately from .NET product versions
  eng/update-dependencies/ChiselUpdater.cs
  eng/update-dependencies/GitHubReleaseInfo.cs
  eng/update-dependencies/GitHubReleaseUpdaterBase.cs
  eng/update-dependencies/GitHubReleaseUrlUpdater.cs
  eng/update-dependencies/GitHubReleaseVersionUpdater.cs
  eng/update-dependencies/MinGitShaUpdater.cs
  eng/update-dependencies/MinGitUpdater.cs
  eng/update-dependencies/MinGitUrlUpdater.cs
  eng/update-dependencies/Options.cs
  eng/update-dependencies/RocksToolboxUpdater.cs
  eng/update-dependencies/SyftUpdater.cs
  eng/update-dependencies/Tools.cs
  eng/update-dependencies/UpdateDependencies.cs
Labels: area-infrastructure, untriaged

#6118 Enable nullable annotations in update-dependencies project
  eng/update-dependencies/BaseUrlUpdater.cs
  eng/update-dependencies/ChecksumHelper.cs
  eng/update-dependencies/ChiselUpdater.cs
  eng/update-dependencies/DockerfileShaUpdater.cs
  eng/update-dependencies/ErrorTraceListener.cs
  eng/update-dependencies/GitHubHelper.cs
  eng/update-dependencies/GitHubReleaseUpdaterBase.cs
  eng/update-dependencies/GitHubReleaseUrlUpdater.cs
  eng/update-dependencies/GitHubReleaseVersionUpdater.cs
  eng/update-dependencies/JsonHelper.cs
  eng/update-dependencies/ManifestHelper.cs
  eng/update-dependencies/MinGitUpdater.cs
  eng/update-dependencies/NuGetConfigUpdater.cs
  eng/update-dependencies/Options.cs
  eng/update-dependencies/RocksToolboxUpdater.cs
  eng/update-dependencies/ScriptRunnerUpdater.cs
  eng/update-dependencies/SyftUpdater.cs
  eng/update-dependencies/UpdateDependencies.cs
  eng/update-dependencies/VariableUpdaterBase.cs
  eng/update-dependencies/VersionUpdater.cs
  eng/update-dependencies/update-dependencies.csproj
Labels: area-infrastructure, untriaged

#6122 Submit separate PRs for each tool's dependency updates
  eng/pipelines/jobs/update-tools.yml
  eng/pipelines/update-dependencies.yml
Labels: area-infrastructure, untriaged
