Repository dotnet/dotnet-docker, pull requests merged in 2024-04, with the labels that each got.

#5320 Updating Aspire to latest
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestScenarios/AspireDashboardBasicScenario.cs
Labels: area-infrastructure, untriaged

#5324 Force new issues to have untriaged label
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: area-infrastructure, untriaged

#5323 Update links
  samples/README.md
Labels: area-documentation, untriaged

#5326 Adding Readme contents for the Aspire container image.
  .mar/portal/README.aspire-dashboard.portal.md
  README.aspire-dashboard.md
  eng/readme-templates/README.mcr.md
  eng/readme-templates/README.md
  eng/readme-templates/Use.aspire-dashboard.md
  eng/readme-templates/Use.md
Labels: area-documentation, untriaged

#5340 Update packages in complexapp sample
  samples/complexapp/tests/tests.csproj
Labels: area-samples, untriaged

#5342 Add additional test-dependencies in manifest for 8.0 Mariner distroless
  manifest.json
Labels: area-infrastructure, untriaged

#5343 Correct Aspire Dashboard image repo in manifest
  .mar/portal/README.aspire-dashboard.portal.md
  README.aspire-dashboard.md
  manifest.json
Labels: area-dockerfiles, untriaged

#5341 Update `Microsoft.TeamFoundationServer.Client` package in update-dependencies tool
  eng/update-dependencies/update-dependencies.csproj
Labels: area-infrastructure, untriaged

#5358 Update PowerShell for .NET 6, .NET 7 and .NET 8
  manifest.versions.json
  src/sdk/6.0/alpine3.18/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/6.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/alpine3.18/amd64/Dockerfile
  src/sdk/7.0/alpine3.19/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/amd64/Dockerfile
  src/sdk/7.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/7.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/7.0/bullseye-slim/amd64/Dockerfile
  src/sdk/7.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/7.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/7.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/7.0/jammy/amd64/Dockerfile
  src/sdk/7.0/jammy/arm32v7/Dockerfile
  src/sdk/7.0/jammy/arm64v8/Dockerfile
  src/sdk/7.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/7.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/7.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/alpine3.18/amd64/Dockerfile
  src/sdk/8.0/alpine3.19/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged

#5368 Update Aspire image to Preview 6 version
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Labels: untriaged

#5367 Update System.Data.SqlClient transient dependency in update-dependencies project
  eng/update-dependencies/update-dependencies.csproj
Labels: area-infrastructure, untriaged

#5372 Update link in README.md for samples dotnetapp
  samples/dotnetapp/README.md
Labels: area-samples, untriaged

#5370 [nightly] Update System.Data.SqlClient transient dependency in update-dependencies project
  eng/update-dependencies/update-dependencies.csproj
Labels: area-dockerfiles, untriaged

#5392 Updating aspire version to shipped Preview 6 build.
  README.aspire-dashboard.md
  manifest.versions.json
  src/aspire-dashboard/8.0/cbl-mariner-distroless/amd64/Dockerfile
  src/aspire-dashboard/8.0/cbl-mariner-distroless/arm64v8/Dockerfile
Labels: area-infrastructure, untriaged

#5382 Update Kubernetes samples
  samples/kubernetes/README.md
  samples/kubernetes/dotnet-monitor/README.md
  samples/kubernetes/environment.md
  samples/kubernetes/hello-dotnet/README.md
  samples/kubernetes/hello-dotnet/container-azm-ms-agentconfig.yaml
  samples/kubernetes/hello-dotnet/hello-dotnet-loadbalancer.yaml
  samples/kubernetes/hello-dotnet/hello-dotnet.yaml
  samples/kubernetes/non-root/README.md
  samples/kubernetes/non-root/non-root.yaml
  samples/kubernetes/replicas-and-health/README.md
  samples/kubernetes/replicas-and-health/replica-health.yaml
Labels: area-samples, untriaged

#5396 Use manifest version variables for .NET Monitor tags
  manifest.json
  manifest.versions.json
Labels: area-dockerfiles, untriaged

#5403 Remove .NET Monitor 9 chiseled images and simplify tags by removing OS
  README.monitor-base.md
  README.monitor.md
  eng/dockerfile-templates/monitor/Dockerfile.linux.extensions
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  manifest.json
  src/monitor-base/9.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor-base/9.0/ubuntu-chiseled/arm64v8/Dockerfile
  src/monitor/9.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor/9.0/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/9.0/ubuntu-chiseled/amd64/Dockerfile
  src/monitor/9.0/ubuntu-chiseled/arm64v8/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#5406 Increase CG Images pipeline timeout
  eng/pipelines/cg-images.yml
Labels: area-infrastructure, untriaged

#5405 Increase CG Images pipeline timeout
  eng/pipelines/cg-images.yml
Labels: area-infrastructure, untriaged
