Repository dotnet/dotnet-docker, pull requests merged in 2024-06, with the labels that each got.

#5532 Revert "Workaround symcrypt openssl issue in Azure Linux 3.0 base image"
  eng/dockerfile-templates/Dockerfile.linux.install-deps
  eng/dockerfile-templates/Dockerfile.linux.install-pkgs
  src/runtime-deps/8.0/azurelinux3.0-distroless-aot/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-extra/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0/arm64v8/Dockerfile
Labels: untriaged

#5535 Add Noble Arm32 Dockerfiles
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  manifest.json
  src/aspnet/9.0/noble-chiseled-composite-extra/arm32v7/Dockerfile
  src/aspnet/9.0/noble-chiseled-composite/arm32v7/Dockerfile
  src/aspnet/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/aspnet/9.0/noble-chiseled/arm32v7/Dockerfile
  src/aspnet/9.0/noble/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-aot/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble-chiseled/arm32v7/Dockerfile
  src/runtime-deps/9.0/noble/arm32v7/Dockerfile
  src/runtime/9.0/noble-chiseled-extra/arm32v7/Dockerfile
  src/runtime/9.0/noble-chiseled/arm32v7/Dockerfile
  src/runtime/9.0/noble/arm32v7/Dockerfile
  src/sdk/9.0/noble/arm32v7/Dockerfile
  tests/Microsoft.DotNet.Docker.Tests/TestData.cs
  tests/performance/ImageSize.nightly.linux.json
Labels: area-dockerfiles, untriaged

#5546 Upgrade to PowerShell 7.2.20
  manifest.versions.json
  src/sdk/6.0/alpine3.19/amd64/Dockerfile
  src/sdk/6.0/alpine3.20/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/6.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: untriaged

#5551 Fix SDK installation in 9.0 Noble arm32 Dockerfile
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
  src/sdk/9.0/noble/arm32v7/Dockerfile
Labels: area-infrastructure, untriaged

#5553 Remove trailing comma in manifest.json
  manifest.json
Labels: area-dockerfiles, untriaged

#5552 Merge main to nightly
  .github/ISSUE_TEMPLATE/releases/dotnet-release-lifecycle.md
  README.sdk.md
  manifest.versions.json
  src/aspnet/9.0/cbl-mariner2.0-distroless-composite-extra/amd64/Dockerfile
  src/aspnet/9.0/cbl-mariner2.0-distroless-composite-extra/arm64v8/Dockerfile
  src/aspnet/9.0/cbl-mariner2.0-distroless-extra/amd64/Dockerfile
  src/aspnet/9.0/cbl-mariner2.0-distroless-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.19/alpine3.19-aot/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.19/alpine3.19-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.19/alpine3.19-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/alpine3.19/alpine3.19-extra/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.19/alpine3.19-extra/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.19/alpine3.19-extra/arm64v8/Dockerfile
  src/runtime/9.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.19-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.19-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.19/amd64/Dockerfile
  src/sdk/8.0/alpine3.19/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.19/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.20-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.20-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.20/amd64/Dockerfile
  src/sdk/8.0/alpine3.20/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.20/arm64v8/Dockerfile
  src/sdk/8.0/azurelinux3.0-aot/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0-aot/arm64v8/Dockerfile
  src/sdk/8.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0-aot/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0-aot/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy-aot/amd64/Dockerfile
  src/sdk/8.0/jammy-aot/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/noble-aot/amd64/Dockerfile
  src/sdk/8.0/noble-aot/arm64v8/Dockerfile
  src/sdk/8.0/noble/amd64/Dockerfile
  src/sdk/8.0/noble/arm64v8/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: untriaged

#5554 Remove unused Dockerfiles from main
  src/runtime-deps/8.0/alpine3.20-aot/amd64/Dockerfile
  src/runtime-deps/8.0/alpine3.20-aot/arm32v7/Dockerfile
  src/runtime-deps/8.0/alpine3.20-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.20-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.20-aot/arm64v8/Dockerfile
  src/sdk/9.0/alpine3.20-aot/amd64/Dockerfile
  src/sdk/9.0/alpine3.20-aot/arm64v8/Dockerfile
  src/sdk/9.0/azurelinux3.0-aot/amd64/Dockerfile
  src/sdk/9.0/azurelinux3.0-aot/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#5563 Merge main to nightly
  tests/Microsoft.DotNet.Docker.Tests/GeneratedArtifactTests.cs
Labels: area-infrastructure, untriaged

#5568 Re-enable readme validation
  tests/Microsoft.DotNet.Docker.Tests/GeneratedArtifactTests.cs
Labels: area-documentation, untriaged

#5571 Merge main to nightly
  tests/Microsoft.DotNet.Docker.Tests/GeneratedArtifactTests.cs
Labels: area-infrastructure, untriaged

#5574 Include Aspire Dashboard in Featured Repos
  README.md
  eng/readme-templates/README.md
Labels: area-documentation, untriaged

#5578 Update PowerShell for .NET 6 and .NET 8
  manifest.versions.json
  src/sdk/6.0/alpine3.19/amd64/Dockerfile
  src/sdk/6.0/alpine3.20/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/6.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/alpine3.19/amd64/Dockerfile
  src/sdk/8.0/alpine3.20/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/noble/amd64/Dockerfile
  src/sdk/8.0/noble/arm64v8/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged

#5579 Update .NET 6 and .NET 8 sdk images for PowerShell hotfix
  README.sdk.md
  manifest.json
  manifest.versions.json
  src/sdk/6.0/alpine3.19/amd64/Dockerfile
  src/sdk/6.0/alpine3.20/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/6.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/alpine3.19/amd64/Dockerfile
  src/sdk/8.0/alpine3.20/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/noble/amd64/Dockerfile
  src/sdk/8.0/noble/arm64v8/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-infrastructure, untriaged

#5603 Define separate dirs for Docker Hub and MAR docs
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.monitor-base.portal.md
  .portal-docs/mar/README.monitor.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  eng/readme-templates/Get-GeneratedReadmes.ps1
  manifest.json
  manifest.samples.json
Labels: area-infrastructure, untriaged

#5609 Add aspire-dashboard to every Related Repositories readme section
  README.aspnet.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/RelatedRepos.md
Labels: area-documentation, untriaged

#5614 Remove `-1` tag suffix for sdk
  README.sdk.md
  eng/dockerfile-templates/sdk/Dockerfile.linux.aot
  manifest.json
  src/sdk/8.0/alpine3.19-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.19-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.20-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.20-aot/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0-aot/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0-aot/arm64v8/Dockerfile
  src/sdk/8.0/jammy-aot/amd64/Dockerfile
  src/sdk/8.0/jammy-aot/arm64v8/Dockerfile
  src/sdk/8.0/noble-aot/amd64/Dockerfile
  src/sdk/8.0/noble-aot/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#5619 Disable PowerShell tests for .NET 9 on Arm32
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure, untriaged

#5622 Use new URL format for Docker Hub pages
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  README.aspire-dashboard.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/Url.md
Labels: area-documentation, untriaged
