Repository dotnet/dotnet-docker, pull requests merged in 2024-08, with the labels that each got.

#5749 Remove unused pipeline yaml
  eng/common/templates/steps/copy-base-images-staging.yml
  eng/pipelines/wait-for-ingestion.yml
Labels: area-infrastructure, untriaged

#5758 Package upgrade for update-dependencies
  eng/update-dependencies/update-dependencies.csproj
Labels: area-infrastructure, untriaged

#5762 Add Markdown linter GH action
  .github/workflows/markdownlint-problem-matcher.json
  .github/workflows/markdownlint.yml
  .markdownlint.json
Labels: area-infrastructure, untriaged

#5764 Fix markdown syntax violations
  .github/workflows/markdownlint.yml
  .markdownlint.json
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.samples.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.monitor-base.portal.md
  .portal-docs/mar/README.monitor.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.samples.portal.md
  .portal-docs/mar/README.sdk.portal.md
  CONTRIBUTING.md
  README.aspire-dashboard.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  SECURITY.md
  documentation/azurelinux.md
  documentation/distroless.md
  documentation/image-variants.md
  documentation/supported-tags.md
  documentation/ubuntu-chiseled.md
  eng/readme-templates/About.product-family.md
  eng/readme-templates/Support.md
  eng/readme-templates/Use.aspire-dashboard.md
  samples/build-for-a-platform.md
  samples/build-in-sdk-container.md
  samples/releasesapi/README.md
  samples/releasesapp/README.md
  samples/run-aspnetcore-https-development.md
Labels: untriaged

#5765 Fix markdown syntax violations
  .markdownlint.json
  .portal-docs/docker-hub/README.aspire-dashboard.md
  .portal-docs/mar/README.aspire-dashboard.portal.md
  README.aspire-dashboard.md
  SECURITY.md
  documentation/distroless.md
  documentation/image-artifact-details.md
  documentation/scenarios/nuget-credentials.md
  documentation/supported-tags.md
  documentation/ubuntu-chiseled.md
  eng/readme-templates/Use.aspire-dashboard.md
  samples/aspnetapp/README.md
  samples/build-for-a-platform.md
  samples/enable-globalization.md
  samples/kubernetes/dotnet-monitor/README.md
  samples/kubernetes/graceful-shutdown/README.md
  samples/kubernetes/hello-dotnet/README.md
  samples/kubernetes/manual-deployment/README.md
  samples/kubernetes/replicas-and-health/README.md
  samples/kubernetes/resource-limits/README.md
  samples/run-aspnetcore-https-development.md
Labels: area-documentation, untriaged

#5775 Remove the link to the obsolete dotnet/core full tag listing
  README.aspnet.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/DefaultLayout.md
Labels: area-dockerfiles, untriaged

#5779 Use Azure Linux 3.0 images from MAR
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.linux
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/aspnet/Dockerfile.linux-composite
  eng/dockerfile-templates/monitor-base/Dockerfile.linux
  eng/dockerfile-templates/monitor/Dockerfile.linux
  eng/dockerfile-templates/monitor/Dockerfile.linux.extensions
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.distroless-mariner
  eng/dockerfile-templates/runtime/Dockerfile.linux
  src/aspnet/8.0/azurelinux3.0-distroless-composite-extra/amd64/Dockerfile
  src/aspnet/8.0/azurelinux3.0-distroless-composite-extra/arm64v8/Dockerfile
  src/aspnet/8.0/azurelinux3.0-distroless-composite/amd64/Dockerfile
  src/aspnet/8.0/azurelinux3.0-distroless-composite/arm64v8/Dockerfile
  src/aspnet/8.0/azurelinux3.0-distroless-extra/amd64/Dockerfile
  src/aspnet/8.0/azurelinux3.0-distroless-extra/arm64v8/Dockerfile
  src/aspnet/8.0/azurelinux3.0-distroless/amd64/Dockerfile
  src/aspnet/8.0/azurelinux3.0-distroless/arm64v8/Dockerfile
  src/aspnet/9.0/azurelinux3.0-distroless-composite-extra/amd64/Dockerfile
  src/aspnet/9.0/azurelinux3.0-distroless-composite-extra/arm64v8/Dockerfile
  src/aspnet/9.0/azurelinux3.0-distroless-composite/amd64/Dockerfile
  src/aspnet/9.0/azurelinux3.0-distroless-composite/arm64v8/Dockerfile
  src/aspnet/9.0/azurelinux3.0-distroless-extra/amd64/Dockerfile
  src/aspnet/9.0/azurelinux3.0-distroless-extra/arm64v8/Dockerfile
  src/aspnet/9.0/azurelinux3.0-distroless/amd64/Dockerfile
  src/aspnet/9.0/azurelinux3.0-distroless/arm64v8/Dockerfile
  src/monitor-base/9.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor-base/9.0/azurelinux-distroless/arm64v8/Dockerfile
  src/monitor/9.0/azurelinux-distroless/amd64/Dockerfile
  src/monitor/9.0/azurelinux-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-aot/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-aot/arm64v8/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-extra/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless-extra/arm64v8/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0/amd64/Dockerfile
  src/runtime-deps/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/runtime-deps/9.0/azurelinux3.0-distroless-aot/amd64/Dockerfile
  src/runtime-deps/9.0/azurelinux3.0-distroless-aot/arm64v8/Dockerfile
  src/runtime-deps/9.0/azurelinux3.0-distroless-extra/amd64/Dockerfile
  src/runtime-deps/9.0/azurelinux3.0-distroless-extra/arm64v8/Dockerfile
  src/runtime-deps/9.0/azurelinux3.0-distroless/amd64/Dockerfile
  src/runtime-deps/9.0/azurelinux3.0-distroless/arm64v8/Dockerfile
  src/runtime-deps/9.0/azurelinux3.0/amd64/Dockerfile
  src/runtime-deps/9.0/azurelinux3.0/arm64v8/Dockerfile
  src/runtime/8.0/azurelinux3.0-distroless-extra/amd64/Dockerfile
  src/runtime/8.0/azurelinux3.0-distroless-extra/arm64v8/Dockerfile
  src/runtime/8.0/azurelinux3.0-distroless/amd64/Dockerfile
  src/runtime/8.0/azurelinux3.0-distroless/arm64v8/Dockerfile
  src/runtime/9.0/azurelinux3.0-distroless-extra/amd64/Dockerfile
  src/runtime/9.0/azurelinux3.0-distroless-extra/arm64v8/Dockerfile
  src/runtime/9.0/azurelinux3.0-distroless/amd64/Dockerfile
  src/runtime/9.0/azurelinux3.0-distroless/arm64v8/Dockerfile
Labels: area-dockerfiles, untriaged

#5776 Modified Markdown intended to be read in GitHub to utilize [!NOTE] format
  .markdownlint.json
  documentation/image-artifact-details.md
  documentation/scenarios/nuget-credentials.md
  documentation/supported-tags.md
  samples/aspnetapp/README.md
  samples/build-for-a-platform.md
  samples/complexapp/README.md
  samples/deploy-container-to-aci.md
  samples/host-aspnetcore-https.md
  samples/kubernetes/graceful-shutdown/graceful-shutdown.md
  samples/push-image-to-acr.md
  samples/push-image-to-dockerhub.md
  samples/releasesapi/README.md
  samples/run-aspnetcore-https-development.md
  samples/run-in-sdk-container.md
  samples/run-tests-in-sdk-container.md
Labels: area-infrastructure, untriaged

#5777 Fix markdown syntax violations
  .markdownlint.json
  README.md
  documentation/azurelinux.md
  documentation/image-variants.md
  documentation/scenarios/nuget-credentials.md
  eng/pipelines/README.md
  eng/readme-templates/About.product-family.md
  samples/build-for-a-platform.md
  samples/enable-globalization.md
  samples/releasesapp/README.md
Labels: area-documentation, untriaged

#5769 Add syft updater
  eng/update-dependencies/SyftUpdater.cs
  eng/update-dependencies/UpdateDependencies.cs
Labels: untriaged

#5782 Configure duplicate headers markdown rule and address violations
  .markdownlint.json
  documentation/vulnerability-reporting.md
  samples/run-in-sdk-container.md
Labels: area-documentation, untriaged

#5770 Drop caveats about dev cert trust on Linux
  samples/host-aspnetcore-https.md
  samples/run-aspnetcore-https-development.md
Labels: area-dockerfiles, untriaged

#5771 Run VerifyDotnetFolderContents test on all images
  tests/Microsoft.DotNet.Docker.Tests/DockerHelper.cs
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.copy
  tests/Microsoft.DotNet.Docker.Tests/TestAppArtifacts/Dockerfile.distroless
Labels: area-infrastructure, untriaged

#5783 Fix issues with Get-DropVersions.ps1 using Build ID
  eng/Get-DropVersions.ps1
Labels: area-infrastructure, untriaged

#5786 Don't validate failures for BlazorWASM test
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure, untriaged

#5801 Update .NET SDK to 8.0.401
  README.sdk.md
  eng/Get-DropVersions.ps1
  manifest.versions.json
  src/sdk/8.0/alpine3.19/amd64/Dockerfile
  src/sdk/8.0/alpine3.19/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.19/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.20/amd64/Dockerfile
  src/sdk/8.0/alpine3.20/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.20/arm64v8/Dockerfile
  src/sdk/8.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/noble/amd64/Dockerfile
  src/sdk/8.0/noble/arm64v8/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles, untriaged

#5804 Merge main to nightly (August 2024 OOB)
  .markdownlint.json
  README.aspire-dashboard.md
  README.aspnet.md
  README.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.samples.md
  README.sdk.md
  eng/readme-templates/DefaultLayout.md
  eng/readme-templates/GitHub.header.md
  eng/readme-templates/README.dockerhub.md
  eng/readme-templates/README.github.md
  manifest.versions.json
  src/sdk/8.0/alpine3.19-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.19-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.19/amd64/Dockerfile
  src/sdk/8.0/alpine3.19/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.19/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.20-aot/amd64/Dockerfile
  src/sdk/8.0/alpine3.20-aot/arm64v8/Dockerfile
  src/sdk/8.0/alpine3.20/amd64/Dockerfile
  src/sdk/8.0/alpine3.20/arm32v7/Dockerfile
  src/sdk/8.0/alpine3.20/arm64v8/Dockerfile
  src/sdk/8.0/azurelinux3.0-aot/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0-aot/arm64v8/Dockerfile
  src/sdk/8.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0-aot/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0-aot/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy-aot/amd64/Dockerfile
  src/sdk/8.0/jammy-aot/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/noble-aot/amd64/Dockerfile
  src/sdk/8.0/noble-aot/arm64v8/Dockerfile
  src/sdk/8.0/noble/amd64/Dockerfile
  src/sdk/8.0/noble/arm64v8/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-dockerfiles, untriaged

#5800 Update new distro release checklist to specify creating issue for Alpine Dockerfiles removal
  .github/ISSUE_TEMPLATE/new-distro-release.md
Labels: untriaged

#5805 Add supported tags and platforms policy for application/tooling images
  documentation/supported-platforms.md
  documentation/supported-tags.md
Labels: area-dockerfiles, untriaged

#5810 Fix incorrect header level in supported platforms documentation
  documentation/supported-platforms.md
Labels: area-documentation, untriaged

#5809 Switch markdownlint GH action to use super-linter
  .github/linters/.markdown-lint.yml
  .github/workflows/lint-code-base.yml
  .github/workflows/markdownlint-problem-matcher.json
  .github/workflows/markdownlint.yml
  .markdownlint.json
  samples/aspnetapp/README.md
  samples/releasesapi/README.md
Labels: untriaged

#5814 Only skip SDK content tests on CBL-Mariner + .NET 6.0
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure, untriaged

#5819 [Nightly] Only skip SDK content tests on CBL-Mariner + .NET 6.0 (#5814)
  tests/Microsoft.DotNet.Docker.Tests/SdkImageTests.cs
Labels: area-infrastructure, untriaged

#5823 update pwsh to 7.2.23
  manifest.versions.json
  src/sdk/6.0/alpine3.19/amd64/Dockerfile
  src/sdk/6.0/alpine3.20/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/amd64/Dockerfile
  src/sdk/6.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/6.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/6.0/bullseye-slim/amd64/Dockerfile
  src/sdk/6.0/bullseye-slim/arm32v7/Dockerfile
  src/sdk/6.0/bullseye-slim/arm64v8/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/6.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/6.0/focal/amd64/Dockerfile
  src/sdk/6.0/focal/arm32v7/Dockerfile
  src/sdk/6.0/focal/arm64v8/Dockerfile
  src/sdk/6.0/jammy/amd64/Dockerfile
  src/sdk/6.0/jammy/arm32v7/Dockerfile
  src/sdk/6.0/jammy/arm64v8/Dockerfile
  src/sdk/6.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/6.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/6.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: untriaged

#5820 Update linter to validate all code
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/new-windows-release.md
  .github/ISSUE_TEMPLATE/releases/dotnet-release-lifecycle.md
  .github/workflows/lint-code-base.yml
Labels: area-infrastructure, untriaged

#5824 Update for PowerShell v7.4.5 release
  manifest.versions.json
  src/sdk/8.0/alpine3.19/amd64/Dockerfile
  src/sdk/8.0/alpine3.20/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/amd64/Dockerfile
  src/sdk/8.0/azurelinux3.0/arm64v8/Dockerfile
  src/sdk/8.0/bookworm-slim/amd64/Dockerfile
  src/sdk/8.0/bookworm-slim/arm32v7/Dockerfile
  src/sdk/8.0/bookworm-slim/arm64v8/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/amd64/Dockerfile
  src/sdk/8.0/cbl-mariner2.0/arm64v8/Dockerfile
  src/sdk/8.0/jammy/amd64/Dockerfile
  src/sdk/8.0/jammy/arm32v7/Dockerfile
  src/sdk/8.0/jammy/arm64v8/Dockerfile
  src/sdk/8.0/nanoserver-1809/amd64/Dockerfile
  src/sdk/8.0/nanoserver-ltsc2022/amd64/Dockerfile
  src/sdk/8.0/noble/amd64/Dockerfile
  src/sdk/8.0/noble/arm64v8/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2019/amd64/Dockerfile
  src/sdk/8.0/windowsservercore-ltsc2022/amd64/Dockerfile
Labels: area-release, untriaged

#5822 Normalize base url variable names
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.linux.install-aspire-dashboard
  eng/dockerfile-templates/aspnet/Dockerfile.linux
  eng/dockerfile-templates/aspnet/Dockerfile.linux-composite
  eng/dockerfile-templates/aspnet/Dockerfile.linux.install-aspnet
  eng/dockerfile-templates/aspnet/Dockerfile.windows
  eng/dockerfile-templates/aspnet/Dockerfile.windows.install-aspnet
  eng/dockerfile-templates/monitor-base/Dockerfile.linux.install-monitor-base
  eng/dockerfile-templates/monitor/Dockerfile.linux.install-extensions
  eng/dockerfile-templates/monitor/Dockerfile.linux.install-monitor
  eng/dockerfile-templates/runtime-deps/Dockerfile
  eng/dockerfile-templates/runtime-deps/Dockerfile.download-runtime-deps-pkg
  eng/dockerfile-templates/runtime/Dockerfile.linux
  eng/dockerfile-templates/runtime/Dockerfile.linux.install-runtime
  eng/dockerfile-templates/runtime/Dockerfile.windows
  eng/dockerfile-templates/runtime/Dockerfile.windows.install-runtime
  eng/dockerfile-templates/sdk/Dockerfile.linux
  eng/dockerfile-templates/sdk/Dockerfile.linux.install-sdk
  eng/dockerfile-templates/sdk/Dockerfile.windows
  eng/dockerfile-templates/sdk/Dockerfile.windows.install-sdk
  eng/update-dependencies/ManifestHelper.cs
  manifest.versions.json
  tests/Microsoft.DotNet.Docker.Tests/Config.cs
Labels: area-dockerfiles, untriaged

#5818 Add Check Markdown Link GH action
  .github/ISSUE_TEMPLATE/new-distro-release.md
  .github/ISSUE_TEMPLATE/new-windows-release.md
  .github/ISSUE_TEMPLATE/releases/dotnet-release-lifecycle.md
  .github/linters/.check-markdown-links.json
  .github/workflows/check-markdown-links.yml
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/mar/README.runtime-deps.portal.md
  README.runtime-deps.md
  documentation/guiding-principles.md
  documentation/image-artifact-details.md
  documentation/image-variants.md
  documentation/scenarios/installing-dotnet.md
  documentation/scenarios/using-system-drawing-common.md
  documentation/vulnerability-reporting.md
  eng/readme-templates/DefaultLayout.md
  eng/readme-templates/Use.runtime-deps.md
  samples/README.md
  samples/build-for-a-platform.md
  samples/build-in-sdk-container.md
  samples/complexapp/Dockerfile
  samples/run-tests-in-sdk-container.md
  samples/selecting-tags.md
Labels: area-documentation, untriaged

#5828 Merge main to nightly
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/new-distro-release.md
  .github/ISSUE_TEMPLATE/new-windows-release.md
  .github/ISSUE_TEMPLATE/releases/dotnet-release-lifecycle.md
  .github/linters/.check-markdown-links.json
  .github/linters/.markdown-lint.yml
  .github/workflows/check-markdown-links.yml
  .github/workflows/lint-code-base.yml
  .github/workflows/markdownlint-problem-matcher.json
  .github/workflows/markdownlint.yml
  .markdownlint.json
  .portal-docs/README.aspire-dashboard.md
  .portal-docs/README.aspire-dashboard.portal.md
  .portal-docs/README.aspnet.md
  .portal-docs/README.aspnet.portal.md
  .portal-docs/README.monitor-base.md
  .portal-docs/README.monitor-base.portal.md
  .portal-docs/README.monitor.md
  .portal-docs/README.monitor.portal.md
  .portal-docs/README.runtime-deps.md
  .portal-docs/README.runtime-deps.portal.md
  .portal-docs/README.runtime.md
  .portal-docs/README.runtime.portal.md
  .portal-docs/README.samples.md
  .portal-docs/README.samples.portal.md
  .portal-docs/README.sdk.md
  .portal-docs/README.sdk.portal.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/mar/README.runtime-deps.portal.md
  README.runtime-deps.md
  documentation/guiding-principles.md
  documentation/image-artifact-details.md
  documentation/image-variants.md
  documentation/scenarios/installing-dotnet.md
  documentation/scenarios/using-system-drawing-common.md
  documentation/supported-platforms.md
  documentation/supported-tags.md
  documentation/vulnerability-reporting.md
  eng/readme-templates/DefaultLayout.md
  eng/readme-templates/Use.runtime-deps.md
  samples/README.md
  samples/build-for-a-platform.md
  samples/build-in-sdk-container.md
  samples/complexapp/Dockerfile
  samples/run-tests-in-sdk-container.md
  samples/selecting-tags.md
Labels: area-infrastructure, untriaged

#5833 Allow update-dependencies to update product base URL
  eng/DependencyManagement.psm1
  eng/Set-DotnetVersions.ps1
  eng/pipelines/steps/update-dotnet-dependencies.yml
  eng/pipelines/update-dependencies-monitor.yml
  eng/update-dependencies/BaseUrlUpdater.cs
  eng/update-dependencies/ManifestHelper.cs
  eng/update-dependencies/Options.cs
Labels: area-infrastructure, untriaged

#5835 Simplify appliance product base URL calculation
  eng/dockerfile-templates/aspire-dashboard/Dockerfile.linux.install-aspire-dashboard
  eng/dockerfile-templates/monitor-base/Dockerfile.linux.install-monitor-base
  eng/dockerfile-templates/monitor/Dockerfile.linux.install-extensions
  eng/dockerfile-templates/monitor/Dockerfile.linux.install-monitor
Labels: area-infrastructure, untriaged

#5836 Add pipeline parameter for CG dry run
  eng/pipelines/cg-code.yml
Labels: area-infrastructure, untriaged

#5821 Switch to non-preview tagging pattern for .NET 9
  .portal-docs/docker-hub/README.aspnet.md
  .portal-docs/docker-hub/README.monitor-base.md
  .portal-docs/docker-hub/README.monitor.md
  .portal-docs/docker-hub/README.runtime-deps.md
  .portal-docs/docker-hub/README.runtime.md
  .portal-docs/docker-hub/README.sdk.md
  .portal-docs/mar/README.aspnet.portal.md
  .portal-docs/mar/README.monitor-base.portal.md
  .portal-docs/mar/README.monitor.portal.md
  .portal-docs/mar/README.runtime-deps.portal.md
  .portal-docs/mar/README.runtime.portal.md
  .portal-docs/mar/README.sdk.portal.md
  README.aspnet.md
  README.monitor-base.md
  README.monitor.md
  README.runtime-deps.md
  README.runtime.md
  README.sdk.md
  eng/mcr-tags-metadata-templates/aspnet-tags.yml
  eng/mcr-tags-metadata-templates/monitor-base-tags.yml
  eng/mcr-tags-metadata-templates/monitor-tags.yml
  eng/mcr-tags-metadata-templates/runtime-deps-tags.yml
  eng/mcr-tags-metadata-templates/runtime-tags.yml
  eng/mcr-tags-metadata-templates/sdk-tags.yml
  eng/readme-templates/FeaturedTags.md
  manifest.versions.json
  tests/Microsoft.DotNet.Docker.Tests/ImageVersion.cs
Labels: area-infrastructure, untriaged
